In [42]:
import pandas as pd
import os
import replicaEVSE.datautils as datautils

%reload_ext autoreload
%autoreload 2

pd.set_option('display.max_columns', None)

mode = 'PRIVATE_AUTO'
test = False
datadir = '../../data/'

In [28]:
#Created in the EIA_data_download.ipynb notebook
existing_load=pd.read_csv(datadir+'EIA_demand_summary.csv') 
if test:
    # df = pd.read_parquet(os.path.join(datadir, 'wa_pop_and_trips_subsample.parquet'))
    df = pd.read_parquet(os.path.join(datadir, 'wa_pop_and_trips_sorted_county.parquet'))
    df = df.head(10000)
    df = df.loc[df['mode'] == mode]
    simulation_id = 'dev'

else: 
    # read in the joined trips and population data sets
    merged_df = pd.read_parquet(os.path.join(datadir, 'wa_pop_and_trips_sorted_county.parquet'))

    # right now, only look at private auto trips
    df = merged_df.loc[merged_df['mode'] == mode]
    # take out the mobile and commercial MHDV

# Dwell time

### test how to calculate stop duration or dwell time for all vehicles in the priave auto/ldv subset of the replica trip data. 

We want to do this in a more efficient manner than looping over each person in the dataset. This is still slow, 3 hours on 512Gb ram VM. 

The code to run this on the full dataset is in /scrips/add_dwell_time.py

In [50]:
groupby_df_stop_dur = df.head(100000).groupby(['person_id', 'weekday']).apply(datautils.calculate_stop_duration).reset_index(drop=True)

In [38]:
groupby_df_stop_dur[['person_id', 'start_time', 'end_time', 'stop_duration', 'weekday']].reset_index(drop=True).head(23)

,person_id,start_time,end_time,stop_duration,weekday
0,10000002909730821040,0 days 13:28:23,0 days 13:51:27,0 days 07:12:54,saturday
1,10000002909730821040,0 days 21:04:21,0 days 21:38:18,0 days 15:50:05,saturday
2,10000002909730821040,0 days 08:20:42,0 days 08:39:00,0 days 00:33:45,thursday
3,10000002909730821040,0 days 09:12:45,0 days 09:19:56,0 days 04:09:34,thursday
4,10000002909730821040,0 days 13:29:30,0 days 13:39:45,0 days 00:58:40,thursday
5,10000002909730821040,0 days 14:38:25,0 days 14:48:33,0 days 01:07:11,thursday
6,10000002909730821040,0 days 15:55:44,0 days 16:10:30,0 days 05:57:23,thursday
7,10000002909730821040,0 days 22:07:53,0 days 22:16:46,0 days 00:22:28,thursday
8,10000002909730821040,0 days 22:39:14,0 days 23:06:23,0 days 09:14:19,thursday
9,10000003183049770926,0 days 11:35:32,0 days 11:44:09,0 days 01:35:59,saturday
10,10000003183049770926,0 days 13:20:08,0 days 13:26:13,0 days 22:09:19,saturday
11,10000003183049770926,0 days 19:29:21,0 days 19:45:47,0 days 01:00:10,thursday
12,10000003183049770926,0 days 20:45:57,0 days 21:01:01,0 days 22:28:20,thursday
13,10000005160936665771,0 days 17:47:00,0 days 19:23:02,0 days 22:23:58,saturday
14,10000013294719422231,0 days 09:28:46,0 days 09:31:14,0 days 00:54:19,thursday
15,10000013294719422231,0 days 10:25:33,0 days 10:28:01,0 days 23:00:45,thursday
16,10000015626584625931,0 days 09:04:05,0 days 09:12:00,0 days 04:16:58,saturday
17,10000015626584625931,0 days 13:28:58,0 days 13:38:18,0 days 04:33:25,saturday
18,10000015626584625931,0 days 18:11:43,0 days 18:25:43,0 days 00:11:33,saturday
19,10000015626584625931,0 days 18:37:16,0 days 18:50:39,0 days 14:13:26,saturday
20,10000015626584625931,0 days 14:19:41,0 days 14:37:29,0 days 01:05:44,thursday
21,10000015626584625931,0 days 15:43:13,0 days 15:49:22,0 days 00:09:03,thursday
22,10000015626584625931,0 days 15:58:25,0 days 16:07:07,0 days 22:12:34,thursday

## test the parallel implementation

    - single computation is 1min 35s
    - parallel compution is 40s

In [51]:
import joblib
import replicaEVSE.datautils as simdu
groups = df.head(100000).groupby(['person_id', 'weekday'])
out = joblib.Parallel(verbose=10, n_jobs=60)(joblib.delayed(simdu.calculate_stop_duration)(group) for name, group in groups)
df_paralell = pd.concat(out).reset_index(drop=True)

[Parallel(n_jobs=60)]: Using backend LokyBackend with 60 concurrent workers.

[Parallel(n_jobs=60)]: Done   8 tasks      | elapsed:   10.3s
[Parallel(n_jobs=60)]: Done  25 tasks      | elapsed:   10.4s
[Parallel(n_jobs=60)]: Done  42 tasks      | elapsed:   10.4s
[Parallel(n_jobs=60)]: Done  61 tasks      | elapsed:   10.4s
[Parallel(n_jobs=60)]: Batch computation too fast (0.1951s.) Setting batch_size=2.
[Parallel(n_jobs=60)]: Done  80 tasks      | elapsed:   10.5s
[Parallel(n_jobs=60)]: Done 101 tasks      | elapsed:   10.5s
[Parallel(n_jobs=60)]: Done 122 tasks      | elapsed:   10.5s
[Parallel(n_jobs=60)]: Done 145 tasks      | elapsed:   10.6s
[Parallel(n_jobs=60)]: Done 168 tasks      | elapsed:   10.6s
[Parallel(n_jobs=60)]: Done 193 tasks      | elapsed:   10.6s
[Parallel(n_jobs=60)]: Done 218 tasks      | elapsed:   10.7s
[Parallel(n_jobs=60)]: Batch computation too fast (0.1751s.) Setting batch_size=4.
[Parallel(n_jobs=60)]: Done 251 tasks      | elapsed:   10.7s
[Parallel(n_jobs=60)]: Done 305 tasks      | elapsed:   10.8s
[Parallel(n_jobs=60)]: Done 363 tasks      | elapsed:   10.8s
[Parallel(n_jobs=60)]: Done 421 tasks      | elapsed:   10.8s
[Parallel(n_jobs=60)]: Batch computation too fast (0.1078s.) Setting batch_size=8.
[Parallel(n_jobs=60)]: Done 487 tasks      | elapsed:   10.9s
[Parallel(n_jobs=60)]: Done 608 tasks      | elapsed:   11.0s
[Parallel(n_jobs=60)]: Done 740 tasks      | elapsed:   11.0s
[Parallel(n_jobs=60)]: Done 872 tasks      | elapsed:   11.1s
[Parallel(n_jobs=60)]: Done 1064 tasks      | elapsed:   11.2s
[Parallel(n_jobs=60)]: Done 1344 tasks      | elapsed:   11.3s
[Parallel(n_jobs=60)]: Done 1640 tasks      | elapsed:   11.4s
[Parallel(n_jobs=60)]: Done 1936 tasks      | elapsed:   11.6s
[Parallel(n_jobs=60)]: Done 2248 tasks      | elapsed:   11.7s
[Parallel(n_jobs=60)]: Done 2560 tasks      | elapsed:   11.8s
[Parallel(n_jobs=60)]: Done 2888 tasks      | elapsed:   11.9s
[Parallel(n_jobs=60)]: Done 3216 tasks      | elapsed:   12.0s
[Parallel(n_jobs=60)]: Done 3560 tasks      | elapsed:   12.2s
[Parallel(n_jobs=60)]: Done 3904 tasks      | elapsed:   12.3s
[Parallel(n_jobs=60)]: Done 4264 tasks      | elapsed:   12.4s
[Parallel(n_jobs=60)]: Done 4624 tasks      | elapsed:   12.5s
[Parallel(n_jobs=60)]: Done 5000 tasks      | elapsed:   12.7s
[Parallel(n_jobs=60)]: Done 5376 tasks      | elapsed:   12.8s
[Parallel(n_jobs=60)]: Done 5768 tasks      | elapsed:   12.9s
[Parallel(n_jobs=60)]: Done 6160 tasks      | elapsed:   13.1s
[Parallel(n_jobs=60)]: Done 6568 tasks      | elapsed:   13.2s
[Parallel(n_jobs=60)]: Done 6976 tasks      | elapsed:   13.4s
[Parallel(n_jobs=60)]: Done 7400 tasks      | elapsed:   13.5s
[Parallel(n_jobs=60)]: Done 7824 tasks      | elapsed:   13.7s
[Parallel(n_jobs=60)]: Done 8264 tasks      | elapsed:   13.9s
[Parallel(n_jobs=60)]: Done 8704 tasks      | elapsed:   14.0s
[Parallel(n_jobs=60)]: Done 9160 tasks      | elapsed:   14.2s
[Parallel(n_jobs=60)]: Done 9616 tasks      | elapsed:   14.3s
[Parallel(n_jobs=60)]: Done 10088 tasks      | elapsed:   14.5s
[Parallel(n_jobs=60)]: Done 10560 tasks      | elapsed:   14.7s
[Parallel(n_jobs=60)]: Done 11048 tasks      | elapsed:   14.8s
[Parallel(n_jobs=60)]: Done 11536 tasks      | elapsed:   15.0s
[Parallel(n_jobs=60)]: Done 12040 tasks      | elapsed:   15.2s
[Parallel(n_jobs=60)]: Done 12544 tasks      | elapsed:   15.4s
[Parallel(n_jobs=60)]: Done 13064 tasks      | elapsed:   15.6s
[Parallel(n_jobs=60)]: Done 13584 tasks      | elapsed:   15.8s
[Parallel(n_jobs=60)]: Done 14120 tasks      | elapsed:   16.0s
[Parallel(n_jobs=60)]: Done 14656 tasks      | elapsed:   16.2s
[Parallel(n_jobs=60)]: Done 15208 tasks      | elapsed:   16.4s
[Parallel(n_jobs=60)]: Done 15760 tasks      | elapsed:   16.6s
[Parallel(n_jobs=60)]: Done 16328 tasks      | elapsed:   16.8s
[Parallel(n_jobs=60)]: Done 16896 tasks      | elapsed:   17.0s
[Parallel(n_jobs=60)]: Done 17480 tasks      | elapsed:   17.2s
[Parallel(n_jobs=60)]: Done 18064 tasks      | elapsed:   17.5s
[Parallel(n_jobs=60)]: Done 18664 tasks      | elapsed:   17.7s
[Parallel(n_jobs=60)]: Done 19264 tasks      | elapsed:   17.9s
[Parallel(n_jobs=60)]: Done 19880 tasks      | elapsed:   18.1s
[Parallel(n_jobs=60)]: Done 20496 tasks      | elapsed:   18.4s
[Parallel(n_jobs=60)]: Done 21128 tasks      | elapsed:   18.6s
[Parallel(n_jobs=60)]: Done 21760 tasks      | elapsed:   18.8s
[Parallel(n_jobs=60)]: Done 22408 tasks      | elapsed:   19.0s
[Parallel(n_jobs=60)]: Done 23056 tasks      | elapsed:   19.3s
[Parallel(n_jobs=60)]: Batch computation too slow (2.0127s.) Setting batch_size=1.
[Parallel(n_jobs=60)]: Done 23720 tasks      | elapsed:   21.6s
[Parallel(n_jobs=60)]: Done 24384 tasks      | elapsed:   21.8s
[Parallel(n_jobs=60)]: Batch computation too fast (0.1637s.) Setting batch_size=2.
[Parallel(n_jobs=60)]: Done 24959 tasks      | elapsed:   22.0s
[Parallel(n_jobs=60)]: Batch computation too fast (0.0703s.) Setting batch_size=4.
[Parallel(n_jobs=60)]: Done 25059 tasks      | elapsed:   22.1s
[Parallel(n_jobs=60)]: Done 25210 tasks      | elapsed:   22.2s
[Parallel(n_jobs=60)]: Batch computation too fast (0.0821s.) Setting batch_size=8.
[Parallel(n_jobs=60)]: Done 25448 tasks      | elapsed:   22.3s
[Parallel(n_jobs=60)]: Done 25808 tasks      | elapsed:   22.5s
[Parallel(n_jobs=60)]: Done 26520 tasks      | elapsed:   22.8s
[Parallel(n_jobs=60)]: Done 27248 tasks      | elapsed:   23.0s
[Parallel(n_jobs=60)]: Done 27976 tasks      | elapsed:   23.3s
[Parallel(n_jobs=60)]: Done 28720 tasks      | elapsed:   23.6s
[Parallel(n_jobs=60)]: Done 29464 tasks      | elapsed:   23.9s
[Parallel(n_jobs=60)]: Done 30224 tasks      | elapsed:   24.1s
[Parallel(n_jobs=60)]: Done 30984 tasks      | elapsed:   24.4s
[Parallel(n_jobs=60)]: Done 31253 out of 31253 | elapsed:   24.5s finished

In [52]:
df_paralell[['person_id', 'start_time', 'end_time', 'stop_duration', 'weekday']].head(23)

,person_id,start_time,end_time,stop_duration,weekday
0,10000002909730821040,0 days 13:28:23,0 days 13:51:27,0 days 07:12:54,saturday
1,10000002909730821040,0 days 21:04:21,0 days 21:38:18,0 days 15:50:05,saturday
2,10000002909730821040,0 days 08:20:42,0 days 08:39:00,0 days 00:33:45,thursday
3,10000002909730821040,0 days 09:12:45,0 days 09:19:56,0 days 04:09:34,thursday
4,10000002909730821040,0 days 13:29:30,0 days 13:39:45,0 days 00:58:40,thursday
5,10000002909730821040,0 days 14:38:25,0 days 14:48:33,0 days 01:07:11,thursday
6,10000002909730821040,0 days 15:55:44,0 days 16:10:30,0 days 05:57:23,thursday
7,10000002909730821040,0 days 22:07:53,0 days 22:16:46,0 days 00:22:28,thursday
8,10000002909730821040,0 days 22:39:14,0 days 23:06:23,0 days 09:14:19,thursday
9,10000003183049770926,0 days 11:35:32,0 days 11:44:09,0 days 01:35:59,saturday
10,10000003183049770926,0 days 13:20:08,0 days 13:26:13,0 days 22:09:19,saturday
11,10000003183049770926,0 days 19:29:21,0 days 19:45:47,0 days 01:00:10,thursday
12,10000003183049770926,0 days 20:45:57,0 days 21:01:01,0 days 22:28:20,thursday
13,10000005160936665771,0 days 17:47:00,0 days 19:23:02,0 days 22:23:58,saturday
14,10000013294719422231,0 days 09:28:46,0 days 09:31:14,0 days 00:54:19,thursday
15,10000013294719422231,0 days 10:25:33,0 days 10:28:01,0 days 23:00:45,thursday
16,10000015626584625931,0 days 09:04:05,0 days 09:12:00,0 days 04:16:58,saturday
17,10000015626584625931,0 days 13:28:58,0 days 13:38:18,0 days 04:33:25,saturday
18,10000015626584625931,0 days 18:11:43,0 days 18:25:43,0 days 00:11:33,saturday
19,10000015626584625931,0 days 18:37:16,0 days 18:50:39,0 days 14:13:26,saturday
20,10000015626584625931,0 days 14:19:41,0 days 14:37:29,0 days 01:05:44,thursday
21,10000015626584625931,0 days 15:43:13,0 days 15:49:22,0 days 00:09:03,thursday
22,10000015626584625931,0 days 15:58:25,0 days 16:07:07,0 days 22:12:34,thursday

## verify that the script worked

In [46]:
new_df = pd.read_parquet(datadir+'wa_ldv_trips_with_county_and_dwell_time.parquet')

In [47]:
new_df.shape, df.shape

(27124460, 70)

In [48]:
new_df.head(23)

,activity_id,person_id,mode,travel_purpose,previous_activity_type,start_time,end_time,distance_miles,vehicle_type,origin_bgrp,origin_bgrp_lat,origin_bgrp_lng,destination_bgrp,destination_bgrp_lat,destination_bgrp_lng,origin_land_use_l1,origin_land_use_l2,origin_building_use_l1,origin_building_use_l2,destination_land_use_l1,destination_land_use_l2,destination_building_use_l1,destination_building_use_l2,origin_lat,origin_lng,destination_lat,destination_lng,weekday,household_id,BLOCKGROUP,BLOCKGROUP_work,BLOCKGROUP_school,TRACT,TRACT_work,TRACT_school,age_group,age,sex,race,ethnicity,individual_income_group,individual_income,employment,education,school_grade_attending,industry,household_role,subfamily_number,subfamily_relationship,commute_mode,tenure,migration,household_size,household_income_group,household_income,family_structure,vehicles,building_type,resident_type,language,lat,lng,lat_work,lng_work,lat_school,lng_school,wfh,charge_type,destination_county,stop_duration
0,15608817749489036848,10000002909730821040,PRIVATE_AUTO,WORK,HOME,0 days 13:28:23,0 days 13:51:27,9.548814,nan,530250111002,47.098457,-119.319023,530250110001,47.131321,-119.203190,residential,single_family,residential,single_family,commercial,retail,commercial,retail,47.085370,-119.319090,47.132725,-119.213000,saturday,17571687911180552742,530250111002,530250110001,nan,53025011100,53025011000,nan,35_64,64.0,M,white,hispanic_or_latino,100000_plus,103145.0,employed,some_college,not_attending_school,naics53,spouse,0,nan,driving,owner,same_house,2_person,125000_plus,211447.0,married_couple,3_plus,single_family,core,english,47.085370,-119.319090,47.132725,-119.213,NaN,NaN,worked_in_person,WORK,"Grant County, WA",0 days 07:12:54
1,10652465939061186874,10000002909730821040,PRIVATE_AUTO,HOME,WORK,0 days 21:04:21,0 days 21:38:18,9.284612,nan,530250110001,47.131321,-119.203190,530250111002,47.098457,-119.319023,commercial,retail,commercial,retail,residential,single_family,residential,single_family,47.132725,-119.213000,47.085370,-119.319090,saturday,17571687911180552742,530250111002,530250110001,nan,53025011100,53025011000,nan,35_64,64.0,M,white,hispanic_or_latino,100000_plus,103145.0,employed,some_college,not_attending_school,naics53,spouse,0,nan,driving,owner,same_house,2_person,125000_plus,211447.0,married_couple,3_plus,single_family,core,english,47.085370,-119.319090,47.132725,-119.213,NaN,NaN,worked_in_person,HOME,"Grant County, WA",0 days 15:50:05
2,18336634547462657450,10000002909730821040,PRIVATE_AUTO,SOCIAL,HOME,0 days 08:20:42,0 days 08:39:00,2.897196,nan,530250111002,47.098457,-119.319023,530250111003,47.117839,-119.303234,residential,single_family,residential,single_family,residential,single_family,residential,single_family,47.085370,-119.319090,47.118737,-119.298334,thursday,17571687911180552742,530250111002,530250110001,nan,53025011100,53025011000,nan,35_64,64.0,M,white,hispanic_or_latino,100000_plus,103145.0,employed,some_college,not_attending_school,naics53,spouse,0,nan,driving,owner,same_house,2_person,125000_plus,211447.0,married_couple,3_plus,single_family,core,english,47.085370,-119.319090,47.132725,-119.213,NaN,NaN,worked_in_person,PUBLIC,"Grant County, WA",0 days 00:33:45
3,1694659094182985471,10000002909730821040,PRIVATE_AUTO,HOME,SOCIAL,0 days 09:12:45,0 days 09:19:56,2.867602,nan,530250111003,47.117839,-119.303234,530250111002,47.098457,-119.319023,residential,single_family,residential,single_family,residential,single_family,residential,single_family,47.118737,-119.298334,47.085370,-119.319090,thursday,17571687911180552742,530250111002,530250110001,nan,53025011100,53025011000,nan,35_64,64.0,M,white,hispanic_or_latino,100000_plus,103145.0,employed,some_college,not_attending_school,naics53,spouse,0,nan,driving,owner,same_house,2_person,125000_plus,211447.0,married_couple,3_plus,single_family,core,english,47.085370,-119.319090,47.132725,-119.213,NaN,NaN,worked_in_person,HOME,"Grant County, WA",0 days 04:09:34
4,1649672869607162870,10000002909730821040,PRIVATE_AUTO,SHOP,HOME,0 days 13:29:30,0 days 13:39:45,4.561219,nan,530250111002,47.098457,-119.319023,530250110002,47.125725,-119.262745,residential,single_family,residential,single_family,commercial,retail,commercial,office,47.085370,-119.319090,47.129326,-119.268442,thursday,17571687911180552742,530250111002,530250110001,nan,53025011100,53025011000,nan,35_64,64.0,M,white,hispanic_or_latino,100000_plus,103145.0,employed,some_college,not_attending_school,naics53,spouse,0,nan,driving,owner,same_house,2_person,125000_plus,211447.0,married_couple,3_plus,single_family,core,english,47.085370,-119.319090,47.132725,-119.213,NaN,NaN,worked_in_person,PUBLIC,"Grant County, WA",0 days 00:58:40
5,8960299674610935725,10000002909730821040,PRIVATE_AUTO,HOME,SHOP,0 days 14:38:25,0 days 14:48:33,4.682996,nan,530250110002,47.125725,-119.262745,530250111002,47.098457,-119.319023,commercial,retail,commercial,office,residential,single_family,residential,single_family,47.129326,-119.268442,47.085370,-119.319090,thursday,17571687911180552742,530250111002,530250110001,nan,53025011100,53025011000,nan,35_64,64.0,M,white,hispanic_or_latino,100000_plus,103145.0,employed,some_college,not_attending_school,naics53,spouse,0,nan,driving,owner,same_house,2_person,125000_plus,211447.0,married_couple,3_plus,single_family,core,english,47.085370,-119.319090,47.132725,-119.213,NaN,NaN,worked_in_person,HOME,"Grant County, WA",0 days 01:07:11
6,7848053157468418840,10000002909730821040,PRIVATE_AUTO,WORK,HOME,0 days 15:55:44,0 days 16:10:30,7.203270,nan,530250111002,47.098457,-119.319023,530250110001,47.131321,-119.203190,residential,single_family,residential,single_family,commercial,retail,commercial,retail,47.085370,-119.319090,47.132725,-119.213000,thursday,17571687911180552742,530250111002,530250110001,nan,53025011100,53025011000,nan,35_64,64.0,M,white,hispanic_or_latino,100000_plus,103145.0,employed,some_college,not_attending_school,naics53,spouse,0,nan,driving,owner,same_house,2_person,125000_plus,211447.0,married_couple,3_plus,single_family,core,english,47.085370,-119.319090,47.132725,-119.213,NaN,NaN,worked_in_person,WORK,"Grant County, WA",0 days 05:57:23
7,223038300955000239,10000002909730821040,PRIVATE_AUTO,SHOP,WORK,0 days 22:07:53,0 days 22:16:46,4.192911,nan,530250110001,47.131321,-119.203190,530250109021,47.148158,-119.301651,commercial,retail,commercial,retail,commercial,retail,commercial,retail,47.132725,-119.213000,47.141042,-119.273787,thursday,17571687911180552742,530250111002,530250110001,nan,53025011100,53025011000,nan,35_64,64.0,M,white,hispanic_or_latino,100000_plus,103145.0,employed,some_college,not_attending_school,naics53,spouse,0,nan,driving,owner,same_house,2_person,125000_plus,211447.0,married_couple,3_plus,single_family,core,english,47.085370,-119.319090,47.132725,-119.213,NaN,NaN,worked_in_person,PUBLIC,"Grant County, WA",0 days 00:22:28
8,2454524581152075826,10000002909730821040,PRIVATE_AUTO,HOME,SHOP,0 days 22:39:14,0 days 23:06:23,8.991976,nan,530250109021,47.148158,-119.301651,530250111002,47.098457,-119.319023,commercial,retail,commercial,retail,residential,single_family,residential,single_family,47.141042,-119.273787,47.085370,-119.319090,thursday,17571687911180552742,530250111002,530250110001,nan,53025011100,53025011000,nan,35_64,64.0,M,white,hispanic_or_latino,100000_plus,103145.0,employed,some_college,not_attending_school,naics53,spouse,0,nan,driving,owner,same_house,2_person,125000_plus,211447.0,married_couple,3_plus,single_family,core,english,47.085370,-119.319090,47.132725,-119.213,NaN,NaN,worked_in_person,HOME,"Grant County, WA",0 days 09:14:19
9,15710281585223970551,10000003183049770926,PRIVATE_AUTO,EAT,SHOP,0 days 11:35:32,0 days 11:44:09,2.751763,nan,530110408031,45.700708,-122.647018,530110404112,45.714915,-122.645220,commercial,retail,commercial,retail,mixed_use,retail,commercial,retail,45.697545,-122.653456,45.716686,-122.650199,saturday,17212045348023710843,530110408032,nan,nan,53011040803,nan,nan,65_plus,68.0,F,white,not_hispanic_or_latino,20000_40000,32310.0,notinlf,some_college,not_attending_school,not_working,head_of_household,0,nan,not_working,owner,same_house,2_person,75000_125000,104124.0,married_couple,2,single_family,core,english,45.702720,-122.632958,NaN,NaN,NaN,NaN,under_16_or_notinlf,PUBLIC,"Clark County, WA",0 days 01:35:59
10,3476024904289491459,10000003183049770926,PRIVATE_AUTO,HOME,EAT,0 days 13:20:08,0 days 13:26:13,1.865547,nan,530110404112,45.714915,-122.645220,530110408032,45.704442,-122.636333,mixed_use,retail,commercial,retail,residential,single_family,residential,single_family,45.716686,-122.650199,45.702720,-122.632958,saturday,17212045348023710843,530110408032,nan,nan,53011040803,nan,nan,65_plus,68.0,F,white,not_hispanic_or_latino,20000_40000,32310.0,notinlf,some_college,not_attending_school,not_working,head_of_household,0,nan,not_working,owner,same_house,2_person,75000_125000,104124.0,married_couple,2,single_family,core,english,45.702720,-122.632958,NaN,NaN,NaN,NaN,under_16_or_notinlf,HOME,"Clark County, WA",0 days 22:09:19
11,7764468186703609982,10000003183049770926,PRIVATE_AUTO,EAT,SOCIAL,0 days 19:29:21,0 days 19:45:47,10.710793,nan,530110403012,45.842740,-122.682958,530110410101,45.673276,-122.649603,residential,single_family,residential,single_family,commercial,retail,commercial,retail,45.816475,-122.669404,45.673530,-122.663422,thursday,17212045348023710843,530110408032,nan,nan,53011040803,nan,nan,65_plus,68.0,F,white,not_hispanic_or_latino,20000_40000,32310.0,notinlf,some_college,not_attending_school,not_working,head_of_household,0,nan,not_working,owner,same_house,2_person,75000_125000,104124.0,married_couple,2,single_family,core,english,45.702720,-122.632958,NaN,NaN,NaN,NaN,under_16_or_notinlf,PUBLIC,"Clark County, WA",0 days 01:00:10
12,7129878269376524505,10000003183049770926,PRIVATE_AUTO,HOME,EAT,0 days 20:45:57,0 days 21:01:01,3.387419,nan,530110410101,45.673276,-122.649603,530110408032,45.704442,-122.636333,commercial,retail,commercial,retail,residential,single_family,residential,single_family,45.673530,-122.663422,45.702720,-122.632958,thursday,17212045348023710843,530110408032,nan,nan,53011040803,nan,nan,65_plus,68.0,F,white,not_hispanic_or_latino,20000_40000,32310.0,notinlf,some_college,not_attending_school,not_working,head_of_household,0,nan,not_working,owner,same_house,2_person,75000_125000,104124.0,married_couple,2,single_family,core,english,45.702720,-122.632958,NaN,NaN,NaN,NaN,under_16_or_notinlf,HOME,"Clark County, WA",0 days 22:28:20
13,6016987872286925293,10000005160936665771,PRIVATE_AUTO,HOME,SOCIAL,0 days 17:47:00,0 days 19:23:02,74.042647,nan,530330098001,47.578449,-122.383179,530350913013,47.624988,-122.779109,residential,single_family,residential,single_family,residential,single_family,residential,single_family,47.576362,-122.388981,47.656602,-122.778479,saturday,9613290883819190758,530350913013,530350904002,530330054002,53035091301,53035090400,53033005400,18_24,21.0,F,white,not_hispanic_or_latino,0_20000,6977.0,employed,high_school,not_attending_school,naics446191,child,0,nan,driving,owner,same_house,4_person,75000_125000,86842.0,married_couple,3_plus,single_family,core,english,47.656602,-122.778479,NaN,NaN,47.647402,-122.340894,worked_in_person,HOME,"Kitsap County, WA",0 days 22:23:58
14,15027999648931808966,10000013294719422231,PRIVATE_AUTO,SOCIAL,HOME,0 days 09:28:46,0 days 09:31:14,0.580337,nan,530670118221,46.974385,-122.957918,530670118221,46.974385,-122.957918,residential,single_family,residential,single_family,residential,single_family,residential,single_family,46.960341,-122.970871,46.964192,-122.971776,thursday,10349175711236544344,530670118221,nan,nan,53067011822,nan,nan,65_plus,78.0,M,white,not_hispanic_or_latino,40000_80000,68992.0,notinlf,bachelors_degree,not_attending_school,not_working,head_of_household,0,nan,not_working,owner,same_house,6_person,125000_plus,144450.0,married_couple,3_plus,single_family,core,english,46.960341,-122.970871,NaN,NaN,NaN,NaN,under_16_or_notinlf,PUBLIC,"Thurston County, WA",0 days 00:54:19
15,8396291369894604357,10000013294719422231,PRIVATE_AUTO,HOME,SOCIAL,0 days 10:25:33,0 days 10:28:01,0.580337,nan,530670118221,46.974385,-122.957918,530670118221,46.974385,-122.957918,residential,single_family,residential,single_family,residential,single_family,residential,single_family,46.964192,-122.971776,46.960341,-122.970871,thursday,10349175711236544344,530670118221,nan,nan,53067011822,nan,nan,65_plus,78.0,M,white,not_hispanic_or_latino,40000_80000,68992.0,notinlf,bachelors_degree,not_attending_school,not_working,head_of_household,0,nan,not_working,owner,same_house,6_person,125000_plus,144450.0,married_couple,3_plus,single_family,core,english,46.960341,-122.970871,NaN,NaN,NaN,NaN,under_16_or_notinlf,HOME,"Thurston County, WA",0 days 23:00:45
16,15467883780431239164,10000015626584625931,PRIVATE_AUTO,RECREATION,HOME,0 days 09:04:05,0 days 09:12:00,4.264307,nan,530610519233,47.829657,-122.194194,530610519161,47.798476,-122.224617,residential,single_family,residential,single_family,open_space,open_space,open_space,open_space,47.834402,-122.195658,47.794730,-122.219105,saturday,8829979842484623950,530610519233,530610413014,530330218042,53061051923,53061041301,53033021804,18_24,22.0,F,white,not_hispanic_or_latino,40000_80000,73822.0,employed,some_college,undergraduate,naics62,child,0,nan,driving,owner,same_house,4_person,125000_plus,241504.0,married_couple,3_plus,single_family,core,english,47.834402,-122.195658,NaN,NaN,47.762263,-122.195394,worked_in_person,PUBLIC,"Snohomish County, WA",0 days 04:16:58
17,7369263995898813964,10000015626584625931,PRIVATE_AUTO,HOME,RECREATION,0 days 13:28:58,0 days 13:38:18,4.273053,nan,530610519161,47.798476,-122.224617,530610519233,47.829657,-122.194194,open_space,open_space,open_space,open_space,residential,single_family,residential,single_family,47.794730,-122.219105,47.834402,-122.195658,saturday,8829979842484623950,530610519233,530610413014,530330218042,53061051923,53061041301,53033021804,18_24,22.0,F,white,not_hispanic_or_latino,40000_80000,73822.0,employed,some_college,undergraduate,naics62,child,0,nan,driving,owner,same_house,4_person,125000_plus,241504.0,married_couple,3_plus,single_family,core,english,47.834402,-122.195658,NaN,NaN,47.762263,-122.195394,worked_in_person,HOME,"Snohomish County, WA",0 days 04:33:25
18,3963449483343680165,10000015626584625931,PRIVATE_AUTO,SHOP,HOME,0 days 18:11:43,0 days 18:25:43,6.707950,nan,530610519233,47.829657,-122.194194,530610419052,47.898471,-122.263502,residential,single_family,residential,single_family,commercial,retail,commercial,retail,47.834402,-122.195658,47.895003,-122.254220,saturday,8829979842484623950,530610519233,530610413014,530330218042,53061051923,53061041301,53033021804,18_24,22.0,F,white,not_hispanic_or_latino,40000_80000,73822.0,employed,some_college,undergraduate,naics62,child,0,nan,driving,owner,same_house,4_person,125000_plus,241504.0,married_couple,3_plus,single_family,core,english,47.834402,-122.195658,NaN,NaN,47.762263,-122.195394,worked_in_person,PUBLIC,"Snohomish County, WA",0 days 00:11:33
19,762735630966452692,10000015626584625931,PRIVATE_AUTO,HOME,SHOP,0 days 18:37:16,0 days 18:50:39,6.697860,nan,530610419052,47.898471,-122.263502,530610519233,47.829657,-122.194194,commercial,retail,commercial,retail,residential,single_family,residential,single_family,47.895003,-122.254220,47.834402,-122.195658,saturday,8829979842484623950,530610519233,530610413014,530330218042,53061051923,53061041301,53033021804,18_24,22.0,F,white,not_hispanic_or_latino,40000_80000,73822.0,employed,some_college,undergraduate,naics62,child,0,nan,driving,owner,same_house,4_person,125000_plus,241504.0,married_couple,3_plus,single_family,core,english,47.834402,-122.195658,NaN,NaN,47.762263,-122.195394,worked_in_person,HOME,"Snohomish County, WA",0 days 14:13:26
20,17288600328022765439,10000015626584625931,PRIVATE_AUTO,EAT,SCHOOL,0 days 14:19:41,0 days 14:37:29,10.712506,nan,530330218042,47.760946,-122.194199,530610418103,47.883748,-122.244078,civic_institutional,education,civic_institutional,education,commercial,retail,commercial,retail,47.762263,-122.195394,47.882286,-122.240905,thursday,8829979842484623950,530610519233,530610413014,530330218042,53061051923,53061041301,53033021804,18_24,22.0,F,white,not_hispanic_or_latino,40000_80000,73822.0,employed,some_college,undergraduate,naics62,child,0,nan,driving,owner,same_house,4_person,125000_plus,241504.0,married_couple,3_plus,single_family,core,english,47.834402,-122.195658,NaN,NaN,47.762263,-122.195394,worked_in_person,PUBLIC,"Snohomish County, WA",0 days 01:05:44
21,6559260749851559690,10000015626584625931,PRIVATE_AUTO,SHOP,EAT,0 days 15:43:13,0 days 15:49:22,1.990421,nan,530610418103,47.883748,-122.244078,530610417012,47.885199,-122.224083,commercial,retail,commercial,retail,commercial,retail,commercial,retail,47.882286,-122.240905,47.879020,-122.207505,thursday,8829979842484623950,530610519233,530610413014,530330218042,53061051923,53061041301,53033021804,18_24,22.0,F,white,not_hispanic_or_latino,40000_80000,73822.0,employed,some_college,undergraduate,naics62,child,0,nan,driving,owner,same_house,4_person,125000_plus,241504.0,married_couple,3_plus,single_family,core,english,47.834402,-122.195658,NaN,NaN,47.762263,-122.195394,worked_in_person,PUBLIC,"Snohomish County, WA",0 days 00:09:03
22,3237714333289091860,10000015626584625931,PRIVATE_AUTO,HOME,SHOP,0 days 15:58:25,0 days 16:07:07,4.225489,nan,530610417012,47.885199,-122.224083,530610519233,47.829657,-122.194194,commercial,retail,commercial,retail,residential,single_family,residential,single_family,47.879020,-122.207505,47.834402,-122.195658,thursday,8829979842484623950,530610519233,530610413014,530330218042,53061051923,53061041301,53033021804,18_24,22.0,F,white,not_hispanic_or_latino,40000_80000,73822.0,employed,some_college,undergraduate,naics62,child,0,nan,driving,owner,same_house,4_person,125000_plus,241504.0,married_couple,3_plus,single_family,core,english,47.834402,-122.195658,NaN,NaN,47.762263,-122.195394,worked_in_person,HOME,"Snohomish County, WA",0 days 22:12:34