The user inputs a name for the metadata folder, the state FIPS code, and the list of county FIPS codes from which data is required.

In [1]:
import pandas as pd
import geopandas as gpd
import requests
import os
import numpy as np
import dask.dataframe as dd


datapath = '../../data/'

## Want to associate county name with the blockgroups

In [11]:
blkgrps = gpd.read_file(datapath+'blockgroups_53.zip')
blkgrps

,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,GEOID,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,INTPTLAT,INTPTLON,geometry
0,53,029,971400,2,530299714002,Block Group 2,G5030,S,2814636,1797525,+48.2062765,-122.5296535,"POLYGON ((-122.54657 48.20801, -122.54250 48.2..."
1,53,029,971400,3,530299714003,Block Group 3,G5030,S,22645103,62368,+48.2125091,-122.4991207,"POLYGON ((-122.52732 48.18245, -122.52727 48.1..."
2,53,029,971500,1,530299715001,Block Group 1,G5030,S,14190551,3407670,+48.2523579,-122.4561538,"POLYGON ((-122.48503 48.25507, -122.48216 48.2..."
3,53,029,971500,2,530299715002,Block Group 2,G5030,S,13421381,9435655,+48.2145613,-122.4526433,"POLYGON ((-122.48178 48.16779, -122.48169 48.1..."
4,53,029,971600,1,530299716001,Block Group 1,G5030,S,13176547,2594118,+48.1716032,-122.5137524,"POLYGON ((-122.53917 48.19050, -122.54435 48.1..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4778,53,015,001100,2,530150011002,Block Group 2,G5030,S,311974,41091,+46.1488880,-122.9092078,"POLYGON ((-122.91383 46.14731, -122.91382 46.1..."
4779,53,015,001100,3,530150011003,Block Group 3,G5030,S,651187,0,+46.1398107,-122.9027207,"POLYGON ((-122.91179 46.13775, -122.91152 46.1..."
4780,53,015,001100,4,530150011004,Block Group 4,G5030,S,220828,0,+46.1381419,-122.9127996,"POLYGON ((-122.91549 46.13344, -122.91514 46.1..."
4781,53,015,001100,5,530150011005,Block Group 5,G5030,S,301290,0,+46.1360225,-122.9080286,"POLYGON ((-122.91351 46.13303, -122.91324 46.1..."
4782,53,015,001100,6,530150011006,Block Group 6,G5030,S,504744,0,+46.1326991,-122.9042774,"POLYGON ((-122.91108 46.13094, -122.91103 46.1..."

In [4]:
vmtfile = datapath+'Replica_VMTperCapitaCounty.csv'
vmt = pd.read_csv(vmtfile)

# create a county fips column
vmt['COUNTYFP'] = vmt['FIPS_county'].apply(lambda x: str(x)[-3:])

# merge to get county names too
join = pd.merge(blkgrps, vmt, on='COUNTYFP', how='left')

In [16]:
join['GEOID'].astype(str).apply(lambda x: x[2:5])

0       029
1       029
2       029
3       029
4       029
       ...
4778    015
4779    015
4780    015
4781    015
4782    015
Name: GEOID, Length: 4783, dtype: object