# This is a sandbox for setting up a run of the simulation on `TNC` only. 

* It can be run on a small subsample pandas DataFrame

In [14]:
import pandas as pd
import numpy as np
import replicaEVSE.load_curve as sim
import os
import joblib
import dask.dataframe as dd

%reload_ext autoreload
%autoreload 2



pd.set_option('display.max_columns', None)

datadir = '../../data'
mode = 'ON_DEMAND_AUTO'
simulation_id = 'dev'
test = True

#Created in the EIA_data_download.ipynb notebook
existing_load=pd.read_csv('../../data/EIA_demand_summary.csv') 
if test:
    # df = pd.read_parquet(os.path.join(datadir, 'wa_pop_and_trips_subsample.parquet'))
    df = dd.read_parquet(os.path.join(datadir, 'wa_pop_and_trips_sorted.parquet'))
    # df = df.loc[df['mode'] == mode]
    df = df.sample(frac=0.001, random_state=1)
    # df = df.sort_values(by=['person_id', 'start_time']).reset_index(drop=True)
    simulation_id = 'dev'

else: 


    # read in the joined trips and population data sets
    merged_df = pd.read_parquet(os.path.join(datadir, 'wa_pop_and_trips_sorted.parquet'))

    # right now, only look at private auto trips
    df = merged_df.loc[merged_df['mode'] == mode]

In [17]:
df['mode'].unique().compute()

0              WALKING
1              CARPOOL
2         PRIVATE_AUTO
3           COMMERCIAL
4       ON_DEMAND_AUTO
5    OTHER_TRAVEL_MODE
6       PUBLIC_TRANSIT
7               BIKING
Name: mode, dtype: object

In [20]:
df = df.loc[df['mode'] == 'ON_DEMAND_AUTO']
df = df.sort_values(by=['person_id', 'start_time']).reset_index(drop=True)
df = df.compute()

### figure out how to determine P(charge) and how many trips that will take.

In [28]:
# this is the instance where we see how many trips it took to get to 
tot_distance = 0
for row in len(df)
    trip = df.iloc[row,]
    tot_distance += trip['distance_miles']
    if tot_distance > 100:
        tot_distance = 0

,activity_id,person_id,mode,travel_purpose,previous_activity_type,start_time,end_time,distance_miles,vehicle_type,origin_bgrp,origin_bgrp_lat,origin_bgrp_lng,destination_bgrp,destination_bgrp_lat,destination_bgrp_lng,origin_land_use_l1,origin_land_use_l2,origin_building_use_l1,origin_building_use_l2,destination_land_use_l1,destination_land_use_l2,destination_building_use_l1,destination_building_use_l2,origin_lat,origin_lng,destination_lat,destination_lng,weekday,household_id,BLOCKGROUP,BLOCKGROUP_work,BLOCKGROUP_school,TRACT,TRACT_work,TRACT_school,age_group,age,sex,race,ethnicity,individual_income_group,individual_income,employment,education,school_grade_attending,industry,household_role,subfamily_number,subfamily_relationship,commute_mode,tenure,migration,household_size,household_income_group,household_income,family_structure,vehicles,building_type,resident_type,language,lat,lng,lat_work,lng_work,lat_school,lng_school,wfh,charge_type
0,10387203185911262793,100015405478630305,ON_DEMAND_AUTO,HOME,SHOP,0 days 17:54:33,0 days 18:16:57,2.593752,nan,530330075001,47.622594,-122.314176,530330063001,47.641060,-122.270055,commercial,retail,commercial,retail,residential,single_family,residential,single_family,47.623460,-122.312882,47.640022,-122.277946,saturday,17065429525948427972,530330063001,nan,nan,53033006300,nan,nan,65_plus,72.0,F,white,not_hispanic_or_latino,100000_plus,258486.0,notinlf,bachelors_degree,not_attending_school,not_working,head_of_household,0,nan,not_working,owner,same_house,1_person,125000_plus,258486.0,living_alone,1,single_family,core,english,47.640022,-122.277946,NaN,NaN,NaN,NaN,under_16_or_notinlf,HOME
1,10340519869883566639,10003942663675567783,ON_DEMAND_AUTO,RECREATION,HOME,0 days 16:49:14,0 days 17:23:11,16.544300,nan,410510072021,45.614080,-122.729634,530110413212,45.628324,-122.485804,residential,multi_family,residential,multi_family,mixed_use,open_space,commercial,non_retail_attraction,45.599209,-122.653974,45.631740,-122.478512,thursday,8674205008720373855,410510072021,530110411083,nan,41051007202,53011041108,nan,65_plus,73.0,M,white,not_hispanic_or_latino,40000_80000,61167.0,employed,bachelors_degree,not_attending_school,naics48_49,relative,0,nan,driving,renter,same_house,2_person,125000_plus,128661.0,family_single,2,multiple_units,core,english,45.599209,-122.653974,45.652338,-122.596624,NaN,NaN,worked_in_person,PUBLIC
2,17532146266495730744,10014319498368367973,ON_DEMAND_AUTO,HOME,SOCIAL,0 days 22:15:06,0 days 22:25:34,6.153143,nan,530330026003,47.677457,-122.311997,530330093002,47.587222,-122.335316,mixed_use,multi_family,residential,multi_family,mixed_use,multi_family,residential,multi_family,47.676171,-122.316434,47.595987,-122.333574,thursday,6748284731740869040,530330093002,530330093002,nan,53033009300,53033009300,nan,35_64,37.0,M,white,not_hispanic_or_latino,100000_plus,133589.0,employed,bachelors_degree,not_attending_school,naics54,head_of_household,0,nan,walking,renter,within_us,1_person,125000_plus,133589.0,living_alone,zero,multiple_units,core,english,47.595987,-122.333574,47.590614,-122.333689,NaN,NaN,worked_from_home,HOME
3,7182792280722927872,1002332960170982594,ON_DEMAND_AUTO,MAINTENANCE,HOME,0 days 11:00:32,0 days 11:29:55,18.595010,nan,530610519184,47.783952,-122.213716,530330053011,47.663063,-122.308675,residential,single_family,residential,single_family,civic_institutional,civic_institutional,civic_institutional,civic_institutional,47.788908,-122.215361,47.662188,-122.307517,saturday,14644697824760795458,530610519184,530330058014,nan,53061051918,53033005801,nan,18_24,18.0,M,two_or_more_races,hispanic_or_latino,20000_40000,36100.0,employed,k_12,not_attending_school,naics238220,child,0,nan,driving,renter,same_house,4_person,125000_plus,181535.0,family_single,2,single_family,core,english,47.788908,-122.215361,47.661479,-122.385466,NaN,NaN,worked_from_home,PUBLIC
4,857207562832207380,10027802285380474499,ON_DEMAND_AUTO,HOME,OTHER_ACTIVITY_TYPE,0 days 21:23:36,0 days 21:42:39,15.275144,nan,530330109001,47.535406,-122.311815,530330225004,47.671661,-122.205326,mixed_use,multi_family,commercial,retail,residential,multi_family,residential,multi_family,47.544192,-122.321466,47.668488,-122.202570,saturday,14557701467817642352,530330225004,nan,nan,53033022500,nan,nan,35_64,65.0,M,white,not_hispanic_or_latino,100000_plus,303043.0,notinlf,advanced_degree,not_attending_school,not_working,head_of_household,0,nan,not_working,owner,same_house,1_person,125000_plus,303043.0,living_alone,1,multiple_units,core,english,47.668488,-122.202570,NaN,NaN,NaN,NaN,under_16_or_notinlf,HOME
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4649,3010949407549551778,9959342634628537143,ON_DEMAND_AUTO,HOME,SHOP,0 days 15:47:46,0 days 16:16:16,9.325266,nan,530350903001,47.690850,-122.707901,530350919002,47.608857,-122.666957,mixed_use,retail,commercial,retail,residential,single_family,residential,single_family,47.688340,-122.713010,47.616999,-122.655766,thursday,8104049191175618594,530350919002,nan,nan,53035091900,nan,nan,35_64,47.0,M,white,not_hispanic_or_latino,0_20000,9661.0,notinlf,some_college,not_attending_school,not_working,child,0,nan,not_working,renter,same_house,4_person,10000_40000,37785.0,family_single,zero,single_family,core,english,47.616999,-122.655766,NaN,NaN,NaN,NaN,under_16_or_notinlf,HOME
4650,11221497026357794470,9961466652075861439,ON_DEMAND_AUTO,HOME,EAT,0 days 18:29:11,0 days 18:52:35,6.319233,nan,530330072002,47.616362,-122.344621,530330041004,47.664787,-122.278785,mixed_use,multi_family,commercial,retail,residential,single_family,residential,single_family,47.617128,-122.343522,47.664735,-122.275448,thursday,18022978159980491932,530330041004,530330228033,nan,53033004100,53033022803,nan,35_64,65.0,M,asian,not_hispanic_or_latino,100000_plus,593084.0,employed,advanced_degree,not_attending_school,naics54,head_of_household,0,nan,driving,owner,same_house,2_person,125000_plus,593084.0,married_couple,2,single_family,core,english,47.664735,-122.275448,47.629075,-122.138693,NaN,NaN,worked_in_person,HOME
4651,16295068032403268269,9980288867995908022,ON_DEMAND_AUTO,SHOP,WORK,0 days 14:54:34,0 days 15:20:21,2.706613,nan,530330061002,47.642882,-122.316677,530330053023,47.653940,-122.299394,mixed_use,office,commercial,office,civic_institutional,education,commercial,retail,47.641545,-122.313520,47.655487,-122.303433,thursday,9980563721460060945,530330084001,530330061002,nan,53033008400,53033006100,nan,25_34,27.0,F,asian,not_hispanic_or_latino,100000_plus,121217.0,employed,advanced_degree,not_attending_school,naics541921,spouse,0,nan,transit,renter,within_us,2_person,125000_plus,252536.0,married_couple,1,multiple_units,core,english,47.614941,-122.323737,47.641545,-122.313520,NaN,NaN,worked_in_person,PUBLIC
4652,15414018239335489734,9984155428050706905,ON_DEMAND_AUTO,HOME,RECREATION,0 days 14:44:56,0 days 14:54:16,1.907431,nan,530330038001,47.678505,-122.293352,530330036002,47.680642,-122.323334,commercial,non_retail_attraction,commercial,non_retail_attraction,residential,multi_family,residential,multi_family,47.682544,-122.290704,47.682172,-122.324817,thursday,12456925785036912820,530330036002,530330047001,nan,53033003600,53033004700,nan,18_24,23.0,F,white,not_hispanic_or_latino,0_20000,17475.0,employed,bachelors_degree,not_attending_school,naics621999,spouse,0,nan,driving,renter,within_us,2_person,40000_75000,56164.0,nonfamily_single,1,multiple_units,core,spanish,47.682172,-122.324817,47.668938,-122.372415,NaN,NaN,worked_in_person,HOME
4653,893431636800014403,9995077192262729025,ON_DEMAND_AUTO,WORK,HOME,0 days 01:55:44,0 days 03:09:16,22.803068,nan,530330116001,47.537765,-122.383429,530330228033,47.636334,-122.134585,residential,multi_family,residential,multi_family,commercial,office,commercial,office,47.539076,-122.387681,47.629989,-122.141067,thursday,893051035306936297,530330116001,530330228033,nan,53033011600,53033022803,nan,35_64,57.0,M,white,not_hispanic_or_latino,20000_40000,35355.0,employed,some_college,not_attending_school,naics531120,non_relative,0,nan,transit,renter,same_house,7_plus_person,125000_plus,524447.0,nonfamily_single,3_plus,multiple_units,core,other,47.539076,-122.387681,47.629989,-122.141067,NaN,NaN,worked_in_person,WORK

run the simulation on small dataset to test.

In [ ]:
# this takes ~1min for 10,000 trips
# out = sim.simulate_person_load(df, existing_load, 'base', managed=False)

embarrassingly parallel

In [13]:
number_of_chunks = 10
df_list = np.array_split(df, number_of_chunks)

In [24]:
# run the simulation in parallel
# df must be a pandas dataframe
charge_sims = joblib.Parallel(verbose=10, n_jobs=-1)(
    joblib.delayed(sim.simulate_person_load)(
    trips_df=df,
    existing_load=existing_load,
    simulation_id=simulation_id,
    managed=False
) for df in df_list)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 64 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of  10 | elapsed:    5.2s remaining:   12.1s
[Parallel(n_jobs=-1)]: Done   5 out of  10 | elapsed:    5.3s remaining:    5.3s
[Parallel(n_jobs=-1)]: Done   7 out of  10 | elapsed:    5.3s remaining:    2.3s
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    5.5s finished

### Restack the DataFrames

In [18]:
# restack the dataframes
charges_list = [x['charges'] for x in charge_sims]
loads_list = [x['loads'] for x in charge_sims]

In [21]:
charges_list

AttributeError: 'list' object has no attribute 'compute'

Pandas significantly faster since we can fit these in memory.

In [16]:
# restack the dataframes
charges_df = pd.concat(charges_list)
loads_df = pd.concat(loads_list) # huge ~200 million rows

TypeError: cannot concatenate object of type '<class 'dask.delayed.Delayed'>'; only Series and DataFrame objs are valid

In [ ]:
loads_df

,person_id,load_segment_id,charge_id,window_start_time,window_end_time,load_kW
0,1000016319449981116,7318818662359676746_base_0,7318818662359676746_base,0 days 00:00:00,0 days 01:00:00,7.200000
1,1000016319449981116,7318818662359676746_base_1,7318818662359676746_base,0 days 01:00:00,0 days 02:00:00,7.200000
2,1000016319449981116,7318818662359676746_base_2,7318818662359676746_base,0 days 02:00:00,0 days 03:00:00,1.647283
3,1000016319449981116,7318818662359676746_base_3,7318818662359676746_base,0 days 03:00:00,0 days 04:00:00,0.000000
4,1000016319449981116,7318818662359676746_base_4,7318818662359676746_base,0 days 04:00:00,0 days 05:00:00,0.000000
...,...,...,...,...,...,...
19,9999319521751741792,1701538494003822315_base_19,1701538494003822315_base,0 days 19:00:00,0 days 20:00:00,0.000000
20,9999319521751741792,1701538494003822315_base_20,1701538494003822315_base,0 days 20:00:00,0 days 21:00:00,0.000000
21,9999319521751741792,1701538494003822315_base_21,1701538494003822315_base,0 days 21:00:00,0 days 22:00:00,0.000000
22,9999319521751741792,1701538494003822315_base_22,1701538494003822315_base,0 days 22:00:00,0 days 23:00:00,0.000000
23,9999319521751741792,1701538494003822315_base_23,1701538494003822315_base,0 days 23:00:00,1 days 00:00:00,0.000000

In [ ]:
charges_df.to_parquet(os.path.join(datadir, f'charges_{mode}_{simulation_id}.parquet'), overwrite=True)
loads_df.to_parquet(os.path.join(datadir, f'loads_{mode}_{simulation_id}.parquet'), overwrite=True)

NameError: name 'charges_df' is not defined