In [1]:
import pandas as pd
import numpy as np
import replicaEVSE.load_curve as sim
import replicaEVSE.datautils as simdu
import os
import joblib
import dask.dataframe as dd
from tqdm import tqdm
from datetime import datetime, timedelta

%reload_ext autoreload
%autoreload 2

pd.set_option('display.max_columns', None)

datadir = '../../data/'
mode = 'PRIVATE_AUTO'
test = False

# Dev the precompute of stop time. 

 - it must be run on a single person on a single day. can use groupby or use forloops
   - these are equivalent but the groupby is faster. 
   - there is a faster way to do with `df.shift()` but untested. 
 - there are negative and positive days. 
    - negative days are due to some glitch in replica where a trip ends after the next one begins. 
    - positive days are due to a trip ending past midnight. could just subtract a day from these

In [2]:
# read in data and filter for mode
merged_df = pd.read_parquet(os.path.join(datadir, 'wa_pop_and_trips_sorted_county.parquet'))

example of a trip ending after the next trip is supposed to start.

In [3]:
cols = ['person_id', 'mode', 'weekday', 'start_time', 'end_time',]
merged_df[merged_df['person_id'] == '10235640618012933224'][cols]

,person_id,mode,weekday,start_time,end_time
14758,10235640618012933224,PRIVATE_AUTO,thursday,0 days 03:40:54,0 days 05:01:52
14759,10235640618012933224,PRIVATE_AUTO,thursday,0 days 04:05:17,0 days 04:22:16
14760,10235640618012933224,CARPOOL,saturday,0 days 08:21:38,0 days 08:31:54
14761,10235640618012933224,PRIVATE_AUTO,saturday,0 days 08:43:48,0 days 08:55:42
14762,10235640618012933224,PRIVATE_AUTO,thursday,0 days 14:10:24,0 days 15:25:23

run on a subset of the data

In [4]:
df = merged_df.loc[merged_df['mode'] == mode]
df = df.head(100000)

In [5]:
groups = df.sort_values(by=['person_id', 'weekday', 'start_time']).groupby(['person_id', 'weekday'])
outlist = joblib.Parallel(verbose=1, n_jobs=60)(joblib.delayed(simdu.calculate_stop_duration)(group) for name, group in groups)

[Parallel(n_jobs=60)]: Using backend LokyBackend with 60 concurrent workers.
[Parallel(n_jobs=60)]: Done  80 tasks      | elapsed:    4.2s
[Parallel(n_jobs=60)]: Done 422 tasks      | elapsed:    4.5s
[Parallel(n_jobs=60)]: Done 2560 tasks      | elapsed:    5.7s
[Parallel(n_jobs=60)]: Done 6160 tasks      | elapsed:    7.2s
[Parallel(n_jobs=60)]: Done 10560 tasks      | elapsed:    9.3s
[Parallel(n_jobs=60)]: Done 15760 tasks      | elapsed:   11.7s
[Parallel(n_jobs=60)]: Done 21760 tasks      | elapsed:   14.2s
[Parallel(n_jobs=60)]: Done 28560 tasks      | elapsed:   17.7s
[Parallel(n_jobs=60)]: Done 31253 out of 31253 | elapsed:   18.5s finished

In [6]:
groupby_df_stop_dur = pd.concat(outlist).reset_index(drop=True)

In [7]:
groupby_df_stop_dur[groupby_df_stop_dur['weekday'] == 'thursday']

,activity_id,person_id,mode,travel_purpose,previous_activity_type,start_time,end_time,distance_miles,vehicle_type,origin_bgrp,origin_bgrp_lat,origin_bgrp_lng,destination_bgrp,destination_bgrp_lat,destination_bgrp_lng,origin_land_use_l1,origin_land_use_l2,origin_building_use_l1,origin_building_use_l2,destination_land_use_l1,destination_land_use_l2,destination_building_use_l1,destination_building_use_l2,origin_lat,origin_lng,destination_lat,destination_lng,weekday,household_id,BLOCKGROUP,BLOCKGROUP_work,BLOCKGROUP_school,TRACT,TRACT_work,TRACT_school,age_group,age,sex,race,ethnicity,individual_income_group,individual_income,employment,education,school_grade_attending,industry,household_role,subfamily_number,subfamily_relationship,commute_mode,tenure,migration,household_size,household_income_group,household_income,family_structure,vehicles,building_type,resident_type,language,lat,lng,lat_work,lng_work,lat_school,lng_school,wfh,charge_type,destination_county,stop_duration
2,18336634547462657450,10000002909730821040,PRIVATE_AUTO,SOCIAL,HOME,0 days 08:20:42,0 days 08:39:00,2.897196,nan,530250111002,47.098457,-119.319023,530250111003,47.117839,-119.303234,residential,single_family,residential,single_family,residential,single_family,residential,single_family,47.085370,-119.319090,47.118737,-119.298334,thursday,17571687911180552742,530250111002,530250110001,nan,53025011100,53025011000,nan,35_64,64.0,M,white,hispanic_or_latino,100000_plus,103145.0,employed,some_college,not_attending_school,naics53,spouse,0,nan,driving,owner,same_house,2_person,125000_plus,211447.0,married_couple,3_plus,single_family,core,english,47.085370,-119.319090,47.132725,-119.213000,NaN,NaN,worked_in_person,PUBLIC,"Grant County, WA",0 days 00:33:45
3,1694659094182985471,10000002909730821040,PRIVATE_AUTO,HOME,SOCIAL,0 days 09:12:45,0 days 09:19:56,2.867602,nan,530250111003,47.117839,-119.303234,530250111002,47.098457,-119.319023,residential,single_family,residential,single_family,residential,single_family,residential,single_family,47.118737,-119.298334,47.085370,-119.319090,thursday,17571687911180552742,530250111002,530250110001,nan,53025011100,53025011000,nan,35_64,64.0,M,white,hispanic_or_latino,100000_plus,103145.0,employed,some_college,not_attending_school,naics53,spouse,0,nan,driving,owner,same_house,2_person,125000_plus,211447.0,married_couple,3_plus,single_family,core,english,47.085370,-119.319090,47.132725,-119.213000,NaN,NaN,worked_in_person,HOME,"Grant County, WA",0 days 04:09:34
4,1649672869607162870,10000002909730821040,PRIVATE_AUTO,SHOP,HOME,0 days 13:29:30,0 days 13:39:45,4.561219,nan,530250111002,47.098457,-119.319023,530250110002,47.125725,-119.262745,residential,single_family,residential,single_family,commercial,retail,commercial,office,47.085370,-119.319090,47.129326,-119.268442,thursday,17571687911180552742,530250111002,530250110001,nan,53025011100,53025011000,nan,35_64,64.0,M,white,hispanic_or_latino,100000_plus,103145.0,employed,some_college,not_attending_school,naics53,spouse,0,nan,driving,owner,same_house,2_person,125000_plus,211447.0,married_couple,3_plus,single_family,core,english,47.085370,-119.319090,47.132725,-119.213000,NaN,NaN,worked_in_person,PUBLIC,"Grant County, WA",0 days 00:58:40
5,8960299674610935725,10000002909730821040,PRIVATE_AUTO,HOME,SHOP,0 days 14:38:25,0 days 14:48:33,4.682996,nan,530250110002,47.125725,-119.262745,530250111002,47.098457,-119.319023,commercial,retail,commercial,office,residential,single_family,residential,single_family,47.129326,-119.268442,47.085370,-119.319090,thursday,17571687911180552742,530250111002,530250110001,nan,53025011100,53025011000,nan,35_64,64.0,M,white,hispanic_or_latino,100000_plus,103145.0,employed,some_college,not_attending_school,naics53,spouse,0,nan,driving,owner,same_house,2_person,125000_plus,211447.0,married_couple,3_plus,single_family,core,english,47.085370,-119.319090,47.132725,-119.213000,NaN,NaN,worked_in_person,HOME,"Grant County, WA",0 days 01:07:11
6,7848053157468418840,10000002909730821040,PRIVATE_AUTO,WORK,HOME,0 days 15:55:44,0 days 16:10:30,7.203270,nan,530250111002,47.098457,-119.319023,530250110001,47.131321,-119.203190,residential,single_family,residential,single_family,commercial,retail,commercial,retail,47.085370,-119.319090,47.132725,-119.213000,thursday,17571687911180552742,530250111002,530250110001,nan,53025011100,53025011000,nan,35_64,64.0,M,white,hispanic_or_latino,100000_plus,103145.0,employed,some_college,not_attending_school,naics53,spouse,0,nan,driving,owner,same_house,2_person,125000_plus,211447.0,married_couple,3_plus,single_family,core,english,47.085370,-119.319090,47.132725,-119.213000,NaN,NaN,worked_in_person,WORK,"Grant County, WA",0 days 05:57:23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,16610818305635537121,13026128267904381036,PRIVATE_AUTO,EAT,MAINTENANCE,0 days 13:37:22,0 days 14:06:07,12.648243,nan,530330053022,47.651175,-122.313401,530330265002,47.514591,-122.349394,civic_institutional,education,civic_institutional,healthcare,commercial,retail,commercial,retail,47.650549,-122.309387,47.514022,-122.354369,thursday,13931229826165973065,530330267003,530330105004,530330053023,53033026700,53033010500,53033005302,25_34,29.0,F,asian,not_hispanic_or_latino,0_20000,16101.0,employed,some_college,not_attending_school,naics713940,spouse,0,nan,not_working,owner,within_us,2_person,10000_40000,37570.0,married_couple,2,single_family,core,asian_pacific,47.502559,-122.362518,NaN,NaN,47.651907,-122.311537,worked_in_person,PUBLIC,"King County, WA",0 days 23:31:15
99996,7865466336070650925,130261283139976841,PRIVATE_AUTO,WORK_FROM_HOME,SHOP,0 days 09:28:01,0 days 09:56:30,20.103462,nan,410050208002,45.440382,-122.625536,530110411082,45.659521,-122.580987,commercial,retail,commercial,retail,residential,single_family,residential,single_family,45.443376,-122.641564,45.663184,-122.583802,thursday,7383373375738459875,530110411082,530150011004,nan,53011041108,53015001100,nan,18_24,23.0,M,white,not_hispanic_or_latino,20000_40000,25373.0,employed,some_college,not_attending_school,naics23,relative,0,nan,driving,owner,within_us,6_person,75000_125000,109024.0,married_couple,3_plus,single_family,core,english,45.663184,-122.583802,46.140198,-122.913314,NaN,NaN,worked_from_home,PUBLIC,"Clark County, WA",0 days 23:31:31
99997,6712455119330471842,13026129795961993555,PRIVATE_AUTO,MAINTENANCE,SHOP,0 days 10:44:55,0 days 11:10:01,10.398790,nan,530530731211,47.103834,-122.301374,530539400032,47.234178,-122.341753,commercial,retail,commercial,retail,mixed_use,office,commercial,office,47.105793,-122.297270,47.232681,-122.339632,thursday,2969856523317049967,530539400102,nan,nan,53053940010,nan,nan,18_24,18.0,M,asian,not_hispanic_or_latino,0_20000,10804.0,unemployed,some_college,not_attending_school,naics31_33,relative,2,parent_with_child,not_working,owner,same_house,7_plus_person,125000_plus,212852.0,married_couple,3_plus,single_family,core,asian_pacific,47.206198,-122.270190,NaN,NaN,NaN,NaN,unemployed,PUBLIC,"Pierce County, WA",0 days 00:15:22
99998,16612855441058383194,13026129795961993555,PRIVATE_AUTO,SHOP,MAINTENANCE,0 days 11:25:23,0 days 11:46:46,10.103760,nan,530539400032,47.234178,-122.341753,530530635014,47.186724,-122.460553,mixed_use,office,commercial,office,commercial,office,commercial,office,47.232681,-122.339632,47.187901,-122.460448,thursday,2969856523317049967,530539400102,nan,nan,53053940010,nan,nan,18_24,18.0,M,asian,not_hispanic_or_latino,0_20000,10804.0,unemployed,some_college,not_attending_school,naics31_33,relative,2,parent_with_child,not_working,owner,same_house,7_plus_person,125000_plus,212852.0,married_couple,3_plus,single_family,core,asian_pacific,47.206198,-122.270190,NaN,NaN,NaN,NaN,unemployed,PUBLIC,"Pierce County, WA",0 days 00:12:02
99999,6648944257188404806,13026129795961993555,PRIVATE_AUTO,SHOP,SHOP,0 days 11:58:48,0 days 12:11:14,8.615084,nan,530530635014,47.186724,-122.460553,530539400022,47.238591,-122.376371,commercial,office,commercial,office,mixed_use,retail,commercial,retail,47.187901,-122.460448,47.244545,-122.357886,thursday,2969856523317049967,530539400102,nan,nan,53053940010,nan,nan,18_24,18.0,M,asian,not_hispanic_or_latino,0_20000,10804.0,unemployed,some_college,not_attending_school,naics31_33,relative,2,parent_with_child,not_working,owner,same_house,7_plus_person,125000_plus,212852.0,married_couple,3_plus,single_family,core,asian_pacific,47.206198,-122.270190,NaN,NaN,NaN,NaN,unemployed,PUBLIC,"Pierce County, WA",0 days 22:33:41

In [8]:
groupby_df_stop_dur.stop_duration.min(), groupby_df_stop_dur.stop_duration.max()

(Timedelta('-1 days +20:06:57'), Timedelta('1 days 23:25:04'))

example of negative stop_duration

In [9]:
groupby_df_stop_dur[(groupby_df_stop_dur['person_id'] == '10235640618012933224') & (groupby_df_stop_dur['weekday'] == 'thursday')][['person_id', 'weekday', 'start_time', 'end_time', 'stop_duration']]

,person_id,weekday,start_time,end_time,stop_duration
7634,10235640618012933224,thursday,0 days 03:40:54,0 days 05:01:52,-1 days +23:03:25
7635,10235640618012933224,thursday,0 days 04:05:17,0 days 04:22:16,0 days 09:48:08
7636,10235640618012933224,thursday,0 days 14:10:24,0 days 15:25:23,0 days 12:15:31

In [10]:
groupby_df_stop_dur[(groupby_df_stop_dur['stop_duration'] < pd.Timedelta('0 days 00:00:00')) & (groupby_df_stop_dur['weekday'] == 'thursday')][cols + ['stop_duration']]

,person_id,mode,weekday,start_time,end_time,stop_duration
1026,1000066388969297342,PRIVATE_AUTO,thursday,0 days 09:49:34,0 days 09:59:07,-1 days +23:50:48
2104,10232220714439520542,PRIVATE_AUTO,thursday,0 days 18:29:52,0 days 18:49:30,-1 days +23:59:49
4568,10233786896218699845,PRIVATE_AUTO,thursday,0 days 14:12:50,0 days 14:43:28,-1 days +23:57:26
4569,10233786896218699845,PRIVATE_AUTO,thursday,0 days 14:40:54,0 days 15:13:27,-1 days +23:39:46
4631,10233837961588389648,PRIVATE_AUTO,thursday,0 days 06:57:01,0 days 07:11:50,-1 days +23:52:16
5371,10234231617316798935,PRIVATE_AUTO,thursday,0 days 14:02:43,0 days 16:29:30,-1 days +23:07:52
7183,10235296848470141931,PRIVATE_AUTO,thursday,0 days 14:58:19,0 days 15:05:41,-1 days +23:52:48
7634,10235640618012933224,PRIVATE_AUTO,thursday,0 days 03:40:54,0 days 05:01:52,-1 days +23:03:25
7789,10235736391449871387,PRIVATE_AUTO,thursday,0 days 20:14:42,0 days 20:24:43,-1 days +23:55:57
8691,102362996666231016,PRIVATE_AUTO,thursday,0 days 10:59:41,0 days 11:29:16,-1 days +23:51:50
11095,10237780261899479999,PRIVATE_AUTO,thursday,0 days 18:11:52,0 days 18:39:02,-1 days +23:58:19
12811,10238758938304755102,PRIVATE_AUTO,thursday,0 days 14:55:51,0 days 15:09:57,-1 days +23:52:38
16217,10240778988114244232,PRIVATE_AUTO,thursday,0 days 16:05:14,0 days 16:26:27,-1 days +23:55:22
16977,10241238209174381098,PRIVATE_AUTO,thursday,0 days 17:13:40,0 days 18:30:07,-1 days +23:55:53
26926,12980965517485837768,PRIVATE_AUTO,thursday,0 days 10:10:04,0 days 10:21:44,-1 days +23:58:05
28412,12981932746365552065,PRIVATE_AUTO,thursday,0 days 14:05:59,0 days 14:10:46,-1 days +23:55:31
28959,12982222386925988104,PRIVATE_AUTO,thursday,0 days 15:18:22,0 days 15:26:42,-1 days +23:53:33
30801,12983325533141578326,PRIVATE_AUTO,thursday,0 days 10:27:05,0 days 10:43:49,-1 days +23:53:38
30802,12983325533141578326,PRIVATE_AUTO,thursday,0 days 10:37:27,0 days 11:07:48,-1 days +23:57:27
33564,12985189882658691061,PRIVATE_AUTO,thursday,0 days 08:38:31,0 days 09:41:41,-1 days +23:24:51
34787,12985986915179590562,PRIVATE_AUTO,thursday,0 days 11:30:35,0 days 11:55:25,-1 days +23:43:25
36286,12986782325309921579,PRIVATE_AUTO,thursday,0 days 15:49:18,0 days 16:06:26,-1 days +23:58:21
36287,12986782325309921579,PRIVATE_AUTO,thursday,0 days 16:04:47,0 days 16:18:23,-1 days +23:59:02
36343,12986793129687662964,PRIVATE_AUTO,thursday,0 days 13:10:36,0 days 13:28:51,-1 days +23:48:56
36344,12986793129687662964,PRIVATE_AUTO,thursday,0 days 13:17:47,0 days 13:26:04,-1 days +23:56:12
37029,12987197171712803991,PRIVATE_AUTO,thursday,0 days 11:00:35,0 days 11:33:28,-1 days +23:57:30
39151,12988477645753549476,PRIVATE_AUTO,thursday,0 days 05:49:53,0 days 10:25:10,-1 days +21:37:15
39153,12988477645753549476,PRIVATE_AUTO,thursday,0 days 15:32:54,0 days 19:55:20,-1 days +21:24:24
39155,12988477645753549476,PRIVATE_AUTO,thursday,0 days 18:13:36,0 days 22:52:47,-1 days +20:06:57
43643,12991374310085095085,PRIVATE_AUTO,thursday,0 days 05:24:53,0 days 06:00:46,-1 days +23:52:02
43648,12991374310085095085,PRIVATE_AUTO,thursday,0 days 10:24:45,0 days 10:56:44,-1 days +23:59:16
44768,12992007077857429188,PRIVATE_AUTO,thursday,0 days 16:08:18,0 days 16:44:25,-1 days +23:51:15
45810,12992711569097655048,PRIVATE_AUTO,thursday,0 days 11:18:47,0 days 11:34:27,-1 days +23:49:37
46417,12993036284726924464,PRIVATE_AUTO,thursday,0 days 12:41:16,0 days 12:58:47,-1 days +23:44:46
50864,12995586137959685270,PRIVATE_AUTO,thursday,0 days 13:58:55,0 days 14:17:55,-1 days +23:46:45
51904,12996274359260316545,PRIVATE_AUTO,thursday,0 days 15:17:51,0 days 15:27:01,-1 days +23:52:54
52620,12996776518307306209,PRIVATE_AUTO,thursday,0 days 10:58:54,0 days 11:24:57,-1 days +23:47:43
53493,12997295345906752664,PRIVATE_AUTO,thursday,0 days 18:43:17,0 days 18:52:54,-1 days +23:52:29
57105,12999521092360443006,PRIVATE_AUTO,thursday,0 days 13:02:14,0 days 13:28:57,-1 days +23:55:22
59915,13001289657912146384,PRIVATE_AUTO,thursday,0 days 16:29:02,0 days 16:53:21,-1 days +23:48:23
60819,13001882619950617589,PRIVATE_AUTO,thursday,0 days 12:44:30,0 days 15:26:56,-1 days +22:38:49
63701,13003580413141586605,PRIVATE_AUTO,thursday,0 days 10:07:35,0 days 10:55:41,-1 days +23:21:13
69069,13006766069667935112,PRIVATE_AUTO,thursday,0 days 16:09:56,0 days 17:02:24,-1 days +23:07:33
71983,130086084693767126,PRIVATE_AUTO,thursday,0 days 20:35:05,0 days 20:43:52,-1 days +23:57:31
72294,13008803315581998640,PRIVATE_AUTO,thursday,0 days 12:53:38,0 days 13:25:50,-1 days +23:32:29
73730,13009609255356370383,PRIVATE_AUTO,thursday,0 days 14:20:40,0 days 14:35:10,-1 days +23:46:25
77383,13012095509862003437,PRIVATE_AUTO,thursday,0 days 06:33:47,0 days 08:12:51,-1 days +23:58:16
78494,13012706286024675,PRIVATE_AUTO,thursday,0 days 11:52:08,0 days 12:02:24,-1 days +23:57:52
79930,13013643594182238995,PRIVATE_AUTO,thursday,0 days 19:27:06,0 days 19:47:28,-1 days +23:56:01
83234,13015602170233054785,PRIVATE_AUTO,thursday,0 days 08:16:50,0 days 09:05:08,-1 days +23:58:27
84721,13016579280283010422,PRIVATE_AUTO,thursday,0 days 16:26:49,0 days 16:43:18,-1 days +23:58:58
84738,13016588684495084198,PRIVATE_AUTO,thursday,0 days 15:53:08,0 days 16:09:47,-1 days +23:48:15
86813,13017746204987981171,PRIVATE_AUTO,thursday,0 days 08:00:02,0 days 08:26:37,-1 days +23:34:43
87567,13018241871339571822,PRIVATE_AUTO,thursday,0 days 12:58:36,0 days 13:30:10,-1 days +23:58:41
87993,13018514073182031943,PRIVATE_AUTO,thursday,0 days 13:14:55,0 days 13:28:37,-1 days +23:47:48
88806,1301907094704460013,PRIVATE_AUTO,thursday,0 days 13:10:12,0 days 13:19:04,-1 days +23:58:27
91339,13020589457208162059,PRIVATE_AUTO,thursday,0 days 13:19:04,0 days 13:41:13,-1 days +23:41:40
95127,13023046158847373286,PRIVATE_AUTO,thursday,0 days 07:05:55,0 days 07:16:28,-1 days +23:52:30
95128,13023046158847373286,PRIVATE_AUTO,thursday,0 days 07:08:58,0 days 07:47:42,-1 days +23:41:30
99455,13025775756520950388,PRIVATE_AUTO,thursday,0 days 04:38:08,0 days 04:56:07,-1 days +23:52:42

what to do if there are two per person? 

    if stop_duration < 0:
        trip['end_time'][i] = trip['end_time'][i-1]
        trip.drop

    then drop these rows.

In [10]:
groupby_df_stop_dur[(groupby_df_stop_dur['person_id'] == '10233786896218699845') & (groupby_df_stop_dur['weekday'] == 'thursday')][cols + ['stop_duration']]

,person_id,mode,weekday,start_time,end_time,stop_duration
4561,10233786896218699845,PRIVATE_AUTO,thursday,0 days 05:24:37,0 days 05:53:19,0 days 00:06:29
4562,10233786896218699845,PRIVATE_AUTO,thursday,0 days 05:59:48,0 days 06:33:51,0 days 01:07:18
4563,10233786896218699845,PRIVATE_AUTO,thursday,0 days 07:41:09,0 days 08:21:37,0 days 00:20:40
4564,10233786896218699845,PRIVATE_AUTO,thursday,0 days 08:42:17,0 days 11:42:29,0 days 00:04:56
4565,10233786896218699845,PRIVATE_AUTO,thursday,0 days 11:47:25,0 days 11:53:25,0 days 00:52:32
4566,10233786896218699845,PRIVATE_AUTO,thursday,0 days 12:45:57,0 days 12:49:45,0 days 00:41:03
4567,10233786896218699845,PRIVATE_AUTO,thursday,0 days 13:30:48,0 days 13:59:50,0 days 00:13:00
4568,10233786896218699845,PRIVATE_AUTO,thursday,0 days 14:12:50,0 days 14:43:28,-1 days +23:57:26
4569,10233786896218699845,PRIVATE_AUTO,thursday,0 days 14:40:54,0 days 15:13:27,-1 days +23:39:46
4570,10233786896218699845,PRIVATE_AUTO,thursday,0 days 14:53:13,0 days 15:22:45,0 days 14:01:52

# there are cases where the beginning of one trip starts before the previous trip ends.

 - This is how we get negative values. 
 - there are only 10 cases per 5800

chat gpt says:

its very wrong.