In [1]:
import pandas as pd

In [22]:
ev_df = pd.DataFrame({
    'year': [2022, 2022, 2023, 2023],
    'county': ['King', 'Spokane', 'King', 'Spokane'],
    'nEV': [5, 2, 6, 3],
    'efficiency_kwh_mi': [0.3, 0.3, 0.4, 0.4],
})
ev_df

   year   county  nEV  efficiency_kwh_mi
0  2022     King    5                0.3
1  2022  Spokane    2                0.3
2  2023     King    6                0.4
3  2023  Spokane    3                0.4

In [23]:
pop_df = pd.DataFrame({
    'person_id': [1]*10 + [2]*10,
    'county': ['King']*10 + ['Spokane']*10,
})

In [24]:
import numpy as np

In [25]:
merged_df = pd.merge(pop_df, ev_df, on='county', how='left')

In [29]:
merged_df

    person_id   county  year  nEV  efficiency_kwh_mi
0           1     King  2022    5                0.3
1           1     King  2023    6                0.4
2           1     King  2022    5                0.3
3           1     King  2023    6                0.4
4           1     King  2022    5                0.3
5           1     King  2023    6                0.4
6           1     King  2022    5                0.3
7           1     King  2023    6                0.4
8           1     King  2022    5                0.3
9           1     King  2023    6                0.4
10          1     King  2022    5                0.3
11          1     King  2023    6                0.4
12          1     King  2022    5                0.3
13          1     King  2023    6                0.4
14          1     King  2022    5                0.3
15          1     King  2023    6                0.4
16          1     King  2022    5                0.3
17          1     King  2023    6                0.4
18          1     King  2022    5                0.3
19          1     King  2023    6                0.4
20          2  Spokane  2022    2                0.3
21          2  Spokane  2023    3                0.4
22          2  Spokane  2022    2                0.3
23          2  Spokane  2023    3                0.4
24          2  Spokane  2022    2                0.3
25          2  Spokane  2023    3                0.4
26          2  Spokane  2022    2                0.3
27          2  Spokane  2023    3                0.4
28          2  Spokane  2022    2                0.3
29          2  Spokane  2023    3                0.4
30          2  Spokane  2022    2                0.3
31          2  Spokane  2023    3                0.4
32          2  Spokane  2022    2                0.3
33          2  Spokane  2023    3                0.4
34          2  Spokane  2022    2                0.3
35          2  Spokane  2023    3                0.4
36          2  Spokane  2022    2                0.3
37          2  Spokane  2023    3                0.4
38          2  Spokane  2022    2                0.3
39          2  Spokane  2023    3                0.4

In [31]:
import pandas as pd
import numpy as np

# Sample dataframe with people and their home county
people_df = pd.DataFrame({
    'Person': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'County': ['County A', 'County A', 'County B', 'County A', 'County B']
})

# Population dataframe with county, year, and number of people to select
nEV_df = pd.DataFrame({
    'County': ['County A', 'County B', 'County A', 'County B'],
    'Year': [2022, 2022, 2023, 2023],
    'People_to_Select': [1, 2, 2, 2]
})

selected_people = []
for _, row in nEV_df.iterrows():
    county = row['County']
    year = row['Year']
    num_to_select = row['People_to_Select']
    county_df = people_df[(people_df['County'] == county)]
    selected = county_df.sample(n=num_to_select, replace=False, random_state=42)
    selected['Year'] = year  # Add the year column to the selected dataframe
    selected_people.append(selected)

# Concatenate the selected people into a final dataframe
final_df = pd.concat(selected_people)

    Person    County  Year
0    Alice  County A  2022
4      Eve  County B  2022
2  Charlie  County B  2022
0    Alice  County A  2023
1      Bob  County A  2023
4      Eve  County B  2023
2  Charlie  County B  2023