In [1]:
import pandas as pd
import numpy as np
import replicaEVSE.load_curve as sim
import replicaEVSE.datautils as simdu
import os
import joblib
import dask.dataframe as dd
from tqdm import tqdm

%reload_ext autoreload
%autoreload 2

pd.set_option('display.max_columns', None)

datadir = '../../data/'
mode = 'PRIVATE_AUTO'
test = False

# Sample the number of people/vehicles by county segment and year

see  `scripts/sample_counties.py` to run

In [2]:
np.arange(2034, 2036, 1)

array([2034, 2035])

In [3]:


#Created in the EIA_data_download.ipynb notebook
existing_load=pd.read_csv(datadir+'EIA_demand_summary.csv') 
if test:
    # df = pd.read_parquet(os.path.join(datadir, 'wa_pop_and_trips_subsample.parquet'))
    df = pd.read_parquet(os.path.join(datadir, 'wa_pop_and_trips_sorted_county.parquet'))
    df = df.head(10000)
    df = df.loc[df['mode'] == mode]
    simulation_id = 'dev'

else: 
    # read in the joined trips and population data sets
    merged_df = pd.read_parquet(os.path.join(datadir, 'wa_pop_and_trips_sorted_county.parquet'))

    # right now, only look at private auto trips
    df = merged_df.loc[merged_df['mode'] == mode]
    # take out the mobile and commercial MHDV

### TODO: revisit taking out mobile home owners
df = df[(df['building_type'] != 'mobile') & (df['building_type'] != None)]

###  sample by county: for now use a percent until we have the stock rollover model

`ev_df` should be given to us to run.

In [4]:
stock_rollover = pd.read_csv(datadir+'ldv_population_output_adjusted.csv')
efficiency = pd.read_csv(datadir+'vehicle_inputs.csv')

In [5]:
personal = ['Personal Sedan', 'Personal Crossover', 'Personal Truck/SUV']
commercial = ['Commercial Sedan', 'Commercial Crossover', 'Commercial Truck/SUV']
for cartype in personal + commercial:
    for powertrain in  ['EV', 'PHEV']:
        cond = (efficiency['Vehicle_type']==cartype) & ~efficiency['Powertrain'].isin(['ICE-G', 'ICE-D', 'FCEV']) & (efficiency['Powertrain']==powertrain) & (efficiency['Vintage'] == 2022)
        ef = efficiency[cond]['Efficiency'].values[0]
        print(cartype, powertrain, ef)

Personal Sedan EV 0.25
Personal Sedan PHEV 80.0
Personal Crossover EV 0.3
Personal Crossover PHEV 80.0
Personal Truck/SUV EV 0.49
Personal Truck/SUV PHEV 80.0
Commercial Sedan EV 0.25
Commercial Sedan PHEV 80.0
Commercial Crossover EV 0.3
Commercial Crossover PHEV 80.0
Commercial Truck/SUV EV 0.49
Commercial Truck/SUV PHEV 80.0

# extract the population ldv data from the stock rollover model 
 - What to do about housing == 'other'? 

### include both EV and PHEV

In [6]:
ev_cond = stock_rollover['Powertrain'].isin(['EV', 'PHEV']).reset_index(drop=True)
# ev_cond = (stock_rollover['Powertrain']=='EV') | (stock_rollover['Powertrain']=='PHEV')
# nev_df = stock_rollover[(stock_rollover['Powertrain']=='EV')].copy()
nev_df = stock_rollover[ev_cond].copy()
nev_df = nev_df[nev_df['domicile'] != 'other'].copy()
nev_df.drop(columns=['Unnamed: 0'], inplace=True)
print(len(nev_df))

924

See the change in stock over the years

In [7]:
nev_df[['2022', '2035']]

      2022   2035
0        0      1
3        0      0
4        0      5
7        0      1
8        0      0
...    ...    ...
1839    98  14859
1840    34  22314
1843    18   5020
1844   133  83107
1847    65  18077

[924 rows x 2 columns]

We ingest the number of vehicles in each segment for each year and sample from that subset of the trips table for each county segment and year. This takes > 300 minutes for all the years and segments

In [8]:
nev_df

,County,Vehicle_type,domicile,Powertrain,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
0,Adams,Commercial Crossover,mfh,EV,0,0,0,0,0,0,0,1,1,1,1,1,1,1
3,Adams,Commercial Crossover,mfh,PHEV,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Adams,Commercial Crossover,sfh,EV,0,0,1,1,1,2,2,2,3,3,3,5,5,5
7,Adams,Commercial Crossover,sfh,PHEV,0,1,1,1,1,1,1,1,1,1,1,1,1,1
8,Adams,Commercial Sedan,mfh,EV,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1839,Yakima,Personal Sedan,sfh,PHEV,98,2433,4815,6453,7994,9117,10046,10703,11606,12252,12842,13552,14206,14859
1840,Yakima,Personal Truck/SUV,mfh,EV,34,1780,3504,5143,6768,8393,9963,11285,12851,14524,16279,18064,19987,22314
1843,Yakima,Personal Truck/SUV,mfh,PHEV,18,1063,1757,2265,2617,2945,3170,3367,3593,3845,4102,4380,4667,5020
1844,Yakima,Personal Truck/SUV,sfh,EV,133,6521,12813,18796,24713,30637,36335,41141,46932,53211,59811,66703,74132,83107
1847,Yakima,Personal Truck/SUV,sfh,PHEV,65,3862,6381,8226,9505,10701,11522,12233,13039,13915,14799,15789,16813,18077

In [9]:
# get the unique people in the dataframe
pop_df = df.drop_duplicates(subset=['person_id'])[['person_id', 'destination_county', 'building_type']]

In [13]:
# test run on a single year ~14 mins
final_df = simdu.sample_people_by_county(df, nev_df, year=2025, fraction=None)

Selecting people from each county in year=2025...14 mins per year

In [14]:
final_df.head()[['person_id', 'distance_miles', 'destination_county', 'building_type', 'engine', 'segment', 'efficiency', 'year']]

,person_id,distance_miles,destination_county,building_type,engine,segment,efficiency,year
23982863,3105704646168074816,4.782405,"Adams County, WA",single_family,EV,Commercial Crossover,0.3,2025
23982866,3105704646168074816,0.176954,"Adams County, WA",single_family,EV,Commercial Crossover,0.3,2025
23982867,3105704646168074816,26.754191,"Grant County, WA",single_family,EV,Commercial Crossover,0.3,2025
23982868,3105704646168074816,32.847668,"Adams County, WA",single_family,EV,Commercial Crossover,0.3,2025
23982863,3105704646168074816,2.630323,"Adams County, WA",single_family,PHEV,Commercial Crossover,0.9,2025

### Can parallelize this by looping over years

In [16]:
year_list = np.arange(2022, 2036, 1)
joblib.Parallel(verbose=10, n_jobs=4)(joblib.delayed(simdu.run_and_save_sampled_populations)(
    df,
    nev_df, 
    year,
    datadir,
    ) for year in year_list)

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.

Selecting people from each county in year=2022...14 mins per year
Selecting people from each county in year=2023...14 mins per year
Selecting people from each county in year=2024...14 mins per year
Selecting people from each county in year=2025...14 mins per year

Bad pipe message: %s [b'\x06s\xaa\x98k\xcf\xb3s\x8c9\xaf\xe0\xa9\x91\xb7K@A @Ky\x99S\xd3\x88\x97UR\x9e\xcaT\\/Sz\xb1\xd6B\x15']
Bad pipe message: %s [b'\xbc\xe3\x90u\x91\x07\x12\xec;$-\xda\x93\xf0o\xe1\xdf.\x00\x00|\xc0,\xc00\x00\xa3\x00\x9f\xcc\xa9\xcc\xa8\xcc\xaa\xc0\xaf\xc0\xad\xc0\xa3\xc0\x9f\xc0]\xc0a\xc0W\xc0S\xc0']
Bad pipe message: %s [b"/\x00\xa2\x00\x9e\xc0\xae\xc0\xac\xc0\xa2\xc0\x9e\xc0\\\xc0`\xc0V\xc0R\xc0$\xc0(\x00k\x00j\xc0#\xc0'\x00g\x00@\xc0\n\xc0\x14\x00"]
Bad pipe message: %s [b'8\xc0\t\xc0\x13\x003\x002\x00\x9d\xc0\xa1\xc0\x9d\xc0Q\x00\x9c\xc0\xa0\xc0\x9c\xc0P\x00=\x00<\x005\x00/\x00\x9a\x00\x99\xc0\x07\xc0\x11\x00\x96\x00\x05\x00\xff\x01\x00\x00j\x00\x00\x00\x0e\x00']
Bad pipe message: %s [b'\x00\t127.0.0.1']
Bad pipe message: %s [b'9\xcdZ\x94\x84\xb9\x7f\x0c\xbe\x00\xed\x00\x8f\x00\x14\xbf\xc8\xf3\x00\x00\xa2', b'\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0\x0f\xc0\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x004\x00\x9b\x00F\xc0\x0e\xc0\x04\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17\x00\x1b\xc0\r\xc0\x03\x00\n\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x1a\x00\t\x00\x14\x00\x11\x00\x19\x00\x08\x00\x06\x00\x17\x00\x03\xc0\x10\xc0\x06\xc0\x15\xc0\x0b\xc0\x01\x00\x02\x00\x01\x00\xff\x02\x01\x00\x00C\x00\x00\x00\x0e\x00\x0c\x00\x00\t127.0.0.1\x00\x0b\x00\x04\x03\x00\x01\x02']
Bad pipe message: %s [b'g\x19\x8e\xf3\x84p\xa5\xdf\x05\x97\xe7\x8c\xcf\xa3\x90\xd1\xdd\xd7\x00\x00\xa2\xc0\x14\xc0\n\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00:\x00\x89\xc0']
Bad pipe message: %s [b'\x05\x005\x00\x84\xc0\x13\xc0\t\x003\x002\x00']
Bad pipe message: %s [b'0\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x004\x00\x9b\x00F\xc0\x0e\xc0\x04\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0']
Bad pipe message: %s [b'\x05']
Bad pipe message: %s [b'\x08]\xc5Dr]\xd8\xe6N\xe7\x87\xcc\xb9\x9a,\xd7\xf4\x18\x00\x00>\xc0\x14\xc0\n\x009\x008\x007\x006\xc0\x0f\xc0\x05\x005\xc0\x13\xc0\t\x003\x002\x001\x000\xc0\x0e\xc0\x04\x00/\x00\x9a\x00\x99\x00\x98\x00\x97\x00\x96\x00\x07\xc0\x11\xc0\x07\xc0\x0c\xc0\x02\x00\x05\x00\x04\x00\xff\x02\x01\x00\x15\x03\x00']
Bad pipe message: %s [b"\x91\xce@\xadT\xe5\xc2\x18\xd8\x18\xc7\n\x8cA3-\xa4\xcb\x00\x00\x86\xc00\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\xc02\xc0.\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00=\x005\xc0/\xc0+\xc0'\xc0#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e"]
Bad pipe message: %s [b'\x99\x8b\xdd@\x13\xe5\xbdv\xa8,U\x15\xb38\xbf\xa7"\xe0\x00\x00\xf4\xc00\xc0,\xc0(\xc0$\xc0\x14\xc0\n\x00\xa5\x00\xa3\x00\xa1\x00\x9f\x00k\x00j\x00i\x00h\x009\x008\x007\x006\x00\x88\x00\x87\x00\x86\x00\x85\xc0\x19\x00\xa7\x00m\x00:\x00\x89\xc02\xc0.\xc0*\xc0&\xc0\x0f\xc0\x05\x00\x9d\x00=\x005\x00\x84\xc0/\xc0+\xc0\'\xc0#\xc0\x13\xc0\t\x00\xa4\x00\xa2\x00\xa0\x00\x9e\x00g\x00@\x00?\x00>\x003\x002\x001\x000\x00\x9a\x00\x99\x00\x98\x00\x97\x00E\x00D\x00C\x00B\xc0\x18\x00\xa6\x00', b'4\x00\x9b\x00F\xc01\xc0-\xc0)\xc0%\xc0\x0e\xc0\x04\x00\x9c\x00<\x00/\x00\x96\x00A\x00\x07\xc0\x11\xc0\x07\xc0\x16\x00\x18\xc0\x0c\xc0\x02\x00\x05\x00\x04\xc0\x12\xc0\x08\x00\x16\x00\x13\x00\x10\x00\r\xc0\x17\x00\x1b\xc0\r\xc0\x03\x00\n\x00\x15\x00\x12\x00\x0f\x00\x0c\x00\x1a\x00\t\x00\x14\x00\x11\x00\x19\x00\x08\x00\x06\x00\x17\x00\x03\xc0\x10\xc0\x06\xc0\x15\xc0\x0b\xc0\x01\x00;\x00\x02']

Selecting people from each county in year=2026...14 mins per year
Selecting people from each county in year=2027...14 mins per year
Selecting people from each county in year=2028...14 mins per year
Selecting people from each county in year=2029...14 mins per year

[Parallel(n_jobs=4)]: Done   5 tasks      | elapsed: 38.0min

Selecting people from each county in year=2030...14 mins per year
Selecting people from each county in year=2031...14 mins per year
Selecting people from each county in year=2032...14 mins per year
Selecting people from each county in year=2033...14 mins per year

In [10]:
# check outputs
df_2035 = pd.read_parquet(os.path.join(datadir, 'county_samples/county_sample_2035.parquet'))

In [3]:
df_2034 = pd.read_parquet(os.path.join(datadir, 'county_samples/county_sample_2034.parquet'))

In [6]:
df_2034[['person_id', 'distance_miles', 'destination_county', 'building_type', 'engine', 'segment', 'efficiency', 'year']]

,person_id,distance_miles,destination_county,building_type,engine,segment,efficiency,year
10297,10234240303577394052,1.883100,"Adams County, WA",single_family,EV,Commercial Crossover,0.3,2034
10298,10234240303577394052,1.508437,"Adams County, WA",single_family,EV,Commercial Crossover,0.3,2034
10299,10234240303577394052,1.508437,"Adams County, WA",single_family,EV,Commercial Crossover,0.3,2034
10300,10234240303577394052,1.883100,"Adams County, WA",single_family,EV,Commercial Crossover,0.3,2034
10301,10234240303577394052,1.611954,"Adams County, WA",single_family,EV,Commercial Crossover,0.3,2034
...,...,...,...,...,...,...,...,...
51722247,12974764336925645660,2.129131,"Yakima County, WA",single_family,PHEV,Personal Truck/SUV,0.9,2034
51722248,12974764336925645660,2.131551,"Yakima County, WA",single_family,PHEV,Personal Truck/SUV,0.9,2034
51722249,12974764336925645660,2.129131,"Yakima County, WA",single_family,PHEV,Personal Truck/SUV,0.9,2034
51725545,12975743187318417717,2.232699,"Yakima County, WA",single_family,PHEV,Personal Truck/SUV,0.9,2034
51725546,12975743187318417717,2.232699,"Yakima County, WA",single_family,PHEV,Personal Truck/SUV,0.9,2034

# why are they all the same length?

In [18]:
year_list = np.arange(2022, 2024, 1)
df_list = []
for year in year_list:
    print(year)
    df_i = pd.read_parquet(os.path.join(datadir, 'county_samples/county_sample_{}.parquet'.format(year)))
    print(len(df_i.drop_duplicates(subset=['person_id'])))
    # df_list.append()

# df_out = pd.concat(df_list)

2022
252329
2023
252329

In [18]:
len(pop_df), len(df)

(5046603, 25405990)

# make toy data

In [12]:
person_ids = [1, 2, 2, 3, 3, 4, 4, 5, 6, 6]
counties = ['King', 'Adams', 'Adams', 'King', 'King', 'Adams', 'Adams', 'Adams', 'King', 'King']

trips = pd.DataFrame({'person_id': person_ids, 'county': counties})
pop = trips.drop_duplicates(subset=['person_id'])[['person_id', 'county']]
cnty_list = ['King', 'Adams']

In [14]:
ev_cond = stock_rollover['Powertrain'].isin(['EV', 'PHEV']).reset_index(drop=True)
# ev_cond = (stock_rollover['Powertrain']=='EV') | (stock_rollover['Powertrain']=='PHEV')
# nev_df = stock_rollover[(stock_rollover['Powertrain']=='EV')].copy()
nev_df = stock_rollover[ev_cond].copy()
nev_df = nev_df[nev_df['domicile'] != 'other'].copy()
nev_df.drop(columns=['Unnamed: 0'], inplace=True)

ev_sfh_only = nev_df[nev_df['domicile']=='sfh'].copy()
ev_sfh_only = ev_sfh_only[ev_sfh_only['Powertrain']=='EV'].copy()
ev_sfh_only = ev_sfh_only[ev_sfh_only['Vehicle_type']=='Personal Sedan'].copy()
ev_sfh_only

,County,Vehicle_type,domicile,Powertrain,2022,2023,2024,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034,2035
36,Adams,Personal Sedan,sfh,EV,12,357,724,984,1223,1389,1526,1608,1709,1766,1806,1859,1900,1924
84,Asotin,Personal Sedan,sfh,EV,18,266,529,717,892,1013,1116,1182,1258,1300,1335,1375,1408,1433
132,Benton,Personal Sedan,sfh,EV,458,1934,4076,5788,7520,8811,10016,10805,11852,12551,13153,13956,14645,15203
180,Chelan,Personal Sedan,sfh,EV,238,950,1728,2303,2836,3208,3528,3714,3953,4076,4170,4291,4389,4465
228,Clallam,Personal Sedan,sfh,EV,288,1151,2060,2727,3340,3767,4132,4338,4610,4756,4864,5017,5141,5240
276,Clark,Personal Sedan,sfh,EV,2253,5095,9414,12884,16463,19123,21638,23277,25505,27005,28334,30178,31785,33135
316,Columbia,Personal Sedan,sfh,EV,6,59,112,149,183,205,224,234,248,255,261,264,267,274
364,Cowlitz,Personal Sedan,sfh,EV,198,1175,2401,3341,4244,4889,5458,5806,6270,6548,6786,7109,7386,7622
412,Douglas,Personal Sedan,sfh,EV,83,549,1065,1447,1802,2051,2266,2391,2548,2634,2697,2786,2855,2905
452,Ferry,Personal Sedan,sfh,EV,15,100,175,226,271,302,326,339,354,360,366,368,371,369
500,Franklin,Personal Sedan,sfh,EV,128,929,2028,2902,3775,4420,5018,5406,5920,6251,6544,6927,7254,7523
540,Garfield,Personal Sedan,sfh,EV,1,37,69,92,110,122,132,138,143,146,146,150,150,149
588,Grant,Personal Sedan,sfh,EV,103,1181,2474,3455,4380,5040,5621,5971,6421,6682,6892,7170,7387,7566
636,Grays Harbor,Personal Sedan,sfh,EV,123,845,1713,2366,2991,3441,3837,4081,4406,4601,4767,4992,5179,5335
684,Island,Personal Sedan,sfh,EV,457,1281,2275,3020,3758,4289,4769,5065,5471,5729,5951,6273,6550,6782
732,Jefferson,Personal Sedan,sfh,EV,292,750,1216,1547,1851,2060,2234,2332,2461,2529,2577,2653,2710,2755
780,King,Personal Sedan,sfh,EV,17036,24186,37037,47474,58714,67154,75357,80748,88352,93620,98392,105250,111320,116467
828,Kitsap,Personal Sedan,sfh,EV,1372,3229,5751,7712,9678,11114,12443,13288,14446,15204,15871,16811,17638,18332
876,Kittitas,Personal Sedan,sfh,EV,103,511,915,1191,1447,1627,1775,1864,1973,2032,2074,2142,2189,2218
924,Klickitat,Personal Sedan,sfh,EV,61,362,639,827,995,1107,1198,1250,1309,1338,1358,1381,1397,1407
972,Lewis,Personal Sedan,sfh,EV,141,950,1995,2809,3604,4180,4699,5025,5457,5726,5950,6252,6508,6719
1020,Lincoln,Personal Sedan,sfh,EV,5,162,313,418,513,577,630,661,700,719,735,753,765,774
1068,Mason,Personal Sedan,sfh,EV,228,1005,1947,2658,3341,3833,4272,4545,4898,5119,5306,5562,5774,5950
1116,Okanogan,Personal Sedan,sfh,EV,46,570,1049,1378,1666,1863,2021,2105,2209,2258,2287,2321,2345,2357
1164,Pacific,Personal Sedan,sfh,EV,34,302,601,819,1022,1165,1289,1364,1464,1522,1567,1634,1691,1733
1212,Pend Oreille,Personal Sedan,sfh,EV,15,194,362,480,584,654,711,741,780,798,809,823,829,834
1260,Pierce,Personal Sedan,sfh,EV,2767,7741,15297,21279,27459,32063,36414,39285,43191,45883,48305,51672,54643,57163
1308,San Juan,Personal Sedan,sfh,EV,341,510,676,798,912,985,1051,1082,1123,1141,1150,1174,1191,1205
1356,Skagit,Personal Sedan,sfh,EV,427,1669,3211,4405,5560,6387,7127,7576,8173,8534,8833,9241,9592,9884
1404,Skamania,Personal Sedan,sfh,EV,40,190,346,458,559,628,686,718,757,779,794,816,833,842
1452,Snohomish,Personal Sedan,sfh,EV,4312,9089,16294,22014,27891,32250,36348,39015,42628,45055,47198,50176,52768,54925
1500,Spokane,Personal Sedan,sfh,EV,795,4912,9657,13175,16542,18956,21062,22374,24021,25017,25809,26876,27716,28348
1548,Stevens,Personal Sedan,sfh,EV,49,734,1370,1812,2200,2461,2674,2791,2933,2999,3038,3090,3122,3138
1596,Thurston,Personal Sedan,sfh,EV,1284,4046,7611,10173,12725,14576,16212,17280,18645,19547,20324,21430,22362,23091
1644,Wahkiakum,Personal Sedan,sfh,EV,14,85,157,207,252,285,310,324,341,353,360,369,378,381
1692,Walla Walla,Personal Sedan,sfh,EV,84,533,1065,1473,1859,2131,2375,2519,2706,2811,2894,3008,3100,3178
1740,Whatcom,Personal Sedan,sfh,EV,936,2680,4828,6480,8076,9212,10227,10835,11638,12106,12486,13003,13431,13769
1788,Whitman,Personal Sedan,sfh,EV,24,194,383,522,653,747,828,879,940,978,1004,1043,1072,1095
1836,Yakima,Personal Sedan,sfh,EV,190,3676,7593,10433,13097,14997,16613,17616,18838,19560,20117,20849,21404,21785

In [35]:
reduced_df = []
unique_df = df.drop_duplicates(subset=['person_id'])[['person_id', 'destination_county', 'building_type']]
for year in [2023, 2024]:
    total = 0
    for _,row in ev_sfh_only.iterrows():
        county = row['County']
        
        # slice the unique dataframe to only include the county
        county_str = county + ' County, WA'
        county_df = unique_df[unique_df['destination_county'] == county_str]
        
        num_to_select = row[str(year)]
        selected = county_df.person_id.sample(n=num_to_select, replace=False, random_state=42)
        
        # grab only those selected people from the original dataframe
        county_df = df[(df['person_id'].isin(selected))].copy()
        county_df['year'] = year
        reduced_df.append(county_df)
        total += num_to_select
        
        print(len(selected), county_df.shape[0], county_df.drop_duplicates(subset=['person_id']).shape[0])

    print(ev_sfh_only[str(year)].sum(), len(county_df.drop_duplicates(subset=['person_id'])))
    
    final_df = pd.concat(reduced_df)
    print(final_df.shape, total)

357 2267 357
266 849 266
1934 11779 1934
950 5597 950
1151 6278 1151
5095 21242 5095
59 285 59
1175 5595 1175
549 3093 549
100 467 100
929 5506 929
37 173 37
1181 7265 1181
845 4521 845
1281 6979 1281
750 3916 750
24186 114802 24186
3229 16773 3229
511 2684 511
362 1170 362
950 4517 950
162 746 162
1005 5177 1005
570 3147 570
302 1405 302
194 723 194
7741 39856 7741
510 2479 510
1669 8727 1669
190 647 190
9089 46879 9089
4912 26356 4912
734 3770 734
4046 21338 4046
85 381 85
533 3101 533
2680 13757 2680
194 775 194
3676 22987 3676
84189 3676
(428009, 70) 84189
724 4401 724
529 1698 529
4076 25218 4076
1728 10175 1728
2060 11238 2060
9414 39578 9414
112 583 112
2401 11627 2401
1065 6203 1065
175 806 175
2028 11995 2028
69 311 69
2474 15339 2474
1713 9125 1713
2275 12192 2275
1216 6318 1216
37037 175469 37037
5751 29654 5751
915 5086 915
639 2162 639
1995 9398 1995
313 1535 313
1947 9905 1947
1049 5758 1049
601 3015 601
362 1378 362
15297 79408 15297
676 3294 676
3211 16666 3211
346 1151 346
16294 84184 16294
9657 51951 9657
1370 7031 1370
7611 39779 7611
157 709 157
1065 6142 1065
4828 24742 4828
383 1488 383
7593 47267 7593
151156 7593
(1201988, 70) 151156

In [36]:
len(final_df.drop_duplicates(subset=['person_id'])), final_df.shape[0]

(151156, 1201988)

72558

In [16]:
final_df[final_df['year'] == 2023]

,activity_id,person_id,mode,travel_purpose,previous_activity_type,start_time,end_time,distance_miles,vehicle_type,origin_bgrp,origin_bgrp_lat,origin_bgrp_lng,destination_bgrp,destination_bgrp_lat,destination_bgrp_lng,origin_land_use_l1,origin_land_use_l2,origin_building_use_l1,origin_building_use_l2,destination_land_use_l1,destination_land_use_l2,destination_building_use_l1,destination_building_use_l2,origin_lat,origin_lng,destination_lat,destination_lng,weekday,household_id,BLOCKGROUP,BLOCKGROUP_work,BLOCKGROUP_school,TRACT,TRACT_work,TRACT_school,age_group,age,sex,race,ethnicity,individual_income_group,individual_income,employment,education,school_grade_attending,industry,household_role,subfamily_number,subfamily_relationship,commute_mode,tenure,migration,household_size,household_income_group,household_income,family_structure,vehicles,building_type,resident_type,language,lat,lng,lat_work,lng_work,lat_school,lng_school,wfh,charge_type,destination_county,year
76,18316497155116191323,10000027284534762868,PRIVATE_AUTO,SHOP,WORK,0 days 19:20:08,0 days 19:46:17,24.728563,nan,530579515003,48.523396,-122.218307,530730012013,48.723092,-122.479946,mixed_use,industrial,industrial,industrial,commercial,retail,commercial,retail,48.511020,-122.228264,48.733093,-122.470342,saturday,6807149718198083678,530730012013,530579515003,nan,53073001201,53057951500,nan,35_64,41.0,M,white,not_hispanic_or_latino,40000_80000,50507.0,employed,some_college,undergraduate,naics31_33,child,0,nan,driving,renter,within_us,5_person,125000_plus,146471.0,married_couple,3_plus,single_family,core,english,48.715497,-122.485185,48.51102,-122.228264,NaN,NaN,worked_in_person,PUBLIC,"Whatcom County, WA",2023
77,5744120661337032474,10000027284534762868,PRIVATE_AUTO,HOME,SHOP,0 days 20:01:07,0 days 20:09:20,2.048920,nan,530730012013,48.723092,-122.479946,530730012013,48.723092,-122.479946,commercial,retail,commercial,retail,residential,single_family,residential,single_family,48.733093,-122.470342,48.715497,-122.485185,saturday,6807149718198083678,530730012013,530579515003,nan,53073001201,53057951500,nan,35_64,41.0,M,white,not_hispanic_or_latino,40000_80000,50507.0,employed,some_college,undergraduate,naics31_33,child,0,nan,driving,renter,within_us,5_person,125000_plus,146471.0,married_couple,3_plus,single_family,core,english,48.715497,-122.485185,48.51102,-122.228264,NaN,NaN,worked_in_person,HOME,"Whatcom County, WA",2023
79,9725345086549260082,10000027284534762868,PRIVATE_AUTO,HOME,MAINTENANCE,0 days 20:36:27,0 days 20:40:56,0.226769,nan,530730012023,48.708440,-122.481150,530730012013,48.723092,-122.479946,commercial,office,commercial,office,residential,single_family,residential,single_family,48.714490,-122.486678,48.715497,-122.485185,thursday,6807149718198083678,530730012013,530579515003,nan,53073001201,53057951500,nan,35_64,41.0,M,white,not_hispanic_or_latino,40000_80000,50507.0,employed,some_college,undergraduate,naics31_33,child,0,nan,driving,renter,within_us,5_person,125000_plus,146471.0,married_couple,3_plus,single_family,core,english,48.715497,-122.485185,48.51102,-122.228264,NaN,NaN,worked_in_person,HOME,"Whatcom County, WA",2023
316,719237437331882619,10000097978938619681,PRIVATE_AUTO,EAT,SOCIAL,0 days 06:25:44,0 days 06:58:22,3.402269,nan,530330027004,47.686053,-122.341201,530330047004,47.665985,-122.383165,residential,single_family,residential,single_family,commercial,retail,commercial,retail,47.687827,-122.340070,47.668951,-122.384368,saturday,17444525131280906861,530330287004,nan,nan,53033028700,nan,nan,35_64,53.0,F,white,not_hispanic_or_latino,lte_0,0.0,notinlf,some_college,undergraduate,not_working,non_relative,0,nan,not_working,owner,same_house,2_person,75000_125000,78791.0,nonfamily_single,2,single_family,core,english,47.418196,-122.327798,NaN,NaN,NaN,NaN,under_16_or_notinlf,PUBLIC,"King County, WA",2023
317,8791021853809467998,10000097978938619681,PRIVATE_AUTO,RECREATION,MAINTENANCE,0 days 06:53:03,0 days 08:09:30,34.273505,nan,530330303132,47.297925,-122.316538,530330031003,47.682291,-122.385425,commercial,office,commercial,office,mixed_use,single_family,commercial,non_retail_attraction,47.298888,-122.324711,47.683790,-122.385657,thursday,17444525131280906861,530330287004,nan,nan,53033028700,nan,nan,35_64,53.0,F,white,not_hispanic_or_latino,lte_0,0.0,notinlf,some_college,undergraduate,not_working,non_relative,0,nan,not_working,owner,same_house,2_person,75000_125000,78791.0,nonfamily_single,2,single_family,core,english,47.418196,-122.327798,NaN,NaN,NaN,NaN,under_16_or_notinlf,PUBLIC,"King County, WA",2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51727086,14460712627815049618,12976216552674284503,PRIVATE_AUTO,EAT,SOCIAL,0 days 12:37:48,0 days 12:42:33,1.959660,nan,530719209002,46.057846,-118.301780,530719207021,46.046490,-118.325201,residential,single_family,residential,single_family,commercial,office,commercial,retail,46.057283,-118.300395,46.048823,-118.331018,saturday,15869312243794481485,530719208012,530719208013,530719208013,53071920801,53071920801,53071920801,18_24,20.0,F,white,hispanic_or_latino,20000_40000,23723.0,employed,some_college,undergraduate,naics722511,child,0,nan,driving,owner,same_house,4_person,75000_125000,75295.0,married_couple,3_plus,single_family,core,spanish,46.074405,-118.305119,NaN,NaN,46.075458,-118.307305,worked_in_person,PUBLIC,"Walla Walla County, WA",2023
51727087,10845365264328450817,12976216552674284503,PRIVATE_AUTO,HOME,EAT,0 days 13:33:48,0 days 13:41:40,2.990502,nan,530719207021,46.046490,-118.325201,530719208012,46.076527,-118.294222,commercial,office,commercial,retail,residential,single_family,residential,single_family,46.048823,-118.331018,46.074405,-118.305119,saturday,15869312243794481485,530719208012,530719208013,530719208013,53071920801,53071920801,53071920801,18_24,20.0,F,white,hispanic_or_latino,20000_40000,23723.0,employed,some_college,undergraduate,naics722511,child,0,nan,driving,owner,same_house,4_person,75000_125000,75295.0,married_couple,3_plus,single_family,core,spanish,46.074405,-118.305119,NaN,NaN,46.075458,-118.307305,worked_in_person,HOME,"Walla Walla County, WA",2023
51727089,17672843588982582479,12976216552674284503,PRIVATE_AUTO,HOME,SCHOOL,0 days 16:56:11,0 days 16:58:08,0.134376,nan,530719208013,46.076036,-118.314813,530719208012,46.076527,-118.294222,civic_institutional,education,civic_institutional,education,residential,single_family,residential,single_family,46.075458,-118.307305,46.074405,-118.305119,thursday,15869312243794481485,530719208012,530719208013,530719208013,53071920801,53071920801,53071920801,18_24,20.0,F,white,hispanic_or_latino,20000_40000,23723.0,employed,some_college,undergraduate,naics722511,child,0,nan,driving,owner,same_house,4_person,75000_125000,75295.0,married_couple,3_plus,single_family,core,spanish,46.074405,-118.305119,NaN,NaN,46.075458,-118.307305,worked_in_person,HOME,"Walla Walla County, WA",2023
51727091,13370345579918613779,12976216552674284503,PRIVATE_AUTO,WORK,HOME,0 days 17:40:53,0 days 17:42:50,0.134376,nan,530719208012,46.076527,-118.294222,530719208013,46.076036,-118.314813,residential,single_family,residential,single_family,civic_institutional,education,civic_institutional,education,46.074405,-118.305119,46.075458,-118.307305,thursday,15869312243794481485,530719208012,530719208013,530719208013,53071920801,53071920801,53071920801,18_24,20.0,F,white,hispanic_or_latino,20000_40000,23723.0,employed,some_college,undergraduate,naics722511,child,0,nan,driving,owner,same_house,4_person,75000_125000,75295.0,married_couple,3_plus,single_family,core,spanish,46.074405,-118.305119,NaN,NaN,46.075458,-118.307305,worked_in_person,WORK,"Walla Walla County, WA",2023
51727092,1627027604784533080,12976216552674284503,PRIVATE_AUTO,HOME,WORK,0 days 19:48:28,0 days 19:49:11,0.134376,nan,530719208013,46.076036,-118.314813,530719208012,46.076527,-118.294222,civic_institutional,education,civic_institutional,education,residential,single_family,residential,single_family,46.075458,-118.307305,46.074405,-118.305119,thursday,15869312243794481485,530719208012,530719208013,530719208013,53071920801,53071920801,53071920801,18_24,20.0,F,white,hispanic_or_latino,20000_40000,23723.0,employed,some_college,undergraduate,naics722511,child,0,nan,driving,owner,same_house,4_person,75000_125000,75295.0,married_couple,3_plus,single_family,core,spanish,46.074405,-118.305119,NaN,NaN,46.075458,-118.307305,worked_in_person,HOME,"Walla Walla County, WA",2023

In [17]:
ev_sfh_only['County'].nunique()

39

In [18]:
#nev_df.groupby(['County', 'Vehicle_type', 'domicile', 'Powertrain', '2022']).sum()