In [28]:
import pandas as pd
import geopandas as gpd
import numpy as np
import mysql.connector
from mysql.connector import Error
from joblib import Parallel, delayed
import replicaEVSE.sql_wrapper_functions as sql
import replicaEVSE.load_curve_simulation_functions as sim
import dask.dataframe as dd
from dask.distributed import Client
%reload_ext autoreload
%autoreload 1

In [29]:

client = Client()
client

/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/node.py:182: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 55370 instead
  warnings.warn(

In [5]:
! ls ../../data

EIA_demand_summary.csv                  northwest_2021_Q4_saturday_trip.csv
Untitled.ipynb                          northwest_2021_Q4_saturday_trip.parquet
blockgroup_boundaries.pkl               northwest_2021_Q4_thursday_trip.csv
blockgroups_53.zip                      northwest_2021_Q4_thursday_trip.parquet
northwest_2021_Q4_population.csv        test.csv
northwest_2021_Q4_population.parquet

In [30]:
datadir = '../../data'

In [31]:
pd.set_option('display.max_columns', None)

In [32]:
with open('../src/metadata/MySQLpwd.txt') as f:
    pw = f.readlines()
pw = pw[0]

connection_replica = sql.create_db_connection("localhost", "root", pw, 'replica')

MySQL Database connection successful

Read in blockgroup boundary geodataframe that defines simulation area

In [10]:
gdf = pd.read_pickle(datadir+'/blockgroup_boundaries.pkl')
# gdf

Create list of blockgroup ids from which to pull data for the simulation

In [11]:
bgrp_list = list(gdf.GEOID.values)

In [10]:
def pull_person_list(connection, blockgroups):
    """Pulls list of person_ids from SQL database given a list of destination blockgroups.

    Blockgroups are smaller than census tracts, so this is a more accurate representation of the population in the area.
    
    Parameters
    ----------
    connection : MySQL connector
    blockgroups : list
        List of destination blockgroups. The person_id attached to any trip ending in the blockgroup will be used as part of the simulation population
        
    Returns
    -------
    list
        List of person_ids used in simulation
    """
    
    q1 = """
    SELECT person_id
    FROM trips
    WHERE destination_bgrp IN """+str(tuple(blockgroups))+""";
    """
    results_people = sql.read_query(connection, q1)
    persons_df = sql.convert_to_df(results_people,['person_id'])
    persons_df = persons_df.drop_duplicates()
    return(list(set(persons_df.person_id)))

In [12]:
blockgroups = bgrp_list
q1 = """
    SELECT person_id
    FROM trips
    WHERE destination_bgrp IN """+str(tuple(blockgroups))+""";
    """

results_people = sql.read_query(connection_replica, q1)

In [66]:
q1

"\n    SELECT person_id\n    FROM trips\n    WHERE destination_bgrp IN ('530299714002', '530299714003', '530299715001', '530299715002', '530299716001', '530330033001', '530530729031', '530530730015', '530530730013', '530530730014', '530299716002', '530299718001', '530299718002', '530299719001', '530299719002', '530299719003', '530299701002', '530299701001', '530299720001', '530299720002', '530299720003', '530299721002', '530299721003', '530610528032', '530610528033', '530610528034', '530610528042', '530610528043', '530610528044', '530610528052', '530299702001', '530299703003', '530299704002', '530299704003', '530299705001', '530299705002', '530299705003', '530299706011', '530299706012', '530610528053', '530610528051', '530610528062', '530610528063', '530299707001', '530299707002', '530299708001', '530299708002', '530299709001', '530299709002', '530299709003', '530299710001', '530299706013', '530299706021', '530299706023', '530330323113', '530610528064', '530610529063', '530610529034', '530330308021', '530330236032', '530330267001', '530330266001', '530330088001', '530330114022', '530110404071', '530610527081', '530610527092', '530610529041', '530610531024', '530610532013', '530610532023', '530610533013', '530610533024', '530610535093', '530670116223', '530670122221', '530110405042', '530110405052', '530110405072', '530110405091', '530330234033', '530110410092', '530110414002', '530110415003', '530110429001', '530110401021', '530110403023', '530110404121', '530110404163', '530019504001', '530330056003', '530330057001', '530330058023', '530330032006', '530330084001', '530330080015', '530330081003', '530330084003', '530330242001', '530330241003', '530330248002', '530330257012', '530330261004', '530110408094', '530110413302', '530110412053', '530110413253', '530110411072', '530110404112', '530330323092', '530330323253', '530330114013', '530330110011', '530330110022', '530330114011', '530330110012', '530330277011', '530330257021', '530330258043', '530330271002', '530330280001', '530330276003', '530330278003', '530330285001', '530110404142', '530110409101', '530110404111', '530110408032', '530110404122', '530110411122', '530110405092', '530110407102', '530330005001', '530330253023', '530330253021', '530330217004', '530330217005', '530330323213', '530330300032', '530330303051', '530330303061', '530330288022', '530330289022', '530330290041', '530539400083', '530530719022', '530110408052', '530110411121', '530110404151', '530110404152', '530110406052', '530110408081', '530110411082', '530110413131', '530110425002', '530330226052', '530330323161', '530330323133', '530330232012', '530330232013', '530330232021', '530330238032', '530330238043', '530330293072', '530330308011', '530530609055', '530530609061', '530530610012', '530530610013', '530530610021', '530530610022', '530530611002', '530530611004', '530530611005', '530530611006', '530530611007', '530530612002', '530530612004', '530330303042', '530330305031', '530330311003', '530110406101', '530110413312', '530110413303', '530110413203', '530530612005', '530530612006', '530530613005', '530110413204', '530110413232', '530110406041', '530110407121', '530110423002', '530110424001', '530110426002', '530330032001', '530330032002', '530330032003', '530330032004', '530330031002', '530330032007', '530330033002', '530330296015', '530330033003', '530330033004', '530330033005', '530610522082', '530659503002', '530610521152', '530330234031', '530330238041', '530330238031', '530330250062', '530330236034', '530330251024', '530330256013', '530330247024', '530330317041', '530330312053', '530330322123', '530330319072', '530330323262', '530530614001', '530530614002', '530530614003', '530110407123', '530110407124', '530110413274', '530110413273', '530110413272', '530110407091', '530530721051', '530530615002', '530530615003', '530530615004', '530579523022', '530419703001', '530419704001', '530419704002', '530579525001', '530330317052', '530330295023', '530330295022', '530330296011', '530110413322', '530330310001', '530330300045', '530330300042', '530330292053', '530110413103', '530110412052', '530110413223', '530110413301', '530110413182', '530330319043', '530110413321', '530610529053', '530330014001', '530330014002', '530330014003', '530610529062', '530330015001', '530330303104', '530330303102', '530419704004', '530419705001', '530419705002', '530330312062', '530330312063', '530330320104', '530330317064', '530330317061', '530330316042', '530110413192', '530110427002', '530419707002', '530419707003', '530419707004', '530110404143', '530110404132', '530110405082', '530110409102', '530330016002', '530330016003', '530330017011', '530330017023', '530330018001', '530330018002', '530330018003', '530330019002', '530330019003', '530330019001', '530330020001', '530530734062', '530530608002', '530330300034', '530330304011', '530330312021', '530330315012', '530330315021', '530330316034', '530330316032', '530330320034', '530330321022', '530330321041', '530330323115', '530330323184', '530330324024', '530330325001', '530330325004', '530330326012', '530330001001', '530330002003', '530330001004', '530330002001', '530330002002', '530330002006', '530330002005', '530330003001', '530330004013', '530330003002', '530330004011', '530330004012', '530330004021', '530330004022', '530330004023', '530330004024', '530110404131', '530559605002', '530330254004', '530330261001', '530330268011', '530330005002', '530330007004', '530330007003', '530330008001', '530330008002', '530330009001', '530330009002', '530330010001', '530330010002', '530330011001', '530330011002', '530330012003', '530330012004', '530330012005', '530530712061', '530110406053', '530110411123', '530110401013', '530110401012', '530110403021', '530110403012', '530530609062', '530330006004', '530330005003', '530330006001', '530330006003', '530719203003', '530330006006', '530330007001', '530330006005', '530330007002', '530350925003', '530350925004', '530350925002', '530270010001', '530350926003', '530350926001', '530530607004', '530530607005', '530530608001', '530530613004', '530270011001', '530270011005', '530270012004', '530270013003', '530530608003', '530530608007', '530530609052', '530719205002', '530719201004', '530719209003', '530719202002', '530719209004', '530330101005', '530719200003', '530719202001', '530719203001', '530719203002', '530719203004', '530719206001', '530530734063', '530330320112', '530330320071', '530330258061', '530330224002', '530330061002', '530330063004', '530330095002', '530330102002', '530330246013', '530330014004', '530330104023', '530330104012', '530330107022', '530330316053', '530330001005', '530330265002', '530330016001', '530330208004', '530330209003', '530330096005', '530330080013', '530330226063', '530330120002', '530330119001', '530330204011', '530330253013', '530330220051', '530110411124', '530330229011', '530330239003', '530110413234', '530110413193', '530110413281', '530330219052', '530110408091', '530110404072', '530330295031', '530330031005', '530330015002', '530330043013', '530330219042', '530330219044', '530330219051', '530530609053', '530330220032', '530330220033', '530330219061', '530330219063', '530330220011', '530330219062', '530330078002', '530330078003', '530330220062', '530530609041', '530530611003', '530419702002', '530630112014', '530630111011', '530630112013', '530630046012', '530630049004', '530330291012', '530330320101', '530330320102', '530330320103', '530330322103', '530330322124', '530350925001', '530210203002', '530210206062', '530210206061', '530210206064', '530210206031', '530210205027', '530210206053', '530210204004', '530210206014', '530630112011', '530630049002', '530630104011', '530630111014', '530630113003', '530630046013', '530630118001', '530330323291', '530330322151', '530330322143', '530330322142', '530330322085', '530530609031', '530530609044', '530719200004', '530719201002', '530719200002', '530719208022', '530719209001', '530719209005', '530719200001', '530719201003', '530719201005', '530270009005', '530270010002', '530270012002', '530530609032', '530530609033', '530050104003', '530610410002', '530610411001', '530610410001', '530610410004', '530530603002', '530530603003', '530530604004', '530530604003', '530530604005', '530530605001', '530530605002', '530530606001', '530530606002', '530050106001', '530050117004', '530050102011', '530050105003', '530050108135', '530050115013', '530050115041', '530050117003', '530050117005', '530050120001', '530050119004', '530050111004', '530330312023', '530050118002', '530330119003', '530330303123', '530330222031', '530330312025', '530330012002', '530330079005', '530330046002', '530330245002', '530330275002', '530330326022', '530330069001', '530330324011', '530330114012', '530330013002', '530090010001', '530090010002', '530090011001', '530090012002', '530330047001', '530330213002', '530330097021', '530330028002', '530330034002', '530330249032', '530330061003', '530330203004', '530330030004', '530330293061', '530330303143', '530090019003', '530530733012', '530090013002', '530090013001', '530090015001', '530090017002', '530619400013', '530090019004', '530090021002', '530330279001', '530330288013', '530330292052', '530530613003', '530770031003', '530330040002', '530330040001', '530619901000', '530330038002', '530350929011', '530350929013', '530350929014', '530610407004', '530610417041', '530610417042', '530610417031', '530610519271', '530610418101', '530610420053', '530610420011', '530610501012', '530610527072', '530610527061', '530610521182', '530350913021', '530610520032', '530610526072', '530350919003', '530350916003', '530350921003', '530350921002', '530350921001', '530350901021', '530359901000', '530350920003', '530350909001', '530350920001', '530350913011', '530350926004', '530350916004', '530350811002', '530350902022', '530090008003', '530330220061', '530419702001', '530579517002', '530330220053', '530330220052', '530330220034', '530579518001', '530579518002', '530330310002', '530090002001', '530090014002', '530090018001', '530090006001', '530090016002', '530090015002', '530090013003', '530090006002', '530090019001', '530090007001', '530090016001', '530090003004', '530090019002', '530090004001', '530090012003', '530090017001', '530090011003', '530090014001', '530099400002', '530090023003', '530090002002', '530090003003', '530090003001', '530090014003', '530090020002', '530090020001', '530090007002', '530770017011', '530090023001', '530630113004', '530630118003', '530630104013', '530090008002', '530090008001', '530090009001', '530090009003', '530090009002', '530770012021', '530770017021', '530770029001', '530770021021', '530770021023', '530770012013', '530770016012', '530779400021', '530770021026', '530770020023', '530770030022', '530770030021', '530770029006', '530770016024', '530770016023', '530770020013', '530770002001', '530779400031', '530770016011', '530779400023', '530770034002', '530770030023', '530610526073', '530610535071', '530610535073', '530610532021', '530610533014', '530610538021', '530610521181', '530610512003', '530610525042', '530610521122', '530610521132', '530610522071', '530610536023', '530610538034', '530610538011', '530610526032', '530610536032', '530610535061', '530610537002', '530379754011', '530610528061', '530379753002', '530379752001', '530379754021', '530379755001', '530379754023', '530379751003', '530379754012', '530379757002', '530530618001', '530379751001', '530379757001', '530379751002', '530530607003', '530530616021', '530530617001', '530530617005', '530530618002', '530539400072', '530530618003', '530530619001', '530530619002', '530530620003', '530530620004', '530770004001', '530330222023', '530330226042', '530330226051', '530330226062', '530770007004', '530770008001', '530770008002', '530770008004', '530770009011', '530770010001', '530770010003', '530770011001', '530630120001', '530630120002', '530630121002', '530630121003', '530630122002', '530630123001', '530630123002', '530770007003', '530770009012', '530770009013', '530770003001', '530770028012', '530770022002', '530779400014', '530770005001', '530770031001', '530770017022', '530770029003', '530770022001', '530530714091', '530770002002', '530770002003', '530770003002', '530630126002', '530630127011', '530630127012', '530630127021', '530630127022', '530630128011', '530770004005', '530770006003', '530770007001', '530630128012', '530630128013', '530770007002', '530770005002', '530770005003', '530770005004', '530770006001', '530770006002', '530610502003', '530770004003', '530770004002', '530110408061', '530630129025', '530630130001', '530630131001', '530610519052', '530610503003', '530610505005', '530610419034', '530150004002', '530150004004', '530150004005', '530150005011', '530150005012', '530150005013', '530150005021', '530150005022', '530150005023', '530610519254', '530610519221', '530610418061', '530610529033', '530610418113', '530610527051', '530530602001', '530530730062', '530530717071', '530530725031', '530530725041', '530530714094', '530530702073', '530610527071', '530610518021', '530530606006', '530530724082', '530530613002', '530530609042', '530610413033', '530610413014', '530539400111', '530539400041', '530530629001', '530530632003', '530530609043', '530530732003', '530530610024', '530530725062', '530530735001', '530530723112', '530530634006', '530530612001', '530530732004', '530530617002', '530530721123', '530530702042', '530530605003', '530530723052', '530619400012', '530610520033', '530530731142', '530530718051', '530610518032', '530530606003', '530530703113', '530530607006', '530530611001', '530530731182', '530530702074', '530530634002', '530530724063', '530530624002', '530530631002', '530530725061', '530530726035', '530530732001', '530530617003', '530530703132', '530530734041', '530530701002', '530350910001', '530610411002', '530610416014', '530730002003', '530610412024', '530330102001', '530330103001', '530330103004', '530330103005', '530330104011', '530330104021', '530330104022', '530330105001', '530610529052', '530610521042', '530150007042', '530610520042', '530610520043', '530610520044', '530610520054', '530279900000', '530150007022', '530530629004', '530530726033', '530530713061', '530530712103', '530530718033', '530610520063', '530610418102', '530610418091', '530610419032', '530559603004', '530559604001', '530559604003', '530610415002', '530610416012', '530610416013', '530610521183', '530610521131', '530610522042', '530559601003', '530330105005', '530730012012', '530330105003', '530330105004', '530330106001', '530379752002', '530379752003', '530379757003', '530379753001', '530670116212', '530670106004', '530330078004', '530330079001', '530330079004', '530330080021', '530330222021', '530330222022', '530530631001', '530530612003', '530530610011', '530530605004', '530530701001', '530530731192', '530530702062', '530530731113', '530530723103', '530530620001', '530539400071', '530530624003', '530530720004', '530530712062', '530530714092', '530610519273', '530610408002', '530610404003', '530610415001', '530610413031', '530610412021', '530610412023', '530610413041', '530610409002', '530610413013', '530730009021', '530730009011', '530730009013', '530610414001', '530610414002', '530610414003', '530610414004', '530610535041', '530610520031', '530610417043', '530150006012', '530150006013', '530150006014', '530150006021', '530150006022', '530150007043', '530210206032', '530330074021', '530610518022', '530610420032', '530610420062', '530150008004', '530150009002', '530150010001', '530150010002', '530299922010', '530579524022', '530579524021', '530579508002', '530719204001', '530579523011', '530439602003', '530439602002', '530439604001', '530439604003', '530439603003', '530439601001', '530439604002', '530439603002', '530439601002', '530439602001', '530579523013', '530579408001', '530579403002', '530579901000', '530579523012', '530610522043', '530610522092', '530610522083', '530439603001', '530579525002', '530579406001', '530579501001', '530610520071', '530610520072', '530610520073', '530610521154', '530379751004', '530330235002', '530610532011', '530250109011', '530610521153', '530350814001', '530350804002', '530350909002', '530579403001', '530350910003', '530319505004', '530319507022', '530350812002', '530350801021', '530350912011', '530579527003', '530579521002', '530579519001', '530579524023', '530579523021', '530579404003', '530579404001', '530579408002', '530579501002', '530579402001', '530579402002', '530350803002', '530350801012', '530350801022', '530350801023', '530350802001', '530350803001', '530350804001', '530350806002', '530350804003', '530350805002', '530350806001', '530399503005', '530350806003', '530350806004', '530350807002', '530399503004', '530399501006', '530399501005', '530399503007', '530399502004', '530399501008', '530399501001', '530399501004', '530399502003', '530399501003', '530399503002', '530399503003', '530399503001', '530399501007', '530399501002', '530399502001', '530399503006', '530330029003', '530350810003', '530350810001', '530350811001', '530350809002', '530350901011', '530610527082', '530730103011', '530730103012', '530730103013', '530730103021', '530330243001', '530330243002', '530330243003', '530630031004', '530630045003', '530630109001', '530630114003', '530630116001', '530330323292', '530330316043', '530330322133', '530330081001', '530330041003', '530330098005', '530330012001', '530330021001', '530330027002', '530330027003', '530330027004', '530330028003', '530330029002', '530330030003', '530339901000', '530330030002', '530539400053', '530530609054', '530330031001', '530330031003', '530330031004', '530330034003', '530330035001', '530330035002', '530330035003', '530330034001', '530330036004', '530330038001', '530630042005', '530330316041', '530330201002', '530330111021', '530330074014', '530330226053', '530330250063', '530330317051', '530330303084', '530330249033', '530330284032', '530330312045', '530330025001', '530330313012', '530330316031', '530330022003', '530330223001', '530330039002', '530479705002', '530330039001', '530330242002', '530330240004', '530330239002', '530330050001', '530610521142', '530719206002', '530719206003', '530719206004', '530719206005', '530719207012', '530719207014', '530719207022', '530719207023', '530719207024', '530330106003', '530719207021', '530479710002', '530479703001', '530479707002', '530479704001', '530479710001', '530479709002', '530479402003', '530479708001', '530479708005', '530479401002', '530479705001', '530479707004', '530479703003', '530479706006', '530479709003', '530499505002', '530730009022', '530150020022', '530150006011', '530150017001', '530150018002', '530150020014', '530079613025', '530079613023', '530079610001', '530079610002', '530079610003', '530499502005', '530499508002', '530499502002', '530499504001', '530499502003', '530499503002', '530499503003', '530499502001', '530499504003', '530499504002', '530499502004', '530079606002', '530079610005', '530079610006', '530079610007', '530079611001', '530079611002', '530079611003', '530079611004', '530079611005', '530079611006', '530330106006', '530079608025', '530050116002', '530050110021', '530050108034', '530050115034', '530330106004', '530330106005', '530330107011', '530479707001', '530330107012', '530019501003', '530019503001', '530019504002', '530479703002', '530479703006', '530479704002', '530479705003', '530479706004', '530479707005', '530479708004', '530479710005', '530479703004', '530479401001', '530479402001', '530479402002', '530479703005', '530479704003', '530479706001', '530479706003', '530610535054', '530730107011', '530730104032', '530350810002', '530350809001', '530350926002', '530350903001', '530350903002', '530350903003', '530350809004', '530530703122', '530530703101', '530530703071', '530530702051', '530050108102', '530090021001', '530099400001', '530090003002', '530090006003', '530090011002', '530050107032', '530050109015', '530050101002', '530050109022', '530730104031', '530730008042', '530730012024', '530350903004', '530350902011', '530350902013', '530350902021', '530350905021', '530530703161', '5305307

In [26]:
top = """
SELECT *
FROM population
LIMIT 10;"""
sql.read_query(connection_replica, top)

[('13869309696222166396',
  '10000000323569557755',
  '410192100004',
  '410190500023',
  'nan',
  '41019210000',
  '41019050002',
  'nan',
  '35_64',
  46,
  'F',
  'white',
  'not_hispanic_or_latino',
  '0_20000',
  887.0,
  'employed',
  'high_school',
  'not_attending_school',
  'naics541940',
  'child',
  '1',
  'husband/wife_no_children',
  'driving',
  'owner',
  'same_house',
  '3_person',
  '40000_75000',
  70097.0,
  'family_single',
  '2',
  'single_family',
  'core',
  'english',
  42.790351685227975,
  -123.26420573748364,
  43.38126246542247,
  -123.31829046103536,
  None,
  None,
  'worked_from_home'),
 ('9351892862469751559',
  '10000001964381556008',
  '160199705023',
  '160199714002',
  '160199706022',
  '16019970502',
  '16019971400',
  '16019970602',
  '18_24',
  22,
  'M',
  'white',
  'not_hispanic_or_latino',
  '20000_40000',
  21468.0,
  'employed',
  'some_college',
  'undergraduate',
  'naics44_45',
  'child',
  '0',
  'nan',
  'driving',
  'owner',
  'same_house',
  '3_person',
  '125000_plus',
  134181.0,
  'married_couple',
  '3_plus',
  'single_family',
  'core',
  'english',
  43.471088438736814,
  -111.95206705505174,
  None,
  None,
  43.48703100851268,
  -111.98590800350405,
  'worked_in_person'),
 ('17571687911180552742',
  '10000002909730821040',
  '530250111002',
  '530250110001',
  'nan',
  '53025011100',
  '53025011000',
  'nan',
  '35_64',
  64,
  'M',
  'white',
  'hispanic_or_latino',
  '100000_plus',
  103145.0,
  'employed',
  'some_college',
  'not_attending_school',
  'naics53',
  'spouse',
  '0',
  'nan',
  'driving',
  'owner',
  'same_house',
  '2_person',
  '125000_plus',
  211447.0,
  'married_couple',
  '3_plus',
  'single_family',
  'core',
  'english',
  47.08536990180629,
  -119.3190904608857,
  47.13272483698271,
  -119.21299979925674,
  None,
  None,
  'worked_in_person'),
 ('17212045348023710843',
  '10000003183049770926',
  '530110408032',
  'nan',
  'nan',
  '53011040803',
  'nan',
  'nan',
  '65_plus',
  68,
  'F',
  'white',
  'not_hispanic_or_latino',
  '20000_40000',
  32310.0,
  'notinlf',
  'some_college',
  'not_attending_school',
  'not_working',
  'head_of_household',
  '0',
  'nan',
  'not_working',
  'owner',
  'same_house',
  '2_person',
  '75000_125000',
  104124.0,
  'married_couple',
  '2',
  'single_family',
  'core',
  'english',
  45.70272048905293,
  -122.63295840622197,
  None,
  None,
  None,
  None,
  'under_16_or_notinlf'),
 ('6736242328113975455',
  '10000003900118609948',
  '410670314031',
  'nan',
  'nan',
  '41067031403',
  'nan',
  'nan',
  '65_plus',
  78,
  'M',
  'white',
  'not_hispanic_or_latino',
  '80000_100000',
  81152.0,
  'notinlf',
  'some_college',
  'not_attending_school',
  'not_working',
  'head_of_household',
  '0',
  'nan',
  'not_working',
  'owner',
  'same_house',
  '3_person',
  '75000_125000',
  114483.0,
  'married_couple',
  '3_plus',
  'single_family',
  'core',
  'english',
  45.51446115079035,
  -122.80644462622428,
  None,
  None,
  None,
  None,
  'under_16_or_notinlf'),
 ('9613290883819190758',
  '10000005160936665771',
  '530350913013',
  '530350904002',
  '530330054002',
  '53035091301',
  '53035090400',
  '53033005400',
  '18_24',
  21,
  'F',
  'white',
  'not_hispanic_or_latino',
  '0_20000',
  6977.0,
  'employed',
  'high_school',
  'not_attending_school',
  'naics446191',
  'child',
  '0',
  'nan',
  'driving',
  'owner',
  'same_house',
  '4_person',
  '75000_125000',
  86842.0,
  'married_couple',
  '3_plus',
  'single_family',
  'core',
  'english',
  47.65660159139808,
  -122.77847938681913,
  None,
  None,
  47.647402,
  -122.34089399999999,
  'worked_in_person'),
 ('15324155943967789838',
  '10000006085523857441',
  '410050241001',
  '410050241001',
  'nan',
  '41005024100',
  '41005024100',
  'nan',
  '35_64',
  36,
  'F',
  'white',
  'not_hispanic_or_latino',
  '0_20000',
  3094.0,
  'employed',
  'some_college',
  'undergraduate',
  'naics31_33',
  'spouse',
  '0',
  'nan',
  'worked_from_home',
  'owner',
  'same_house',
  '7_plus_person',
  '75000_125000',
  106239.0,
  'married_couple',
  '3_plus',
  'single_family',
  'core',
  'english',
  45.176697727329184,
  -122.49625732494604,
  45.1691669559682,
  -122.41619752147295,
  None,
  None,
  'worked_from_home'),
 ('6609683274987076320',
  '10000008755408033207',
  '160270207001',
  '160270207001',
  '160270204024',
  '16027020700',
  '16027020700',
  '16027020402',
  '25_34',
  34,
  'F',
  'white',
  'not_hispanic_or_latino',
  '0_20000',
  12965.0,
  'employed',
  'some_college',
  'not_attending_school',
  'naics53',
  'head_of_household',
  '0',
  'nan',
  'worked_from_home',
  'renter',
  'within_us',
  '5_person',
  '125000_plus',
  131817.0,
  'married_couple',
  '2',
  'single_family',
  'core',
  'indo_european',
  43.56204263677141,
  -116.5000643384668,
  None,
  None,
  43.56174049917477,
  -116.57038849871797,
  'worked_from_home'),
 ('15935868913530754662',
  '10000009414038719767',
  '530670101003',
  '530670112004',
  'nan',
  '53067010100',
  '53067011200',
  'nan',
  '35_64',
  38,
  'M',
  'white',
  'not_hispanic_or_latino',
  '20000_40000',
  24754.0,
  'employed',
  'bachelors_degree',
  'not_attending_school',
  'naics23',
  'spouse',
  '0',
  'nan',
  'carpool',
  'owner',
  'same_house',
  '4_person',
  '75000_125000',
  80453.0,
  'married_couple',
  '2',
  'single_family',
  'core',
  'english',
  47.03276072910232,
  -122.90318016728702,
  47.047294420513936,
  -122.79560541710582,
  None,
  None,
  'worked_in_person'),
 ('4424614914384647969',
  '100000095753931693',
  '410390024042',
  'nan',
  '410390028002',
  '41039002404',
  'nan',
  '41039002800',
  '5_14',
  13,
  'M',
  'white',
  'not_hispanic_or_latino',
  'lte_0',
  0.0,
  'under_16',
  'k_12',
  'school',
  'not_working',
  'child',
  '0',
  'nan',
  'not_working',
  'renter',
  'same_house',
  '2_person',
  '40000_75000',
  71080.0,
  'family_single',
  '1',
  'single_family',
  'core',
  'english',
  44.09883872177562,
  -123.14503951590866,
  None,
  None,
  44.094853300000004,
  -123.13169140000001,
  'under_16_or_notinlf')]

In [18]:
people_list = list(set(results_people))

In [16]:
person_list = np.unique(results_people)

In [17]:
person_list

array(['10000002909730821040', '10000003183049770926',
       '10000005160936665771', ..., '9999992107991804948',
       '9999996696186290995', '9999997956849808929'], dtype='<U20')

In [ ]:
results_people = sql.read_query(connection_replica, q1)

In [29]:
len(results_people)/1e6

51.727268

Pull person list to create simulation population

In [35]:
trip_sat = dd.read_parquet(datadir+'/northwest_2021_Q4_saturday_trip.parquet')
trip_thu = dd.read_parquet(datadir+'/northwest_2021_Q4_thursday_trip.parquet')
trips = dd.concat([trip_sat, trip_thu])
people = trips['person_id'].loc[trips['destination_bgrp'].isin(blockgroups)].drop_duplicates().compute()

2023-04-17 16:06:38,094 - distributed.worker.memory - WARNING - Worker is at 80% memory usage. Pausing worker.  Process memory: 3.24 GiB -- Worker memory limit: 4.00 GiB
2023-04-17 16:06:39,267 - distributed.worker.memory - WARNING - Worker is at 79% memory usage. Resuming worker. Process memory: 3.20 GiB -- Worker memory limit: 4.00 GiB

In [37]:
chunked_list = np.array_split(people.values, 1000)

In [28]:
#Number of people in the simulation
len(people)/1e6

51.727268

In [38]:
chunked_list[0]

array(['9261044664253989731', '11705321199965034957',
       '12047641940475444253', ..., '5011435391917840520',
       '14470373545714533185', '4751800203279003086'], dtype=object)

Define colums to pull for simulation and read in existing load to use for charging optimization

In [40]:
person_columns = [
    'household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age',
    'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education',
    'industry', 'household_role', 'commute_mode', 'household_size', 'household_income',
    'family_structure', 'vehicles', 'building_type', 'resident_type'
]
trips_columns = [
    'activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time',
    'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1',
    'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type','weekday'
]
existing_load=dd.read_csv('../../data/EIA_demand_summary.csv') #Created in the EIA_data_download.ipynb notebook

In [34]:
def create_lists(chunk_size, person_list):
    """Creates list of person_id lists of a given chunk_size for parallelizing simulation
    Parameters
    ----------
    chunk_size : int
        Number of person ids to include in each sub-list
        The simulation runs each sub-list of people on a single core in series
    person_list : list
        Person ids to reorganize into list of lists
    Returns
    -------
    list
        List of lists of person ids
    """
    
    lists = [person_list[x:x+chunk_size] for x in range(0,len(person_list),chunk_size)]
    return(lists)

Divide list of person_ids into 100-person sub-lists for parallelization

In [55]:
# chunked_list = create_lists(100,person_list)
client.close()

In [69]:
from dask.distributed import Client, LocalCluster

# replace with whichever cluster class you're using
# https://docs.dask.org/en/stable/deploying.html#distributed-computing
cluster = LocalCluster()
# connect client to your cluster
client = Client(cluster)

# Monitor your computation with the Dask dashboard
print(client.dashboard_link)

http://127.0.0.1:8787/status

In [74]:
type(chunked_list[0])

numpy.ndarray

Run two simulations—one with unmanaged charging, and the other with managed charging

In [77]:
%%time
import time
import joblib
try: 
    with joblib.parallel_backend("dask"):
        joblib.Parallel(verbose=100)(
            joblib.delayed(sim.run_charge_simulation)(
            person_ids = id,
            database_name = 'replica',
            database_pw = pw,
            person_columns = person_columns,
            trips_columns = trips_columns,
            existing_load = existing_load,
            simulation_id = '01',
            managed = False
        ) for id in chunked_list)
except ValueError:
    print('ValueError')
    breakpoint()
    pass

[Parallel(n_jobs=-1)]: Using backend DaskDistributedBackend with 8 concurrent workers.
MySQL Database connection successful
4751800203279003086
MySQL Database connection successful
8311751139682729740
MySQL Database connection successful
14182926702180916408
MySQL Database connection successful
15853988323055856254
MySQL Database connection successful
1099278117153328983
MySQL Database connection successful
17432528149800507545
MySQL Database connection successful
1135797921520336679
MySQL Database connection successful
12485798019439483730
MySQL Database connection successful
11491538083635106173
MySQL Database connection successful
2010179665154515022
MySQL Database connection successful
15190527745866557710
ValueError
CPU times: user 45.7 s, sys: 5 s, total: 50.7 s
Wall time: 4min 16s
MySQL Database connection successful
3714597675295938247

2023-04-14 16:09:42,583 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-0397d74432834781b39ea6adb1f465b9
Function:  execute_task
args:      ((<function apply at 0x101abefc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x11031f060>, [], {'person_ids': array(['9261044664253989731', '11705321199965034957',
       '12047641940475444253', ..., '5011435391917840520',
       '14470373545714533185', '4751800203279003086'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'], '
kwargs:    {}
Exception: "ValueError('Cannot call len() on object with unknown chunk size.\\n\\nA possible solution: https://docs.dask.org/en/latest/array-chunks.html#unknown-chunks\\nSummary: to compute chunks sizes, use\\n\\n   x.compute_chunk_sizes()  # for Dask Array `x`\\n   ddf.to_dask_array(lengths=True)  # for Dask DataFrame `ddf`')"

2023-04-14 16:09:42,598 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-beb50ea49e79450d835cefaf470011fb
Function:  execute_task
args:      ((<function apply at 0x101abefc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x11031f060>, [], {'person_ids': array(['16811939776720519406', '11706401778263607389',
       '11479873376650864868', ..., '344893465462457530',
       '13134835682996092727', '15853988323055856254'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'],
kwargs:    {}
Exception: "ValueError('Cannot call len() on object with unknown chunk size.\\n\\nA possible solution: https://docs.dask.org/en/latest/array-chunks.html#unknown-chunks\\nSummary: to compute chunks sizes, use\\n\\n   x.compute_chunk_sizes()  # for Dask Array `x`\\n   ddf.to_dask_array(lengths=True)  # for Dask DataFrame `ddf`')"

2023-04-14 16:09:42,600 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-3adf31066cee418fb2f0ce8858f706b6
Function:  execute_task
args:      ((<function apply at 0x103592fc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x12638efc0>, [], {'person_ids': array(['17153680281202174740', '2246719426048384449',
       '8839225330505108672', ..., '10289497426218174167',
       '133159416209973703', '1099278117153328983'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'], 'ex
kwargs:    {}
Exception: "ValueError('No objects to concatenate')"

2023-04-14 16:09:42,601 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-4c6062c370fe4c078e3c0e1458d100a8
Function:  execute_task
args:      ((<function apply at 0x103592fc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x12638efc0>, [], {'person_ids': array(['14673119794812628784', '1311126105317439070',
       '3487260293202647677', ..., '7593879635952917925',
       '12414311981761725125', '8311751139682729740'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'], 'e
kwargs:    {}
Exception: "ValueError('Cannot call len() on object with unknown chunk size.\\n\\nA possible solution: https://docs.dask.org/en/latest/array-chunks.html#unknown-chunks\\nSummary: to compute chunks sizes, use\\n\\n   x.compute_chunk_sizes()  # for Dask Array `x`\\n   ddf.to_dask_array(lengths=True)  # for Dask DataFrame `ddf`')"

2023-04-14 16:09:42,644 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-46b0f1f3b5a3427398512b11ad1dee35
Function:  execute_task
args:      ((<function apply at 0x101992fc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x121213060>, [], {'person_ids': array(['9129847253057566313', '2565261620536887153',
       '12642056503194223706', ..., '13184258044003145359',
       '2735136432510627519', '17432528149800507545'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'], '
kwargs:    {}
Exception: "ValueError('No objects to concatenate')"

2023-04-14 16:09:42,646 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-9c78a0a67c78425082627a8682890605
Function:  execute_task
args:      ((<function apply at 0x101992fc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x121213060>, [], {'person_ids': array(['8338092934243456929', '358110917930561705', '5401153122282122794',
       ..., '13493272495665017221', '7375110371342199546',
       '14182926702180916408'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'], 'ex
kwargs:    {}
Exception: "ValueError('Cannot call len() on object with unknown chunk size.\\n\\nA possible solution: https://docs.dask.org/en/latest/array-chunks.html#unknown-chunks\\nSummary: to compute chunks sizes, use\\n\\n   x.compute_chunk_sizes()  # for Dask Array `x`\\n   ddf.to_dask_array(lengths=True)  # for Dask DataFrame `ddf`')"

MySQL Database connection successful
15586902494152624785
MySQL Database connection successful
1194056039050078940

2023-04-14 16:09:42,658 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-51b271666ec94982ae1986e15dc62bfb
Function:  execute_task
args:      ((<function apply at 0x101b86fc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x121b0efc0>, [], {'person_ids': array(['10591755769114010983', '1445514123502694080',
       '3504683318827351069', ..., '12084875375661462272',
       '9642967758337622468', '1135797921520336679'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'], 'e
kwargs:    {}
Exception: "ValueError('Cannot call len() on object with unknown chunk size.\\n\\nA possible solution: https://docs.dask.org/en/latest/array-chunks.html#unknown-chunks\\nSummary: to compute chunks sizes, use\\n\\n   x.compute_chunk_sizes()  # for Dask Array `x`\\n   ddf.to_dask_array(lengths=True)  # for Dask DataFrame `ddf`')"

2023-04-14 16:09:42,695 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-4d525e1ba1f642b580142bb88f6dfcc8
Function:  execute_task
args:      ((<function apply at 0x101b86fc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x121b0efc0>, [], {'person_ids': array(['6608573448719845103', '8351480088398271521',
       '17182595269545474163', ..., '5407933498020514797',
       '10313289170026234163', '12485798019439483730'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'], '
kwargs:    {}
Exception: "ValueError('Cannot call len() on object with unknown chunk size.\\n\\nA possible solution: https://docs.dask.org/en/latest/array-chunks.html#unknown-chunks\\nSummary: to compute chunks sizes, use\\n\\n   x.compute_chunk_sizes()  # for Dask Array `x`\\n   ddf.to_dask_array(lengths=True)  # for Dask DataFrame `ddf`')"

MySQL Database connection successful
9548148166314694287
MySQL Database connection successful
11919653896776563605

2023-04-14 16:13:14,369 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-c7cfda74a139486db25067da8c31b7f4
Function:  execute_task
args:      ((<function apply at 0x101abefc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x11031f060>, [], {'person_ids': array(['9929388252069785530', '17269564605726224992',
       '7596365437332440583', ..., '6441355836116851125',
       '3847671475764732765', '11491538083635106173'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'], 'e
kwargs:    {}
Exception: "ValueError('Cannot call len() on object with unknown chunk size.\\n\\nA possible solution: https://docs.dask.org/en/latest/array-chunks.html#unknown-chunks\\nSummary: to compute chunks sizes, use\\n\\n   x.compute_chunk_sizes()  # for Dask Array `x`\\n   ddf.to_dask_array(lengths=True)  # for Dask DataFrame `ddf`')"

2023-04-14 16:13:14,370 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-5ae441fb1f424fffa5f3cdd37b989ccd
Function:  execute_task
args:      ((<function apply at 0x101abefc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x11031f060>, [], {'person_ids': array(['15291434000511510665', '7522643564550570586',
       '16953909690686456205', ..., '5001254585759532657',
       '12673192915580517074', '2010179665154515022'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'], '
kwargs:    {}
Exception: "ValueError('Cannot call len() on object with unknown chunk size.\\n\\nA possible solution: https://docs.dask.org/en/latest/array-chunks.html#unknown-chunks\\nSummary: to compute chunks sizes, use\\n\\n   x.compute_chunk_sizes()  # for Dask Array `x`\\n   ddf.to_dask_array(lengths=True)  # for Dask DataFrame `ddf`')"

2023-04-14 16:13:14,378 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-1b55ab28d392420bab822846b3b73243
Function:  execute_task
args:      ((<function apply at 0x103592fc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x12638efc0>, [], {'person_ids': array(['7032274009686215446', '18335479214892954294',
       '7288795883165551897', ..., '17914334680657878969',
       '5919551993351430537', '15190527745866557710'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'], '
kwargs:    {}
Exception: "ValueError('Cannot call len() on object with unknown chunk size.\\n\\nA possible solution: https://docs.dask.org/en/latest/array-chunks.html#unknown-chunks\\nSummary: to compute chunks sizes, use\\n\\n   x.compute_chunk_sizes()  # for Dask Array `x`\\n   ddf.to_dask_array(lengths=True)  # for Dask DataFrame `ddf`')"

2023-04-14 16:13:14,379 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-64a835ed9523439ab613cdfadeeb9052
Function:  execute_task
args:      ((<function apply at 0x103592fc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x12638efc0>, [], {'person_ids': array(['2504435652893262553', '1372058892336327722',
       '5055910069215957260', ..., '11580778662949990207',
       '12258731965707903408', '3714597675295938247'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'], 'e
kwargs:    {}
Exception: "ValueError('Cannot call len() on object with unknown chunk size.\\n\\nA possible solution: https://docs.dask.org/en/latest/array-chunks.html#unknown-chunks\\nSummary: to compute chunks sizes, use\\n\\n   x.compute_chunk_sizes()  # for Dask Array `x`\\n   ddf.to_dask_array(lengths=True)  # for Dask DataFrame `ddf`')"

2023-04-14 16:13:14,404 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-5c7b77de58dd4b05b35b547e11b2e3cc
Function:  execute_task
args:      ((<function apply at 0x101b86fc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x121b0efc0>, [], {'person_ids': array(['6558370783348184420', '2485516426139966012',
       '13156277965755039775', ..., '6306705697500825339',
       '4534648060721061058', '11919653896776563605'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'], 'e
kwargs:    {}
Exception: "ValueError('Cannot call len() on object with unknown chunk size.\\n\\nA possible solution: https://docs.dask.org/en/latest/array-chunks.html#unknown-chunks\\nSummary: to compute chunks sizes, use\\n\\n   x.compute_chunk_sizes()  # for Dask Array `x`\\n   ddf.to_dask_array(lengths=True)  # for Dask DataFrame `ddf`')"

2023-04-14 16:13:14,405 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-e929ceea9cbe45139fecf955adefa3bb
Function:  execute_task
args:      ((<function apply at 0x101b86fc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x121b0efc0>, [], {'person_ids': array(['15654296432034808506', '3253836657899818996',
       '17002931518666263192', ..., '13649574346725626557',
       '5954650046598245288', '9548148166314694287'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'], '
kwargs:    {}
Exception: "ValueError('Cannot call len() on object with unknown chunk size.\\n\\nA possible solution: https://docs.dask.org/en/latest/array-chunks.html#unknown-chunks\\nSummary: to compute chunks sizes, use\\n\\n   x.compute_chunk_sizes()  # for Dask Array `x`\\n   ddf.to_dask_array(lengths=True)  # for Dask DataFrame `ddf`')"

2023-04-14 16:13:14,439 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-296e0dc277e943079a96fa05eb3988c6
Function:  execute_task
args:      ((<function apply at 0x101992fc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x121213060>, [], {'person_ids': array(['18166965982140627254', '11149915098590880101',
       '2569160273385980809', ..., '6994881142988651595',
       '9065040307763882468', '1194056039050078940'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'], 'e
kwargs:    {}
Exception: "ValueError('Cannot call len() on object with unknown chunk size.\\n\\nA possible solution: https://docs.dask.org/en/latest/array-chunks.html#unknown-chunks\\nSummary: to compute chunks sizes, use\\n\\n   x.compute_chunk_sizes()  # for Dask Array `x`\\n   ddf.to_dask_array(lengths=True)  # for Dask DataFrame `ddf`')"

2023-04-14 16:13:14,440 - distributed.worker - WARNING - Compute Failed
Key:       batch_of_run_charge_simulation_1_calls-c5778d688a32438fb22142ba03138572
Function:  execute_task
args:      ((<function apply at 0x101992fc0>, batch_of_run_charge_simulation_1_calls, [], {'tasks': [(<function run_charge_simulation at 0x121213060>, [], {'person_ids': array(['1728463219453981983', '17379595826468964091',
       '18317465189194420543', ..., '7707541635312318861',
       '17008839899775483669', '15586902494152624785'], dtype=object), 'database_name': 'replica', 'database_pw': 'I8anapple!', 'person_columns': ['household_id', 'person_id', 'BLOCKGROUP', 'BLOCKGROUP_work', 'age', 'sex', 'race', 'ethnicity', 'individual_income', 'employment', 'education', 'industry', 'household_role', 'commute_mode', 'household_size', 'household_income', 'family_structure', 'vehicles', 'building_type', 'resident_type'], 'trips_columns': ['activity_id', 'person_id', 'distance_miles', 'mode', 'travel_purpose', 'start_time', 'end_time', 'origin_bgrp', 'destination_bgrp', 'origin_land_use_l1', 'destination_land_use_l1', 'origin_building_use_l1', 'destination_building_use_l1', 'vehicle_type', 'weekday'],
kwargs:    {}
Exception: "ValueError('Cannot call len() on object with unknown chunk size.\\n\\nA possible solution: https://docs.dask.org/en/latest/array-chunks.html#unknown-chunks\\nSummary: to compute chunks sizes, use\\n\\n   x.compute_chunk_sizes()  # for Dask Array `x`\\n   ddf.to_dask_array(lengths=True)  # for Dask DataFrame `ddf`')"

In [ ]:
temp = Parallel(n_jobs=6)(
    delayed(sim.run_charge_simulation)(
        person_ids = i,
        database_name = 'replica',
        database_pw = pw,
        person_columns = person_columns,
        trips_columns = trips_columns,
        existing_load = existing_load,
        simulation_id = '02',
        managed = True
    ) for i in chunked_list)#

MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful
MySQL Database connection successful

In [51]:
type(chunked_list[0])

numpy.ndarray

In [54]:
people

12         9261044664253989731
446       11705321199965034957
447       12047641940475444253
932       16409299978104629971
933       13147923906478375057
                  ...
180668    16593036485312744089
180886    14578818647173159764
181059     4714525973063744216
181138    10147352607296064792
181298      103932989148128297
Name: person_id, Length: 8538399, dtype: object

In [53]:
people.loc[people['person_id'] == '10236253046352761306']

KeyError: 'person_id'

In [52]:


sim.run_charge_simulation(
            person_ids = chunked_list[0][0:100],
            database_name = 'replica',
            database_pw = pw,
            person_columns = person_columns,
            trips_columns = trips_columns,
            existing_load = existing_load,
            simulation_id = '01',
            managed = False
        )

MySQL Database connection successful
11088826869089647247

ValueError: Cannot call len() on object with unknown chunk size.

A possible solution: https://docs.dask.org/en/latest/array-chunks.html#unknown-chunks
Summary: to compute chunks sizes, use

   x.compute_chunk_sizes()  # for Dask Array `x`
   ddf.to_dask_array(lengths=True)  # for Dask DataFrame `ddf`

In [ ]:
#Use this in case you want to delete data from the simulation database to rerun the simulation
# q = """
# DELETE FROM charges;
# """
# tests = sql.execute_query(connection_replica, q)

In [79]:
trip_sat['travel_purpose'].value_counts().compute()

HOME                   15798932
SHOP                   13008868
EAT                     6415163
SOCIAL                  4990435
RECREATION              2576654
WORK                    2497691
MAINTENANCE             2059801
COMMERCIAL              1267956
OTHER_ACTIVITY_TYPE      826816
LODGING                  455022
SCHOOL                   228930
REGION_DEPARTURE          86868
WORK_FROM_HOME            84327
Name: travel_purpose, dtype: int64

In [80]:
trip_sat['mode'].value_counts().compute()

PRIVATE_AUTO         24585018
CARPOOL              18456496
WALKING               4035579
COMMERCIAL            1258639
OTHER_TRAVEL_MODE      910208
ON_DEMAND_AUTO         460807
BIKING                 341998
PUBLIC_TRANSIT         248718
Name: mode, dtype: int64

In [81]:
trip_sat.loc[trip_sat['mode'] == 'COMMERCIAL'].compute()

,activity_id,person_id,mode,travel_purpose,previous_activity_type,start_time,end_time,distance_miles,vehicle_type,origin_bgrp,origin_bgrp_lat,origin_bgrp_lng,destination_bgrp,destination_bgrp_lat,destination_bgrp_lng,origin_land_use_l1,origin_land_use_l2,origin_building_use_l1,origin_building_use_l2,destination_land_use_l1,destination_land_use_l2,destination_building_use_l1,destination_building_use_l2,origin_lat,origin_lng,destination_lat,destination_lng
0,9279000034943401070,17327509686180360634,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 15:23:12,0 days 16:35:35,62.733511,MEDIUM_COMMERCIAL,060150001011,41.746259,-124.206273,410159502003,42.562838,-124.337297,nan,nan,nan,nan,nan,nan,nan,nan,41.74826,-124.20112,42.50703,-124.40986
2,1647238923281467213,15293783543053158940,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 16:24:07,0 days 17:28:07,54.388781,HEAVY_COMMERCIAL,060490002001,41.735255,-121.352275,410359720002,42.259899,-121.817733,nan,nan,nan,nan,nan,nan,nan,nan,41.68983,-121.27189,42.25545,-121.79924
3,14161940105906798253,10230136483887035220,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 09:55:16,0 days 13:16:49,208.460835,MEDIUM_COMMERCIAL,060490002001,41.735255,-121.352275,410191500001,43.151013,-123.373297,nan,nan,nan,nan,nan,nan,nan,nan,41.76158,-121.30210,43.15260,-123.37303
4,11456520016899244980,11447961505550466002,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 14:05:25,0 days 15:52:41,111.543443,HEAVY_COMMERCIAL,060490002001,41.735255,-121.352275,410359701003,43.285156,-121.558591,nan,nan,nan,nan,nan,nan,nan,nan,41.76055,-121.30210,43.12554,-121.80610
6,1557433381049270022,559983492497788695,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 16:33:24,0 days 16:41:34,4.132399,MEDIUM_COMMERCIAL,060930001001,41.811117,-121.600244,060930001001,41.811117,-121.600244,nan,nan,nan,nan,nan,nan,nan,nan,41.99777,-121.51084,41.95387,-121.48612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85878,12910140291689604387,867206370902095125,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 16:05:34,0 days 16:36:26,32.300392,MEDIUM_COMMERCIAL,560430003021,44.019316,-107.939480,560179678001,43.648248,-108.215819,nan,nan,nan,nan,nan,nan,nan,nan,44.01701,-107.96607,43.64750,-108.20915
85879,3510582306494789933,12813755273707020993,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 06:45:39,0 days 06:56:45,9.916767,MEDIUM_COMMERCIAL,560430003021,44.019316,-107.939480,560430002001,44.007320,-108.234660,nan,nan,nan,nan,nan,nan,nan,nan,44.03676,-107.95097,43.92707,-108.05534
85880,5901084494108477005,345241192582764009,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 10:36:08,0 days 16:45:59,416.060081,HEAVY_COMMERCIAL,560430003021,44.019316,-107.939480,300770001001,46.997671,-113.049478,nan,nan,nan,nan,nan,nan,nan,nan,44.02392,-107.96470,46.60746,-113.01979
85881,16449000756089704285,9386307840054704208,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 10:09:15,0 days 10:27:15,19.572888,MEDIUM_COMMERCIAL,560459511001,43.989531,-104.796388,560119502003,44.272116,-104.951558,nan,nan,nan,nan,nan,nan,nan,nan,44.10188,-104.63310,44.26339,-104.95170
85882,14163286026320792853,12908899829320780928,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 16:16:50,0 days 16:56:12,28.887671,HEAVY_COMMERCIAL,560459511002,43.840086,-104.425586,560459511002,43.840086,-104.425586,nan,nan,nan,nan,nan,nan,nan,nan,43.99429,-104.18266,43.59481,-104.19090

In [83]:
mhd_people = trip_sat['person_id'].loc[trip_sat['mode'] == 'COMMERCIAL'].drop_duplicates().compute()

In [105]:
trucker_trips_ids = trip_sat.loc[trip_sat['person_id'].isin(mhd_people.values)]

In [113]:
trucker_trips_ids['origin_land_use_l2'].value_counts(dropna=False).compute()

nan    1258639
Name: origin_land_use_l2, dtype: int64

In [122]:
id = "17327509686180360634"
trucker_trips_ids.loc[trucker_trips_ids['person_id'] == id].compute()

,activity_id,person_id,mode,travel_purpose,previous_activity_type,start_time,end_time,distance_miles,vehicle_type,origin_bgrp,origin_bgrp_lat,origin_bgrp_lng,destination_bgrp,destination_bgrp_lat,destination_bgrp_lng,origin_land_use_l1,origin_land_use_l2,origin_building_use_l1,origin_building_use_l2,destination_land_use_l1,destination_land_use_l2,destination_building_use_l1,destination_building_use_l2,origin_lat,origin_lng,destination_lat,destination_lng
0,9279000034943401070,17327509686180360634,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 15:23:12,0 days 16:35:35,62.733511,MEDIUM_COMMERCIAL,060150001011,41.746259,-124.206273,410159502003,42.562838,-124.337297,nan,nan,nan,nan,nan,nan,nan,nan,41.74826,-124.20112,42.50703,-124.40986

In [108]:
trucker_trips_ids.head(50)

,activity_id,person_id,mode,travel_purpose,previous_activity_type,start_time,end_time,distance_miles,vehicle_type,origin_bgrp,origin_bgrp_lat,origin_bgrp_lng,destination_bgrp,destination_bgrp_lat,destination_bgrp_lng,origin_land_use_l1,origin_land_use_l2,origin_building_use_l1,origin_building_use_l2,destination_land_use_l1,destination_land_use_l2,destination_building_use_l1,destination_building_use_l2,origin_lat,origin_lng,destination_lat,destination_lng
0,9279000034943401070,17327509686180360634,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 15:23:12,0 days 16:35:35,62.733511,MEDIUM_COMMERCIAL,060150001011,41.746259,-124.206273,410159502003,42.562838,-124.337297,nan,nan,nan,nan,nan,nan,nan,nan,41.74826,-124.20112,42.50703,-124.40986
2,1647238923281467213,15293783543053158940,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 16:24:07,0 days 17:28:07,54.388781,HEAVY_COMMERCIAL,060490002001,41.735255,-121.352275,410359720002,42.259899,-121.817733,nan,nan,nan,nan,nan,nan,nan,nan,41.68983,-121.27189,42.25545,-121.79924
3,14161940105906798253,10230136483887035220,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 09:55:16,0 days 13:16:49,208.460835,MEDIUM_COMMERCIAL,060490002001,41.735255,-121.352275,410191500001,43.151013,-123.373297,nan,nan,nan,nan,nan,nan,nan,nan,41.76158,-121.30210,43.15260,-123.37303
4,11456520016899244980,11447961505550466002,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 14:05:25,0 days 15:52:41,111.543443,HEAVY_COMMERCIAL,060490002001,41.735255,-121.352275,410359701003,43.285156,-121.558591,nan,nan,nan,nan,nan,nan,nan,nan,41.76055,-121.30210,43.12554,-121.80610
6,1557433381049270022,559983492497788695,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 16:33:24,0 days 16:41:34,4.132399,MEDIUM_COMMERCIAL,060930001001,41.811117,-121.600244,060930001001,41.811117,-121.600244,nan,nan,nan,nan,nan,nan,nan,nan,41.99777,-121.51084,41.95387,-121.48612
7,3880256203351854608,2251190701348025175,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 18:56:26,0 days 20:46:26,114.651978,MEDIUM_COMMERCIAL,060930002001,41.822763,-121.972017,410359701002,43.532480,-121.481571,nan,nan,nan,nan,nan,nan,nan,nan,41.96306,-121.91871,43.52515,-121.64268
8,701406414104553361,4703855435004264260,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 14:34:20,0 days 15:26:35,29.522208,MEDIUM_COMMERCIAL,060930002001,41.822763,-121.972017,410359707001,42.060713,-121.750772,nan,nan,nan,nan,nan,nan,nan,nan,41.86598,-121.96403,42.02838,-121.61384
9,8493762862756967127,15106259212856995599,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 11:49:02,0 days 12:38:17,49.731732,MEDIUM_COMMERCIAL,060930003003,41.638474,-122.255252,410359720003,42.268736,-121.790533,nan,nan,nan,nan,nan,nan,nan,nan,41.64367,-122.13569,42.25647,-121.79924
10,2029980988630214698,3869566259793052094,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 22:42:07,0 days 00:29:23,115.659919,MEDIUM_COMMERCIAL,060930004001,41.917386,-122.644732,410191700001,43.032329,-123.413924,nan,nan,nan,nan,nan,nan,nan,nan,41.99675,-122.60948,43.06236,-123.34693
11,13620739091214446578,17380067703204696292,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 18:09:21,0 days 19:07:02,60.720618,MEDIUM_COMMERCIAL,060930007013,41.622580,-122.622828,410290010022,42.378391,-122.915811,nan,nan,nan,nan,nan,nan,nan,nan,41.66624,-122.60948,42.37630,-122.91709
12,8729929711006647766,9261044664253989731,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 16:54:44,0 days 22:11:48,360.828959,HEAVY_COMMERCIAL,060930009002,41.442159,-122.514677,530110408081,45.689015,-122.612047,nan,nan,nan,nan,nan,nan,nan,nan,41.45456,-122.44331,45.68459,-122.61634
13,8220260252784777051,18042470723480971141,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 16:20:10,0 days 18:03:56,116.849488,MEDIUM_COMMERCIAL,060930009002,41.442159,-122.514677,410333604001,42.558778,-123.300699,nan,nan,nan,nan,nan,nan,nan,nan,41.42882,-122.40074,42.58999,-123.38951
14,17257492438766215129,8803128169714113287,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 02:11:33,0 days 02:55:35,46.361050,MEDIUM_COMMERCIAL,060930009002,41.442159,-122.514677,410290025002,42.216727,-122.398206,nan,nan,nan,nan,nan,nan,nan,nan,41.44221,-122.43370,42.00593,-122.61497
16,4814186860909520266,5279574168469062767,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 14:54:20,0 days 15:55:20,66.276110,MEDIUM_COMMERCIAL,060930009004,41.529506,-122.357391,410290024001,42.268345,-122.779060,nan,nan,nan,nan,nan,nan,nan,nan,41.50909,-122.47215,42.28086,-122.80998
17,16448289929875228427,2242797235726510865,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 08:17:03,0 days 09:00:31,46.012097,MEDIUM_COMMERCIAL,060930009004,41.529506,-122.357391,410290023002,42.116160,-122.772928,nan,nan,nan,nan,nan,nan,nan,nan,41.48234,-122.45841,42.04164,-122.59986
18,10460890038775468589,12838915378127751378,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 20:16:26,0 days 23:08:43,191.987055,HEAVY_COMMERCIAL,060930009004,41.529506,-122.357391,410190400003,43.529291,-123.364639,nan,nan,nan,nan,nan,nan,nan,nan,41.47823,-122.45567,43.53809,-123.29063
19,7592427074107237137,13080829112850649269,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 14:38:41,0 days 16:11:49,104.874718,HEAVY_COMMERCIAL,060930009005,41.399591,-122.370605,410333604002,42.465132,-123.276603,nan,nan,nan,nan,nan,nan,nan,nan,41.39896,-122.37602,42.42801,-123.24668
20,6138426671129445456,15439425647497164939,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 23:14:39,0 days 00:35:44,84.715851,HEAVY_COMMERCIAL,060930009005,41.399591,-122.370605,410290011002,42.385526,-122.899282,nan,nan,nan,nan,nan,nan,nan,nan,41.39896,-122.37602,42.37630,-122.89924
21,15715166717326867764,14750412230170389186,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 07:31:51,0 days 10:30:13,179.983364,HEAVY_COMMERCIAL,060930009005,41.399591,-122.370605,410170002003,43.684886,-121.469467,nan,nan,nan,nan,nan,nan,nan,nan,41.39793,-122.37739,43.67631,-121.49848
22,2323758570487791308,2792204474349713176,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 08:24:59,0 days 13:12:53,334.619929,HEAVY_COMMERCIAL,060930009005,41.399591,-122.370605,410050228003,45.281378,-122.772498,nan,nan,nan,nan,nan,nan,nan,nan,41.39896,-122.37602,45.28020,-122.77015
23,2218127421787382015,9233634993516913290,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 05:23:51,0 days 07:26:31,131.480023,HEAVY_COMMERCIAL,060930009005,41.399591,-122.370605,410333601001,42.687445,-123.488946,nan,nan,nan,nan,nan,nan,nan,nan,41.39896,-122.37602,42.73238,-123.37028
82,16774523842410535170,10488307126852964186,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 09:14:59,0 days 10:05:45,49.717741,MEDIUM_COMMERCIAL,080690001002,40.588401,-105.076229,560210014022,41.166119,-104.798958,nan,nan,nan,nan,nan,nan,nan,nan,40.58423,-105.07942,41.16159,-104.79103
83,7021417322995376097,13710341615308725055,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 07:33:46,0 days 08:40:08,46.283719,MEDIUM_COMMERCIAL,080690013061,40.588562,-105.035551,560210020004,41.079031,-104.584240,nan,nan,nan,nan,nan,nan,nan,nan,40.58527,-105.03135,41.04259,-104.68391
84,16186718914126278298,15306017258301812873,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 14:48:02,0 days 16:51:31,138.728744,MEDIUM_COMMERCIAL,080690013082,40.633197,-105.036461,560319591001,42.415015,-104.969382,nan,nan,nan,nan,nan,nan,nan,nan,40.61030,-105.00526,42.49488,-105.03135
85,4148256821236432222,3311501991681635186,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 12:41:08,0 days 13:51:21,69.272388,MEDIUM_COMMERCIAL,080690013082,40.633197,-105.036461,560019629001,41.323270,-105.611748,nan,nan,nan,nan,nan,nan,nan,nan,40.61030,-105.00526,41.32990,-105.60951
86,18370723696656877824,17628631330995505424,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 06:16:02,0 days 08:09:34,114.531322,HEAVY_COMMERCIAL,080690016051,40.538697,-105.008104,560079681002,41.686803,-106.398190,nan,nan,nan,nan,nan,nan,nan,nan,40.56337,-105.00663,41.63032,-106.28517
87,361221155395354930,18265964177482143389,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 05:15:16,0 days 06:15:24,55.430032,MEDIUM_COMMERCIAL,080690017091,40.375786,-105.009133,560210020004,41.079031,-104.584240,nan,nan,nan,nan,nan,nan,nan,nan,40.36381,-104.98329,41.02705,-104.78141
88,14348254071962494699,16728456688801269893,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 08:45:26,0 days 09:37:00,51.778455,HEAVY_COMMERCIAL,080690017091,40.375786,-105.009133,560210019021,41.095887,-105.053911,nan,nan,nan,nan,nan,nan,nan,nan,40.36276,-104.98191,41.08193,-104.85282
89,993137871576729127,10765343038769908880,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 13:51:28,0 days 15:23:53,86.390998,HEAVY_COMMERCIAL,080690017091,40.375786,-105.009133,560019629001,41.323270,-105.611748,nan,nan,nan,nan,nan,nan,nan,nan,40.36276,-104.98191,41.32784,-105.61088
90,17793171674597469425,13684813119663234548,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 08:18:26,0 days 11:38:57,220.089928,HEAVY_COMMERCIAL,080690017092,40.438510,-104.989231,560379716002,41.630870,-108.502885,nan,nan,nan,nan,nan,nan,nan,nan,40.40356,-104.98329,41.67547,-107.98255
93,13812113082068433447,9077813126303562261,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 21:51:14,0 days 22:25:14,36.175382,MEDIUM_COMMERCIAL,080690024022,40.734342,-105.518178,560019639002,41.177121,-106.045635,nan,nan,nan,nan,nan,nan,nan,nan,40.75505,-105.17143,41.15022,-105.56968
94,5475439535382596173,3354811023084619537,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 13:06:21,0 days 13:45:41,37.802908,MEDIUM_COMMERCIAL,080690025024,40.700295,-105.009259,560210020001,41.263661,-104.530368,nan,nan,nan,nan,nan,nan,nan,nan,40.70198,-104.99977,41.15642,-104.73197
95,12716729500632197615,7948876397480700112,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 20:26:55,0 days 21:52:41,96.442111,MEDIUM_COMMERCIAL,080690025031,40.824915,-105.092673,560079681002,41.686803,-106.398190,nan,nan,nan,nan,nan,nan,nan,nan,40.89119,-104.94895,41.54301,-106.08192
104,3067555274733713925,13611393614145226797,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 06:14:06,0 days 07:08:08,50.180400,HEAVY_COMMERCIAL,081230006001,40.442675,-104.705295,560210019021,41.095887,-105.053911,nan,nan,nan,nan,nan,nan,nan,nan,40.44642,-104.69352,41.09642,-104.85420
105,9865217627452758738,17666119606954796128,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 04:16:38,0 days 05:14:51,50.481561,HEAVY_COMMERCIAL,081230007011,40.408793,-104.681897,560210004023,41.106353,-104.805031,nan,nan,nan,nan,nan,nan,nan,nan,40.39728,-104.68116,41.10056,-104.80064
107,9289281923279764072,693350320773894787,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 15:40:48,0 days 16:26:54,44.937596,MEDIUM_COMMERCIAL,081230015001,40.524121,-104.688192,560210015023,41.149206,-104.746768,nan,nan,nan,nan,nan,nan,nan,nan,40.54146,-104.71549,41.14608,-104.76081
108,17326812322107403916,1851389172468516720,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 18:15:44,0 days 20:35:25,140.065175,MEDIUM_COMMERCIAL,081230015002,40.531850,-104.713855,560319591001,42.415015,-104.969382,nan,nan,nan,nan,nan,nan,nan,nan,40.53206,-104.71275,42.43714,-105.03410
109,16828918419152624205,4711682730950304170,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 01:09:00,0 days 04:41:08,208.344006,HEAVY_COMMERCIAL,081230019021,40.073206,-104.703794,560079676001,42.092741,-107.191176,nan,nan,nan,nan,nan,nan,nan,nan,40.07859,-104.64958,41.76670,-107.03086
115,8522431588137987543,9697187366905158843,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 21:27:24,0 days 22:58:52,88.408550,HEAVY_COMMERCIAL,081230020101,40.131303,-105.027059,560019639002,41.177121,-106.045635,nan,nan,nan,nan,nan,nan,nan,nan,40.16155,-104.98191,41.17710,-105.59028
123,1122359300904146500,12561701727744484588,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 15:40:11,0 days 18:00:57,153.903227,MEDIUM_COMMERCIAL,081230021032,40.291453,-104.998454,560319594003,42.067396,-105.007020,nan,nan,nan,nan,nan,nan,nan,nan,40.33031,-104.98054,42.08650,-104.97917
124,14539111672403864326,12961215641162049587,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 07:13:48,0 days 08:21:34,62.950238,MEDIUM_COMMERCIAL,081230022081,40.551177,-104.907039,560210019013,41.442900,-104.611353,nan,nan,nan,nan,nan,nan,nan,nan,40.52684,-104.90776,41.31237,-104.74708
125,3021779041356327888,4800925014860800637,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 16:51:20,0 days 18:46:54,106.623944,HEAVY_COMMERCIAL,081230025012,40.822507,-104.724028,560319594007,42.065266,-104.929308,nan,nan,nan,nan,nan,nan,nan,nan,40.66866,-104.76493,42.09567,-104.98466
126,5477558897456883787,803911504537103412,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 13:08:22,0 days 15:23:50,141.093410,MEDIUM_COMMERCIAL,081230025012,40.822507,-104.724028,560319591001,42.415015,-104.969382,nan,nan,nan,nan,nan,nan,nan,nan,40.65407,-104.75944,42.43207,-105.03547
130,223845280157411096,5126552202981420828,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 11:12:02,0 days 11:30:43,9.560700,MEDIUM_COMMERCIAL,160010001001,43.620611,-116.199947,160010022231,43.586599,-116.324256,nan,nan,nan,nan,nan,nan,nan,nan,43.62563,-116.20719,43.57790,-116.32118
131,15474146727690546316,3797726884072828575,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 14:49:31,0 days 16:52:58,135.337121,HEAVY_COMMERCIAL,160010001002,43.611495,-116.199673,160539701002,42.587255,-114.259835,nan,nan,nan,nan,nan,nan,nan,nan,43.61271,-116.19758,42.57583,-114.21043
132,12175700653036136503,1535383546620003614,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 11:18:11,0 days 11:21:56,2.007880,MEDIUM_COMMERCIAL,160010001002,43.611495,-116.199673,160010011003,43.626081,-116.242229,nan,nan,nan,nan,nan,nan,nan,nan,43.61271,-116.20170,43.61967,-116.23466
133,11828738879359223274,5196152146105218328,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 13:58:59,0 days 14:26:03,26.322323,MEDIUM_COMMERCIAL,160010001002,43.611495,-116.199673,160270213002,43.660613,-116.667735,nan,nan,nan,nan,nan,nan,nan,nan,43.61569,-116.20033,43.65843,-116.66038
134,17750341818198575011,123545548214976660,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 13:57:50,0 days 14:09:52,6.161474,MEDIUM_COMMERCIAL,160010001002,43.611495,-116.199673,160010105042,43.557697,-116.158774,nan,nan,nan,nan,nan,nan,nan,nan,43.61569,-116.20033,43.55004,-116.15501
135,9847246216681318645,10814612903850328582,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 15:47:36,0 days 15:52:39,1.520207,MEDIUM_COMMERCIAL,160010001002,43.611495,-116.199673,160010002011,43.633151,-116.173171,nan,nan,nan,nan,nan,nan,nan,nan,43.61072,-116.20582,43.61669,-116.18522
136,14850419775553646024,993604923650343193,COMMERCIAL,COMMERCIAL,COMMERCIAL,0 days 10:16:06,0 days 10:22:08,1.494134,MEDIUM_COMMERCIAL,160010001002,43.611495,-116.199673,160010001002,43.611495,-116.199673,nan,nan,nan,nan,nan,nan,nan,nan,43.61569,-116.19758,43.60774,-116.20307

In [125]:
trucker_trips_ids['person_id'].dtype, pop['person_id'].dtype

(dtype('O'), dtype('O'))

In [86]:
mhd = """
    SELECT *
    FROM population
    WHERE destination_bgrp IN """+str(tuple(mhd_people.values))+""";
    """

results_people = sql.read_query(connection_replica, q1)

'../../data'

In [97]:
! ls ../../data/

88448.75s - pydevd: Sending message related to process being replaced timed-out after 5 seconds
EIA_demand_summary.csv                  northwest_2021_Q4_saturday_trip.csv
Untitled.ipynb                          northwest_2021_Q4_saturday_trip.parquet
blockgroup_boundaries.pkl               northwest_2021_Q4_thursday_trip.csv
blockgroups_53.zip                      northwest_2021_Q4_thursday_trip.parquet
northwest_2021_Q4_population.csv        test.csv
northwest_2021_Q4_population.parquet

In [100]:
pop = dd.read_parquet('../../data/northwest_2021_Q4_population.parquet')
truckers = pop.loc[

In [101]:
truckers.head()

/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/dask/dataframe/core.py:7985: UserWarning: Insufficient elements for `head`. 5 elements requested, only 0 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(

Empty DataFrame
Columns: [household_id, person_id, BLOCKGROUP, BLOCKGROUP_work, BLOCKGROUP_school, TRACT, TRACT_work, TRACT_school, age_group, age, sex, race, ethnicity, individual_income_group, individual_income, employment, education, school_grade_attending, industry, household_role, subfamily_number, subfamily_relationship, commute_mode, tenure, migration, household_size, household_income_group, household_income, family_structure, vehicles, building_type, resident_type, language, lat, lng, lat_work, lng_work, lat_school, lng_school, wfh]
Index: []

In [99]:
pop.head()

,household_id,person_id,BLOCKGROUP,BLOCKGROUP_work,BLOCKGROUP_school,TRACT,TRACT_work,TRACT_school,age_group,age,sex,race,ethnicity,individual_income_group,individual_income,employment,education,school_grade_attending,industry,household_role,subfamily_number,subfamily_relationship,commute_mode,tenure,migration,household_size,household_income_group,household_income,family_structure,vehicles,building_type,resident_type,language,lat,lng,lat_work,lng_work,lat_school,lng_school,wfh
0,7071162995671019379,11747437169840333628,410390044034,nan,nan,41039004403,nan,nan,65_plus,75,F,white,not_hispanic_or_latino,0_20000,12760.0,unemployed,some_college,not_attending_school,not_working,GQ,0,nan,not_working,GQ,within_us,1_person_group_quarters,lte_10000,0.0,GQ,GQ,GQ_structure,core,GQ_language,44.033699,-123.118654,NaN,NaN,NaN,NaN,unemployed
1,8269392924797733378,1756119472378340340,530670102003,530670101004,nan,53067010200,53067010100,nan,35_64,50,M,white,not_hispanic_or_latino,0_20000,5050.0,employed,k_12,not_attending_school,naics56,GQ,0,nan,transit,GQ,same_house,1_person_group_quarters,lte_10000,0.0,GQ,GQ,GQ_structure,core,GQ_language,47.051348,-122.876651,47.031766,-122.896907,NaN,NaN,worked_from_home
2,16986606175343716434,298012200302628452,560210004021,560210002003,nan,56021000402,56021000200,nan,18_24,19,M,white,not_hispanic_or_latino,0_20000,10314.0,employed,some_college,not_attending_school,not_working,GQ,0,nan,driving,GQ,same_house,1_person_group_quarters,lte_10000,0.0,GQ,GQ,GQ_structure,core,GQ_language,41.119804,-104.751563,41.123491,-104.817224,NaN,NaN,worked_in_person
3,18413256466912027068,11331589210799163497,530150021001,530150021001,nan,53015002100,53015002100,nan,18_24,20,F,white,hispanic_or_latino,100000_plus,233381.0,employed,some_college,not_attending_school,not_working,GQ,0,nan,walking,GQ,within_us,1_person_group_quarters,lte_10000,0.0,GQ,GQ,GQ_structure,core,GQ_language,46.128480,-122.936175,46.128287,-122.935595,NaN,NaN,worked_in_person
4,5180439401743391780,8335433671007283715,530330053022,530330053022,nan,53033005302,53033005302,nan,18_24,20,F,white,not_hispanic_or_latino,0_20000,10734.0,employed,some_college,undergraduate,naics611310,GQ,0,nan,walking,GQ,within_us,1_person_group_quarters,lte_10000,0.0,GQ,GQ,GQ_structure,core,GQ_language,47.648779,-122.308424,47.652771,-122.313792,NaN,NaN,worked_in_person

In [127]:
mhd_people.values

array(['17327509686180360634', '15293783543053158940',
       '10230136483887035220', ..., '345241192582764009',
       '9386307840054704208', '12908899829320780928'], dtype=object)

In [95]:
pop.head()

/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/dask/dataframe/core.py:7985: UserWarning: Insufficient elements for `head`. 5 elements requested, only 0 elements available. Try passing larger `npartitions` to `head`.
  warnings.warn(

Empty DataFrame
Columns: [household_id, person_id, BLOCKGROUP, BLOCKGROUP_work, BLOCKGROUP_school, TRACT, TRACT_work, TRACT_school, age_group, age, sex, race, ethnicity, individual_income_group, individual_income, employment, education, school_grade_attending, industry, household_role, subfamily_number, subfamily_relationship, commute_mode, tenure, migration, household_size, household_income_group, household_income, family_structure, vehicles, building_type, resident_type, language, lat, lng, lat_work, lng_work, lat_school, lng_school, wfh]
Index: []

In [129]:
trip = trip_sat.sort_values(by='person_id')
pop = pop.sort_values(by='person_id')

In [130]:
trip.head()

,activity_id,person_id,mode,travel_purpose,previous_activity_type,start_time,end_time,distance_miles,vehicle_type,origin_bgrp,origin_bgrp_lat,origin_bgrp_lng,destination_bgrp,destination_bgrp_lat,destination_bgrp_lng,origin_land_use_l1,origin_land_use_l2,origin_building_use_l1,origin_building_use_l2,destination_land_use_l1,destination_land_use_l2,destination_building_use_l1,destination_building_use_l2,origin_lat,origin_lng,destination_lat,destination_lng
81452,1961671362429628690,10000001964381556008,PRIVATE_AUTO,SCHOOL,HOME,0 days 07:03:12,0 days 07:12:19,3.211177,nan,160199705023,43.474461,-111.954449,160199706022,43.489489,-111.995056,residential,single_family,residential,single_family,civic_institutional,education,civic_institutional,education,43.471088,-111.952067,43.487031,-111.985908
18521,131863418729036517,10000001964381556008,WALKING,SHOP,HOME,0 days 17:53:00,0 days 18:08:22,0.796125,nan,160199705023,43.474461,-111.954449,160199705031,43.441962,-111.973130,residential,single_family,residential,single_family,commercial,retail,commercial,retail,43.471088,-111.952067,43.467211,-111.964696
113989,16471291535434355943,10000001964381556008,PRIVATE_AUTO,HOME,SHOP,0 days 18:20:22,0 days 18:23:41,0.788874,nan,160199705031,43.441962,-111.973130,160199705023,43.474461,-111.954449,commercial,retail,commercial,retail,residential,single_family,residential,single_family,43.467211,-111.964696,43.471088,-111.952067
129072,2492297005633067743,10000001964381556008,PRIVATE_AUTO,HOME,SCHOOL,0 days 16:59:17,0 days 17:09:19,3.211177,nan,160199706022,43.489489,-111.995056,160199705023,43.474461,-111.954449,civic_institutional,education,civic_institutional,education,residential,single_family,residential,single_family,43.487031,-111.985908,43.471088,-111.952067
87863,10652465939061186874,10000002909730821040,PRIVATE_AUTO,HOME,WORK,0 days 21:04:21,0 days 21:38:18,9.284612,nan,530250110001,47.131321,-119.203190,530250111002,47.098457,-119.319023,commercial,retail,commercial,retail,residential,single_family,residential,single_family,47.132725,-119.213000,47.085370,-119.319090

In [131]:
pop.head()

,household_id,person_id,BLOCKGROUP,BLOCKGROUP_work,BLOCKGROUP_school,TRACT,TRACT_work,TRACT_school,age_group,age,sex,race,ethnicity,individual_income_group,individual_income,employment,education,school_grade_attending,industry,household_role,subfamily_number,subfamily_relationship,commute_mode,tenure,migration,household_size,household_income_group,household_income,family_structure,vehicles,building_type,resident_type,language,lat,lng,lat_work,lng_work,lat_school,lng_school,wfh
94313,13869309696222166396,10000000323569557755,410192100004,410190500023,nan,41019210000,41019050002,nan,35_64,46,F,white,not_hispanic_or_latino,0_20000,887.0,employed,high_school,not_attending_school,naics541940,child,1,husband/wife_no_children,driving,owner,same_house,3_person,40000_75000,70097.0,family_single,2,single_family,core,english,42.790352,-123.264206,43.381262,-123.31829,NaN,NaN,worked_from_home
145045,9351892862469751559,10000001964381556008,160199705023,160199714002,160199706022,16019970502,16019971400,16019970602,18_24,22,M,white,not_hispanic_or_latino,20000_40000,21468.0,employed,some_college,undergraduate,naics44_45,child,0,nan,driving,owner,same_house,3_person,125000_plus,134181.0,married_couple,3_plus,single_family,core,english,43.471088,-111.952067,NaN,NaN,43.487031,-111.985908,worked_in_person
151148,17571687911180552742,10000002909730821040,530250111002,530250110001,nan,53025011100,53025011000,nan,35_64,64,M,white,hispanic_or_latino,100000_plus,103145.0,employed,some_college,not_attending_school,naics53,spouse,0,nan,driving,owner,same_house,2_person,125000_plus,211447.0,married_couple,3_plus,single_family,core,english,47.085370,-119.319090,47.132725,-119.21300,NaN,NaN,worked_in_person
133697,17212045348023710843,10000003183049770926,530110408032,nan,nan,53011040803,nan,nan,65_plus,68,F,white,not_hispanic_or_latino,20000_40000,32310.0,notinlf,some_college,not_attending_school,not_working,head_of_household,0,nan,not_working,owner,same_house,2_person,75000_125000,104124.0,married_couple,2,single_family,core,english,45.702720,-122.632958,NaN,NaN,NaN,NaN,under_16_or_notinlf
42428,6736242328113975455,10000003900118609948,410670314031,nan,nan,41067031403,nan,nan,65_plus,78,M,white,not_hispanic_or_latino,80000_100000,81152.0,notinlf,some_college,not_attending_school,not_working,head_of_household,0,nan,not_working,owner,same_house,3_person,75000_125000,114483.0,married_couple,3_plus,single_family,core,english,45.514461,-122.806445,NaN,NaN,NaN,NaN,under_16_or_notinlf

In [ ]:
pop.loc[pop['person_id'] == '10000001964381556008'].compute()

2023-04-14 17:44:07,387 - distributed.shuffle - ERROR - shuffle_transfer failed during shuffle 6e163875b3fca3c262a953aa1d89e011
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/tornado/iostream.py", line 973, in _handle_write
    num_bytes = self.write_to_fd(self._write_buffer.peek(size))
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/tornado/iostream.py", line 1146, in write_to_fd
    return self.socket.send(data)  # type: ignore
           ^^^^^^^^^^^^^^^^^^^^^^
OSError: [Errno 55] No buffer space available

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_shuffle.py", line 58, in shuffle_transfer
    return _get_worker_extension().add_partition(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 632, in add_partition
    return sync(
           ^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/utils.py", line 416, in sync
    raise exc.with_traceback(tb)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/utils.py", line 389, in f
    result = yield future
             ^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/tornado/gen.py", line 769, in run
    value = future.result()
            ^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 507, in add_partition
    await self._write_to_comm(out)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 152, in _write_to_comm
    await self._comm_buffer.write(data)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_buffer.py", line 189, in write
    raise self._exception
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_buffer.py", line 107, in process
    await self._process(id, shards)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_comms.py", line 71, in _process
    await self.send(address, shards)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 123, in send
    return await self.rpc(address).shuffle_receive(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1265, in send_recv_from_rpc
    return await send_recv(comm=comm, op=key, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1024, in send_recv
    response = await comm.read(deserializers=deserializers)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/comm/tcp.py", line 241, in read
    convert_stream_closed_error(self, e)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/comm/tcp.py", line 142, in convert_stream_closed_error
    raise CommClosedError(f"in {obj}: {exc.__class__.__name__}: {exc}") from exc
distributed.comm.core.CommClosedError: in <TCP (closed) ConnectionPool.shuffle_receive local=tcp://127.0.0.1:63970 remote=tcp://127.0.0.1:63244>: OSError: [Errno 55] No buffer space available
2023-04-14 17:44:07,501 - distributed.worker - WARNING - Compute Failed
Key:       ('shuffle-transfer-6e163875b3fca3c262a953aa1d89e011', 67)
Function:  shuffle_transfer
args:      (                household_id  ... _partitions
0        3265534091983245665  ...          49
1       17835843661949667672  ...          85
2       12833299775560267701  ...          85
3        6087691955623333036  ...           1
4        6829790155034025929  ...          50
...                      ...  ...         ...
163756   6128954815065695648  ...          22
163757   9287934978315742338  ...          77
163758  15363655612716191032  ...          89
163759  14119863261372518686  ...          71
163760   6125652436420422370  ...          62

[163760 rows x 41 columns], '6e163875b3fca3c262a953aa1d89e011', 67, 91, '_partitions')
kwargs:    {}
Exception: "RuntimeError('shuffle_transfer failed during shuffle 6e163875b3fca3c262a953aa1d89e011')"

2023-04-14 17:44:07,533 - distributed.shuffle - ERROR - shuffle_transfer failed during shuffle 6e163875b3fca3c262a953aa1d89e011
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/tornado/iostream.py", line 973, in _handle_write
    num_bytes = self.write_to_fd(self._write_buffer.peek(size))
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/tornado/iostream.py", line 1146, in write_to_fd
    return self.socket.send(data)  # type: ignore
           ^^^^^^^^^^^^^^^^^^^^^^
OSError: [Errno 55] No buffer space available

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_shuffle.py", line 58, in shuffle_transfer
    return _get_worker_extension().add_partition(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 632, in add_partition
    return sync(
           ^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/utils.py", line 416, in sync
    raise exc.with_traceback(tb)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/utils.py", line 389, in f
    result = yield future
             ^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/tornado/gen.py", line 769, in run
    value = future.result()
            ^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 507, in add_partition
    await self._write_to_comm(out)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 152, in _write_to_comm
    await self._comm_buffer.write(data)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_buffer.py", line 189, in write
    raise self._exception
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_buffer.py", line 107, in process
    await self._process(id, shards)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_comms.py", line 71, in _process
    await self.send(address, shards)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 123, in send
    return await self.rpc(address).shuffle_receive(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1265, in send_recv_from_rpc
    return await send_recv(comm=comm, op=key, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1024, in send_recv
    response = await comm.read(deserializers=deserializers)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/comm/tcp.py", line 241, in read
    convert_stream_closed_error(self, e)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/comm/tcp.py", line 142, in convert_stream_closed_error
    raise CommClosedError(f"in {obj}: {exc.__class__.__name__}: {exc}") from exc
distributed.comm.core.CommClosedError: in <TCP (closed) ConnectionPool.shuffle_receive local=tcp://127.0.0.1:64607 remote=tcp://127.0.0.1:63245>: OSError: [Errno 55] No buffer space available
2023-04-14 17:44:07,541 - distributed.shuffle - ERROR - shuffle_transfer failed during shuffle 6e163875b3fca3c262a953aa1d89e011
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/tornado/iostream.py", line 973, in _handle_write
    num_bytes = self.write_to_fd(self._write_buffer.peek(size))
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/tornado/iostream.py", line 1146, in write_to_fd
    return self.socket.send(data)  # type: ignore
           ^^^^^^^^^^^^^^^^^^^^^^
OSError: [Errno 55] No buffer space available

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_shuffle.py", line 58, in shuffle_transfer
    return _get_worker_extension().add_partition(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 632, in add_partition
    return sync(
           ^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/utils.py", line 416, in sync
    raise exc.with_traceback(tb)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/utils.py", line 389, in f
    result = yield future
             ^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/tornado/gen.py", line 769, in run
    value = future.result()
            ^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 507, in add_partition
    await self._write_to_comm(out)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 152, in _write_to_comm
    await self._comm_buffer.write(data)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_buffer.py", line 189, in write
    raise self._exception
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 507, in add_partition
    await self._write_to_comm(out)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 152, in _write_to_comm
    await self._comm_buffer.write(data)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_buffer.py", line 189, in write
    raise self._exception
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_buffer.py", line 107, in process
    await self._process(id, shards)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_comms.py", line 71, in _process
    await self.send(address, shards)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 123, in send
    return await self.rpc(address).shuffle_receive(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1265, in send_recv_from_rpc
    return await send_recv(comm=comm, op=key, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1024, in send_recv
    response = await comm.read(deserializers=deserializers)
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/comm/tcp.py", line 241, in read
    convert_stream_closed_error(self, e)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/comm/tcp.py", line 142, in convert_stream_closed_error
    raise CommClosedError(f"in {obj}: {exc.__class__.__name__}: {exc}") from exc
distributed.comm.core.CommClosedError: in <TCP (closed) ConnectionPool.shuffle_receive local=tcp://127.0.0.1:64607 remote=tcp://127.0.0.1:63245>: OSError: [Errno 55] No buffer space available
2023-04-14 17:44:07,603 - distributed.worker - WARNING - Compute Failed
Key:       ('shuffle-transfer-6e163875b3fca3c262a953aa1d89e011', 7)
Function:  shuffle_transfer
args:      (                household_id  ... _partitions
0       16607462912894560035  ...          28
1       16701421957244889251  ...          41
2        8903549446410927516  ...          43
3       13160388162658650306  ...          10
4       14148536421300910914  ...          38
...                      ...  ...         ...
163610   9053149770855655208  ...          16
163611   8506981227753307862  ...          89
163612   2980768736452609063  ...          13
163613   9291832172105591214  ...          50
163614   6319506794629015185  ...          43

[163614 rows x 41 columns], '6e163875b3fca3c262a953aa1d89e011', 7, 91, '_partitions')
kwargs:    {}
Exception: "RuntimeError('shuffle_transfer failed during shuffle 6e163875b3fca3c262a953aa1d89e011')"

2023-04-14 17:44:07,630 - distributed.worker - WARNING - Compute Failed
Key:       ('shuffle-transfer-6e163875b3fca3c262a953aa1d89e011', 70)
Function:  shuffle_transfer
args:      (                household_id  ... _partitions
0        8259282704012834132  ...          60
1        9547472996892601656  ...          12
2        8586371139752742713  ...          50
3       15499502687577526751  ...          79
4         411544309510483299  ...          29
...                      ...  ...         ...
163598   4769537023455708324  ...          59
163599   8538478204467651851  ...          69
163600  13549342294331746580  ...          40
163601   4477684279210309944  ...          80
163602  18325284041270064654  ...          70

[163602 rows x 41 columns], '6e163875b3fca3c262a953aa1d89e011', 70, 91, '_partitions')
kwargs:    {}
Exception: "RuntimeError('shuffle_transfer failed during shuffle 6e163875b3fca3c262a953aa1d89e011')"

2023-04-14 17:44:07,655 - distributed.core - ERROR - Exception while handling op shuffle_receive
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 830, in _handle_comm
    result = await result
             ^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 588, in shuffle_receive
    await shuffle.receive(data)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 463, in receive
    await self._receive(data)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 480, in _receive
    await self._write_to_disk(groups)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 155, in _write_to_disk
    self.raise_if_closed()
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 163, in raise_if_closed
    raise self._exception
RuntimeError: Shuffle 6e163875b3fca3c262a953aa1d89e011 forgotten
2023-04-14 17:44:07,660 - distributed.core - ERROR - Exception while handling op shuffle_receive
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 830, in _handle_comm
    result = await result
             ^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 588, in shuffle_receive
    await shuffle.receive(data)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 463, in receive
    await self._receive(data)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 480, in _receive
    await self._write_to_disk(groups)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 155, in _write_to_disk
    self.raise_if_closed()
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 163, in raise_if_closed
    raise self._exception
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 830, in _handle_comm
    result = await result
             ^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 588, in shuffle_receive
    await shuffle.receive(data)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 463, in receive
    await self._receive(data)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 480, in _receive
    await self._write_to_disk(groups)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 155, in _write_to_disk
    self.raise_if_closed()
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 163, in raise_if_closed
    raise self._exception
RuntimeError: Shuffle 6e163875b3fca3c262a953aa1d89e011 forgotten
2023-04-14 17:44:07,683 - distributed.shuffle - ERROR - shuffle_transfer failed during shuffle 6e163875b3fca3c262a953aa1d89e011
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/tornado/iostream.py", line 973, in _handle_write
    num_bytes = self.write_to_fd(self._write_buffer.peek(size))
                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/tornado/iostream.py", line 1146, in write_to_fd
    return self.socket.send(data)  # type: ignore
           ^^^^^^^^^^^^^^^^^^^^^^
OSError: [Errno 55] No buffer space available

The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_shuffle.py", line 58, in shuffle_transfer
    return _get_worker_extension().add_partition(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 632, in add_partition
    return sync(
           ^^^^^

RuntimeError: shuffle_transfer failed during shuffle 6e163875b3fca3c262a953aa1d89e011

2023-04-14 17:44:07,974 - distributed.core - ERROR - Exception while handling op shuffle_get
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 828, in _handle_comm
    result = handler(**msg)
             ^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_scheduler_extension.py", line 127, in get
    state = self.states[id]
            ~~~~~~~~~~~^^^^
KeyError: '6e163875b3fca3c262a953aa1d89e011'

2023-04-14 17:44:08,007 - distributed.core - ERROR - Exception while handling op shuffle_receive
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 830, in _handle_comm
    result = await result
             ^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 587, in shuffle_receive
    shuffle = await self._get_shuffle_run(shuffle_id, run_id)
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 678, in _get_shuffle_run
    shuffle = await self._refresh_shuffle(
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 749, in _refresh_shuffle
    result = await self.worker.scheduler.shuffle_get(
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1265, in send_recv_from_rpc
    return await send_recv(comm=comm, op=key, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1049, in send_recv
    raise exc.with_traceback(tb)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 828, in _handle_comm
    result = handler(**msg)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_scheduler_extension.py", line 127, in get
    state = self.states[id]
    ^^^^^^^^^^^^^^^^^
KeyError: '6e163875b3fca3c262a953aa1d89e011'
2023-04-14 17:44:08,036 - distributed.shuffle._comms - ERROR - '6e163875b3fca3c262a953aa1d89e011'
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_comms.py", line 71, in _process
    await self.send(address, shards)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 123, in send
    return await self.rpc(address).shuffle_receive(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1265, in send_recv_from_rpc
    return await send_recv(comm=comm, op=key, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1049, in send_recv
    raise exc.with_traceback(tb)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 830, in _handle_comm
    result = await result
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 587, in shuffle_receive
    shuffle = await self._get_shuffle_run(shuffle_id, run_id)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 678, in _get_shuffle_run
    shuffle = await self._refresh_shuffle(
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 749, in _refresh_shuffle
    result = await self.worker.scheduler.shuffle_get(
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1265, in send_recv_from_rpc
    return await send_recv(comm=comm, op=key, **kwargs)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1049, in send_recv
    raise exc.with_traceback(tb)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 828, in _handle_comm
    result = handler(**msg)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_scheduler_extension.py", line 127, in get
    state = self.states[id]
    ^^^^^^^^^^^^^^^^^
KeyError: '6e163875b3fca3c262a953aa1d89e011'
2023-04-14 17:44:08,064 - distributed.core - ERROR - Exception while handling op shuffle_receive
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 830, in _handle_comm
    result = await result
             ^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 587, in shuffle_receive
    shuffle = await self._get_shuffle_run(shuffle_id, run_id)
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 678, in _get_shuffle_run
    shuffle = await self._refresh_shuffle(
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 749, in _refresh_shuffle
    result = await self.worker.scheduler.shuffle_get(
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1265, in send_recv_from_rpc
    return await send_recv(comm=comm, op=key, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1049, in send_recv
    raise exc.with_traceback(tb)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 828, in _handle_comm
    result = handler(**msg)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_scheduler_extension.py", line 127, in get
    state = self.states[id]
    ^^^^^^^^^^^^^^^^^
KeyError: '6e163875b3fca3c262a953aa1d89e011'
2023-04-14 17:44:08,112 - distributed.core - ERROR - Exception while handling op shuffle_get
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 828, in _handle_comm
    result = handler(**msg)
             ^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_scheduler_extension.py", line 127, in get
    state = self.states[id]
            ~~~~~~~~~~~^^^^
KeyError: '6e163875b3fca3c262a953aa1d89e011'
2023-04-14 17:44:08,121 - distributed.core - ERROR - Exception while handling op shuffle_get
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 828, in _handle_comm
    result = handler(**msg)
             ^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_scheduler_extension.py", line 127, in get
    state = self.states[id]
            ~~~~~~~~~~~^^^^
KeyError: '6e163875b3fca3c262a953aa1d89e011'
2023-04-14 17:44:08,138 - distributed.shuffle._comms - ERROR - Shuffle 6e163875b3fca3c262a953aa1d89e011 forgotten
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_comms.py", line 71, in _process
    await self.send(address, shards)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 123, in send
    return await self.rpc(address).shuffle_receive(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1265, in send_recv_from_rpc
    return await send_recv(comm=comm, op=key, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1049, in send_recv
    raise exc.with_traceback(tb)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 830, in _handle_comm
    result = await result
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 588, in shuffle_receive
    await shuffle.receive(data)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 463, in receive
    await self._receive(data)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 480, in _receive
    await self._write_to_disk(groups)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 155, in _write_to_disk
    self.raise_if_closed()
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 163, in raise_if_closed
    raise self._exception
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 830, in _handle_comm
    result = await result
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 588, in shuffle_receive
    await shuffle.receive(data)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 463, in receive
    await self._receive(data)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 480, in _receive
    await self._write_to_disk(groups)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 155, in _write_to_disk
    self.raise_if_closed()
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 163, in raise_if_closed
    raise self._exception
    ^^^^^^^^^^^^^^^^^
RuntimeError: Shuffle 6e163875b3fca3c262a953aa1d89e011 forgotten
2023-04-14 17:44:08,142 - distributed.core - ERROR - Exception while handling op shuffle_get
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 828, in _handle_comm
    result = handler(**msg)
             ^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_scheduler_extension.py", line 127, in get
    state = self.states[id]
            ~~~~~~~~~~~^^^^
KeyError: '6e163875b3fca3c262a953aa1d89e011'
2023-04-14 17:44:08,148 - distributed.shuffle._comms - ERROR - Shuffle 6e163875b3fca3c262a953aa1d89e011 forgotten
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_comms.py", line 71, in _process
    await self.send(address, shards)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 123, in send
    return await self.rpc(address).shuffle_receive(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1265, in send_recv_from_rpc
    return await send_recv(comm=comm, op=key, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1049, in send_recv
    raise exc.with_traceback(tb)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 830, in _handle_comm
    result = await result
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 588, in shuffle_receive
    await shuffle.receive(data)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 463, in receive
    await self._receive(data)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 480, in _receive
    await self._write_to_disk(groups)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 155, in _write_to_disk
    self.raise_if_closed()
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 163, in raise_if_closed
    raise self._exception
    ^^^^^^^^^^^^^^^^^
RuntimeError: Shuffle 6e163875b3fca3c262a953aa1d89e011 forgotten
2023-04-14 17:44:08,194 - distributed.core - ERROR - Exception while handling op shuffle_get
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 828, in _handle_comm
    result = handler(**msg)
             ^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_scheduler_extension.py", line 127, in get
    state = self.states[id]
            ~~~~~~~~~~~^^^^
KeyError: '6e163875b3fca3c262a953aa1d89e011'
2023-04-14 17:44:08,194 - distributed.core - ERROR - Exception while handling op shuffle_receive
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 830, in _handle_comm
    result = await result
             ^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 587, in shuffle_receive
    shuffle = await self._get_shuffle_run(shuffle_id, run_id)
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 678, in _get_shuffle_run
    shuffle = await self._refresh_shuffle(
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 749, in _refresh_shuffle
    result = await self.worker.scheduler.shuffle_get(
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1265, in send_recv_from_rpc
    return await send_recv(comm=comm, op=key, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1049, in send_recv
    raise exc.with_traceback(tb)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 828, in _handle_comm
    result = handler(**msg)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_scheduler_extension.py", line 127, in get
    state = self.states[id]
    ^^^^^^^^^^^^^^^^^
KeyError: '6e163875b3fca3c262a953aa1d89e011'
2023-04-14 17:44:08,201 - distributed.core - ERROR - Exception while handling op shuffle_receive
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 830, in _handle_comm
    result = await result
             ^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 587, in shuffle_receive
    shuffle = await self._get_shuffle_run(shuffle_id, run_id)
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 678, in _get_shuffle_run
    shuffle = await self._refresh_shuffle(
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 749, in _refresh_shuffle
    result = await self.worker.scheduler.shuffle_get(
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1265, in send_recv_from_rpc
    return await send_recv(comm=comm, op=key, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1049, in send_recv
    raise exc.with_traceback(tb)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 828, in _handle_comm
    result = handler(**msg)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_scheduler_extension.py", line 127, in get
    state = self.states[id]
    ^^^^^^^^^^^^^^^^^
KeyError: '6e163875b3fca3c262a953aa1d89e011'
2023-04-14 17:44:08,204 - distributed.core - ERROR - Exception while handling op shuffle_receive
Traceback (most recent call last):
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 830, in _handle_comm
    result = await result
             ^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 587, in shuffle_receive
    shuffle = await self._get_shuffle_run(shuffle_id, run_id)
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 678, in _get_shuffle_run
    shuffle = await self._refresh_shuffle(
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_worker_extension.py", line 749, in _refresh_shuffle
    result = await self.worker.scheduler.shuffle_get(
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1265, in send_recv_from_rpc
    return await send_recv(comm=comm, op=key, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 1049, in send_recv
    raise exc.with_traceback(tb)
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/core.py", line 828, in _handle_comm
    result = handler(**msg)
    ^^^^^^^^^^^^^^^^^
  File "/Users/matthew.wilde/mambaforge/envs/py311/lib/python3.11/site-packages/distributed/shuffle/_scheduler_extension.py", line 127, in get
    state = self.states[id]
    ^^^^^^^^^^^^^^^^^

In [59]:
problem = trips.loc[trips['person_id'] == '17832631922058752069'].compute()

2023-04-17 17:05:32,482 - distributed.scheduler - WARNING - Worker failed to heartbeat within 300 seconds. Closing: <WorkerState 'tcp://127.0.0.1:49848', name: 1, status: running, memory: 0, processing: 3>
2023-04-17 17:05:50,788 - distributed.nanny - WARNING - Worker process still alive after 3.1999960327148442 seconds, killing

In [60]:
problem

,activity_id,person_id,mode,travel_purpose,previous_activity_type,start_time,end_time,distance_miles,vehicle_type,origin_bgrp,origin_bgrp_lat,origin_bgrp_lng,destination_bgrp,destination_bgrp_lat,destination_bgrp_lng,origin_land_use_l1,origin_land_use_l2,origin_building_use_l1,origin_building_use_l2,destination_land_use_l1,destination_land_use_l2,destination_building_use_l1,destination_building_use_l2,origin_lat,origin_lng,destination_lat,destination_lng
108498,16874096940537531455,17832631922058752069,WALKING,SOCIAL,LODGING,0 days 07:30:00,0 days 07:30:00,0.000000,nan,530330284032,47.439883,-122.291595,530330284032,47.439883,-122.291595,commercial,retail,commercial,retail,commercial,retail,commercial,retail,47.437312,-122.287622,47.437289,-122.287595
114882,3611042350494732001,17832631922058752069,PRIVATE_AUTO,SHOP,SOCIAL,0 days 07:42:00,0 days 07:49:55,3.439509,nan,530330284032,47.439883,-122.291595,530330262001,47.464988,-122.233845,commercial,retail,commercial,retail,commercial,office,commercial,retail,47.437289,-122.287595,47.458555,-122.258554
106624,12277342496296167424,17832631922058752069,PRIVATE_AUTO,SHOP,SHOP,0 days 09:30:00,0 days 09:37:33,2.557958,nan,530330262001,47.464988,-122.233845,530330262001,47.464988,-122.233845,commercial,office,commercial,retail,commercial,retail,commercial,retail,47.458555,-122.258554,47.471326,-122.218900
66941,15189215599697005260,17832631922058752069,PRIVATE_AUTO,MAINTENANCE,LODGING,0 days 10:26:00,0 days 10:34:56,3.156956,nan,530330284032,47.439883,-122.291595,530330262001,47.464988,-122.233845,commercial,retail,commercial,retail,commercial,office,commercial,office,47.437312,-122.287622,47.456247,-122.259304
60561,17175012580755845915,17832631922058752069,CARPOOL,LODGING,MAINTENANCE,0 days 12:23:00,0 days 12:35:32,5.381641,nan,530330262001,47.464988,-122.233845,530330258051,47.448808,-122.191489,commercial,office,commercial,office,mixed_use,office,commercial,office,47.456247,-122.259304,47.449476,-122.189093
36214,15444420399981297726,17832631922058752069,PRIVATE_AUTO,LODGING,SHOP,0 days 16:01:00,0 days 16:11:15,3.991730,nan,530330262001,47.464988,-122.233845,530330293053,47.426786,-122.205197,commercial,retail,commercial,retail,residential,single_family,residential,single_family,47.471326,-122.218900,47.427611,-122.199303
115338,1366743695637767250,17832631922058752069,PRIVATE_AUTO,SHOP,LODGING,0 days 17:58:00,0 days 18:06:10,2.904485,nan,530330258051,47.448808,-122.191489,530330262001,47.464988,-122.233845,mixed_use,office,commercial,office,commercial,retail,commercial,office,47.449476,-122.189093,47.471709,-122.220236
73325,2831652192349944436,17832631922058752069,PRIVATE_AUTO,LODGING,SHOP,0 days 20:33:00,0 days 20:42:09,4.358946,nan,530330262001,47.464988,-122.233845,530330293053,47.426786,-122.205197,commercial,retail,commercial,office,residential,single_family,residential,single_family,47.471709,-122.220236,47.426960,-122.204309

In [62]:
problem['person_id'].dtype

dtype('O')

In [64]:
pop = dd.read_parquet('../../data/northwest_2021_Q4_population.parquet')

dtype('O')